<div class="content-inner content-evictions" [class.panel-open]="canRetrieveData && (selectedIndex || selectedIndex === 0)">
  <div class="ranking-ui-container">
    <button class="search-filter" (click)="showUiPanel = true">
      <app-ui-icon icon="search"></app-ui-icon>
      <span> {{ 'RANKINGS.SEARCH_FILTER' | translate }}</span>
    </button>
    <app-ranking-ui class="ranking-ui-panel"
      [class.show]="showUiPanel"
      [locationList]="rankings.evictions"
      [regions]="rankings.regionList"
      [areaTypes]="rankings.areaTypes"
      [dataProperties]="rankings.sortProps"
      (selectedLocationChange)="onSearchSelectLocation($event.hasOwnProperty('selection') ? $event.selection : null)"
      [selectedRegion]="region"
      (selectedRegionChange)="onRegionChange($event)"
      [selectedAreaType]="areaType"
      (selectedAreaTypeChange)="onAreaTypeChange($event)"
      [selectedDataProperty]="dataProperty"
      (selectedDataPropertyChange)="onDataPropertyChange($event)"
      (applyFilters)="showUiPanel = false"
      (clearFilters)="showUiPanel = false"
      (closePanel)="showUiPanel = false"
    >
      <div class="share-wrapper">
        <span class="share-intro">{{ 'RANKINGS.SHARE_VIA' | translate }}</span>
        <app-ui-social-share
          [tweet]="tweet"
          emailSubject="Eviction Lab"
        ></app-ui-social-share>
      </div>
  </app-ranking-ui>
  </div>
  <div class="ranking-body">
    <h2 *ngIf="areaType && region">{{ 'RANKINGS.LIST_HEADING' | translate:{'area': areaType.name, 'region': region } }}</h2>
    <h3 *ngIf="dataProperty">{{ 'RANKINGS.LIST_SUBHEADING' | translate:{'dataProperty': dataProperty.name } }}</h3>
    <p>{{ 'RANKINGS.LIST_INTRO' | translate:{'year': rankings.year} }}</p>
    <app-ranking-list *ngIf="areaType && dataProperty"
      [class]="'area-'+areaType.value"
      [list]="truncatedList"
      [dataProperty]="dataProperty.value"
      [maxValue]="dataMax"
      [selectedIndex]="selectedIndex"
      (locationSelected)="onClickLocation($event)"
    ></app-ranking-list>
  </div>
</div>
<div class="page-fixed-bottom" 
  [class.visible]="canRetrieveData && (selectedIndex || selectedIndex === 0)"
>
  <app-ranking-panel
    *ngIf="canRetrieveData && (selectedIndex || selectedIndex === 0)"
    [class]="'area-'+areaType.value"
    [topCount]="topCount"
    [rank]="selectedIndex+1"
    [location]="listData[selectedIndex]"
    [dataProperty]="dataProperty"
    (goToPrevious)="onGoToPrevious()"
    (goToNext)="onGoToNext()"
    (close)="onClose()"
    (locationClick)="onPanelLocationClick($event)"
  ></app-ranking-panel>
</div>