// Slider theme
@mixin slider-colors($textColor, $foregroundColor, $backgroundColor) {
    .el-slider {
        .track, .scrubber-label {
          background: $foregroundColor;
        }
        .track-full { 
          background: $backgroundColor;
        }
        .scrubber-label {
          color: $textColor;            
        }
        .scrubber-label:after {
          border-top-color: $foregroundColor!important;
        }
        .scrubber-marker {
          border: 4px solid $foregroundColor;
          background: $textColor;
        }
        &.vertical .scrubber-label:after {
            border-top-color: transparent!important;
            border-right-color: $foregroundColor!important;
        }
    }
}