@import '../../../theme';

@mixin dataPanelHeader($size) {
  @include defaultFont($size);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  span {
    @include defaultFontBold($size);
  }
}

.data-wrapper {
  border-top: 1px solid #eee;

}

// Data panel header text
// ----
.data-header {
  @include dataPanelHeader(14px);
  text-align: center;  
  margin: grid(3) grid(4) 0;
  p { margin:0; }
  // margin: grid(5) grid(4);
}
// increase header spacing for devices larger than mobile
:host-context(.gt-mobile) {
  .data-header { margin: grid(4) 0 grid(2); }
}
// increase spacing for devices larger than tablet
:host-context(.gt-tablet) {
  .data-header { margin: grid(8) 0 grid(4); }
}

.data-content {
  position:relative;
  width:100%;
  box-sizing: border-box;
  overflow:auto;
  // padding at the bottom to leave space for "back to map" button
  padding: 0 $defaultPadding grid(15); 
  .data-content-inner {
    max-width: $maxContentWidth;
    padding: $defaultPadding;
    margin: auto;
    &.top-content { position: relative; }
  }
}

.share-container {
  display:block;
  clear: both;
}


app-location-cards {
  clear:both;
  display:block;
  display:flex;
  align-content: space-between;
  align-items:stretch;
  justify-content: space-between;
  margin-top:24px;
  margin-bottom: 48px;
}

.data-panel-footer {
  clear:both;
  display:flex;
  flex-direction: column;
  align-content: space-between;
  align-items:center;
  justify-content: space-around;
  .action-wrapper {
    width: grid(33);
    text-align:center;
    margin: 0 grid(1);
    .btn { 
      &:hover, &:focus, &:active {
        color: $grey1;
        background: $white;
        border: 5px solid $grey2;
      }
      // non-icon buttons fill container
      &:not(.icon) {
        width:100%;
      }
    }
    // text under buttons
    span { 
      max-width: grid(33);
      color: $grey1; 
      @include defaultFont(14px);
      display: block;
      margin: grid(2) auto grid(4);
      line-height: 21px;
    }
    .social-icons {
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: space-around;
      a:hover {
        text-decoration: none;
      }
    }
  }
}
:host-context(.gt-mobile) {
  .data-panel-footer {
    flex-direction: row;
    align-items: flex-start;
  }
}
