@import '../../../theme';

@mixin dataPanelHeader($size) {
  @include defaultFont($size);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  span {
    @include defaultFontBold($size);
  }
}

.data-wrapper {
  border-top: 1px solid #eee;
}

// Data panel header text
// ----
.data-header {
  @include dataPanelHeader(14px);
  text-align: center;  
  margin: grid(5) grid(4);
}
// increase spacing for devices larger than tablet
:host-context(.gt-tablet) {
  .data-header { margin: grid(8) 0 grid(4); }
}

.data-content {
  position:relative;
  width:100%;
  box-sizing: border-box;
  overflow:auto;
  // padding at the bottom to leave space for "back to map" button
  padding: 0 $defaultPadding grid(12); 
  .data-content-inner {
    max-width: $maxContentWidth;
    padding: $defaultPadding;
    margin: auto;
    &.top-content { position: relative; }
  }
}

.share-container {
  display:block;
  clear: both;
}

@mixin yearSelectLabel($size) {
  @include defaultFont($size);
  letter-spacing: 0.7px;
  color: $graphAxisLabels;
  text-transform: uppercase;
}

// Graphs
// ----
.graph-container {
  background: $secondaryBackground;
  .data-content-inner {
    margin: 0 auto grid(4);
    padding: grid(3) 0;
    max-width: $maxContentWidth;
  }
}
// header with graph controls
.graph-header {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  > * {
    margin: grid(1);
  }
  .graph-eviction-toggle {
    order: 1;
  }
  .graph-type-toggle {
    order: 3;
  }
  .graph-year-select {
    order: 2;
    .graph-year-label { display: none; }
    .graph-line-selects { 
      display:flex;
      align-items: flex-start;
      justify-content: space-between;
      span { 
        line-height: grid(5); 
        margin: 0 grid(1.5); 
        @include yearSelectLabel(10px);
      }
    }
  }
}
// graph style
.graph-area { 
  display: block; 
  width:100%;
  text-align:right;
  app-graph {
    display:block;
    width:100%;
    padding-top:56.25%;
    position:relative;
    ::ng-deep {
      .axis path, .graph-rect { 
        stroke: $graphAxisLines;
        stroke-width: 2px;
      }
      // tick labels
      .axis .tick text {
        fill: $graphAxisLabels;
        font-size:10px;
      }
      .axis line { stroke: #fff; }
      // hide tick lines
      .axis-x .tick {
        line { display:none; }
      }
    }
  }
  // no tick labels on bar graphs
  &.bar-graph app-graph ::ng-deep {
    .axis-x .tick {
      display:none;
    }
  }
}
.graph-legend {
  padding: grid(3) grid(2) 0;
  .graph-year-select {
    margin-bottom: grid(2);
    div span { margin: 0 grid(1); }
  }
  ul {
    list-style: none;
    margin:0;
    padding:0;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
  }
  li {
    position:relative;
    width:100%;
    margin: grid(1.5) 0;
    .legend-marker {
      height: grid(3);
      width: grid(2);
      position:absolute;
      top:0; left:0;
      margin: auto;
    }
    .legend-label {
      margin-left: grid(5);
      margin-right: grid(6);
      display:block;
      line-height: 24px;
      @include defaultFontBold(18px);
    }
    .btn-remove { 
      position:absolute;
      right:0;
      top:2px;
      padding:0;
      margin:auto 0;
      color: $linkColor; 
      background:none;
      @include defaultFontBold(9px);
      text-transform: uppercase;
      letter-spacing: 0.8px;
      height: 24px;
    }
    &:last-child { border-bottom: none; }
    &:nth-child(1) .legend-marker path { fill: $graphColor1; }
    &:nth-child(2) .legend-marker path { fill: $graphColor2; }
    &:nth-child(3) .legend-marker path { fill: $graphColor3; }
    &:nth-child(4) .legend-marker path { fill: $graphColor4; }
  }
}

:host-context(.gt-mobile) {
  .graph-header {
    flex-direction: row;
    padding:0 grid(2);
    .graph-eviction-toggle {
      order: 1;
    }
    .graph-type-toggle {
      order: 2;
    }
    .graph-year-select {
      order: 3;
    }
  }
  .graph-legend {
    padding-left: grid(3);
    padding-right: grid(3);
    ul {
      flex-direction:row;
    }
    li {
      width:auto;
      .legend-label {
        margin-right:0;
      }
      .btn-remove { 
        display:block;
        position:static;
        margin-left: grid(5);
        @include smallCapsText(11px);
      }
    }
  }
}
:host-context(.gt-tablet) {
  .graph-header {
    position: relative;
    .graph-year-label { 
      display: block; 
      float: left;
      @include yearSelectLabel(14px);
      margin-right: grid(2);
      color: $graphAxisLabels;
      line-height: grid(5);
    }
    .graph-year-select {
      margin-left: grid(3);
      position: absolute;
      left: 66.6666%;
      top: 0;
    }
    .graph-type-toggle {
      position: absolute;
      right: 33.333333%;
      margin-right: grid(2);
      top: 0;
    }
    .graph-bar-select { display: block; float:left; }
    .graph-line-selects span { @include yearSelectLabel(14px); }
  }
  .graph-area { 
    width:66.666666%; 
    display:inline-block;
  }
  .graph-legend {
    width: 33.33333%;
    float:right;
    ul {
      flex-direction:column;
    }
  }
}

// Tooltips
// ----
.line-tooltips, .bar-tooltips {
  @include fill-parent();
  pointer-events: none;
}
.line-tooltip, .bar-tooltip {
  position:absolute;
  top:0;
  left:0;
  color: #fff;
  padding:4px;
  font-size: 11px;
  background: rgba(0,0,0,0.8);
  border-radius: 3px;
}
.bar-tooltip {
  width: 40px;
  text-align:center;
  margin-left: -20px;
  margin-top: -26px;
  @include down-arrow(6px, rgba(0,0,0,0.8));
}
.line-tooltip {
  width: 48px;
  height: 24px;
  margin-top:-12px;
  margin-left: 12px;
  text-align:center;
  line-height: 15px;
  transition: transform 0.4s ease;
  @include left-arrow(6px, rgba(0,0,0,0.8));
  &:after { z-index:5; }
  &:before {
    content: "";
    display:block;
    width:10px;
    height:10px;
    border-radius:6px;
    position:absolute;
    top: 7px;
    left:0px;
    margin-left: -14px;
    z-index:1;
  }
  &:nth-child(1):before {
    background:$color1;
  }
  &:nth-child(2):before {
    background:$color2;
  }
  &:nth-child(3):before {
    background:$color3;
  }
  .line-tooltip-year {
    display:block;
    font-weight: 400;
  }
  .line-tooltip-value {
    font-weight: 600;
  }
}

app-location-cards {
  clear:both;
  display:block;
  display:flex;
  align-content: space-between;
  align-items:stretch;
  justify-content: space-between;
  margin-top:24px;
  margin-bottom: 48px;
}

.data-panel-footer {
  clear:both;
  display:flex;
  align-content: space-between;
  align-items:flex-start;
  justify-content: space-around;
  .action-wrapper {
    width:268px;
    text-align:center;
    .btn { 
      display:block; 
      width: 100%; 
      max-width: 200px;
      margin:auto;
      margin-bottom:4px;
    }
    span { 
      max-width: 220px;
      color: #999; 
      font-size: 11px;
      line-height: 16px;
      display: block;
      margin: 10px auto 0;
    }
  }
}

.data-panel-footer .action-wrapper .social-icons {
  text-align: center;
  a {
    display:inline-block;
  }
  a:hover {
    text-decoration: none;
  }

  .btn {
    display: inline-block;
    width: 56px;
    height:56px;
    padding: 3px 0 0 0;
    margin: 0;
    path { fill: $color1; }
  }
}
