@import '../../../theme';

// Data panel header text
// ----
.data-header {
  @include dataPanelHeader(14px);
  text-align: center;  
  margin: grid(3) grid(4) 0;
  p { margin:0; }
  // margin: grid(5) grid(4);
}
// increase header spacing for devices larger than mobile
:host-context(.gt-mobile) {
  .data-header { margin: grid(4) 0 grid(2); }
}
// increase spacing for devices larger than tablet
:host-context(.gt-tablet) {
  .data-header { margin: grid(8) 0 grid(4); }
}

.data-content {
  position:relative;
  width:100%;
  box-sizing: border-box;
  overflow:auto;
  // padding at the bottom to leave space for "back to map" button
  padding: 0 $defaultPadding grid(15); 
  .data-content-inner {
    max-width: $maxContentWidth;
    padding: $defaultPadding;
    margin: auto;
    &.top-content { position: relative; }
  }
}

// Data Panel Cards
// ---
app-location-cards {
  clear:both;
  display:block;
  display:flex;
  align-content: space-between;
  align-items:stretch;
  justify-content: space-between;
  margin-top: grid(3);
  margin-bottom: grid(6);
}

// Data Panel Footer Container
// ---
.data-panel-footer {
  clear:both;
  display:flex;
  flex-direction: column;
  align-content: space-between;
  align-items:center;
  justify-content: space-around;
  margin-bottom: grid(5);
}
:host-context(.gt-tablet) {
  .data-panel-footer {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
}

// Data Panel Footer Actions (Share, Download, Data)
// ---
.action-wrapper {
  position: relative;
  width: grid(33);
  text-align:center;
  margin: grid(3) 0 grid(1);
  & > svg {
    display: block;
    height: grid(5);
    margin:auto;
  }
  h2 {
    @include altFont(16px);
    line-height:1;
    margin: grid(2) 0;
  }
  .btn { 
    @include altSmallCapsText(13px);
    border: 5px solid $grey5;
    color: $grey1a;
    &:hover, &:focus, &:active {
      background: $white;
      border: 5px solid $grey5;
      color: $black;
      path { fill: $black; }
    }
    // non-icon buttons fill container
    &:not(.icon) { width:100%; }
  }
  // text under buttons
  span { 
    display: block;
    margin: grid(2) auto grid(2);
    @include defaultFont(14px);
    color: $grey1; 
  }
}
// move icon to the left on tablet
@media(min-width: $gtMobile) {
  .action-wrapper {
    text-align:left;
    & > svg {
      position:absolute;
      height: grid(7);
      top:0;
      bottom:0;
      left: -1 * grid(13);
    }
    h2 {
      @include altFont(21px);
    }
    .btn {
      @include altSmallCapsText(16px);
    }
  }
}
// move icon below heading on laptop
@media(min-width: $gtTablet) {
  .action-wrapper {
    text-align:center;
    & > svg {
      position:absolute;
      height: grid(9);
      top:grid(8);
      right:0;
      left: 0;
      bottom: auto;
    }
    h2 {
      @include altFont(26px);
      margin-bottom: grid(15); // space for icon
    }
  }
}

// Social icons
// ---
.social-icons {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  a:hover {
    text-decoration: none;
  }
}

// Margin in link/embed share popover
::ng-deep {
  .popover .popover-content app-ui-copy-clipboard:not(:last-child) {
    margin-bottom: grid(2);
  }
}
