<div class="data-wrapper">
  <div class="mobile-scroll-indicator">
    <p *ngIf="locations.length === 1">{{ 'MAP.SCROLL_DATA_SINGLE' | translate}}</p>
    <p *ngIf="locations.length > 1">{{ 'MAP.SCROLL_DATA_MULTIPLE' | translate}}</p>
  </div>
  <div class="data-header">
      <p [innerHTML]="'DATA.CARD_HEADING' | translate:{'year':year}"></p>
  </div>
  <app-location-cards
    class="card-table"
    [allowAddLocation]="locations.length < 3"
    [features]="locations"
    [year]="year"
    [cardProperties]="cardProps"
    (dismissedCard)="locationRemoved.emit($event)"
    (locationAdded)="locationAdded.emit($event)"
    [dollarProps]="dollarProps"
    [percentProps]="percentProps"
  ></app-location-cards>
  <div class="graph-container">
    <div class="data-content-inner">
      <div class="graph-header">
        <div class="graph-header-inner">
          <app-ui-switch 
            tabindex="0"
            [leftLabel]="'DATA.JUDGMENTS'| translate" 
            [rightLabel]="'DATA.FILINGS' | translate" 
            (switched)="changeGraphProperty($event)"
          ></app-ui-switch>
          <div class="graph-year-select">
            <span class="graph-year-label"> {{ 'DATA.DATE_RANGE' | translate }}</span>
            <div class="graph-select" *ngIf="graphType === 'line'">
              <app-ui-select class="z0" [values]="startSelect" [selectedValue]="minYear" (change)="updateLineYears($event, lineEndYear)"></app-ui-select>
              <span>to</span>
              <app-ui-select class="z0" [values]="endSelect" [selectedValue]="maxYear" (change)="updateLineYears(lineStartYear, $event)"></app-ui-select>
            </div>
            <div class="graph-select" *ngIf="graphType === 'bar'">
              <app-ui-select class="z0" [selectedValue]="year" [values]="barYearSelect"
                (change)="updateBarYear($event)"></app-ui-select>
            </div>
          </div>
        </div>
      </div>
      <div class="graph-area" [class.line-graph]="graphType === 'line'" [class.bar-graph]="graphType === 'bar'">
        <app-ui-toggle
          class="graph-type-toggle"
          aria-label="Graph type"
          [values]="[ 'Bar', 'Line' ]"
          [selectedValue]="graphType.charAt(0).toUpperCase() + graphType.slice(1)"
          (selectedValueChanged)="changeGraphType($event)"
        ></app-ui-toggle>
        <app-graph [data]="graphData" [settings]="graphSettings" [hoverAll]="true" (activeValuesChanged)="graphHover.emit($event)">
          <div class="line-tooltips" *ngIf="graphType === 'line'">
            <div class="line-tooltip" *ngFor="let tooltip of tooltips; trackBy: trackTooltips"
                [style.transform]="'translate('+ tooltip.xPos +'px, ' + tooltip.yPos + 'px)'"
                [style.display]="tooltip.y === undefined ? 'none' : 'inherit'">
              <span class="line-tooltip-value">{{tooltip.y}}</span>
            </div>
            <div class="year-marker" *ngIf="tooltips.length" [style.transform]="'translateX('+ tooltips[0].xPos +'px)'"><span>{{tooltips[0].x}}</span></div>            
          </div>
          <div class="bar-tooltips" *ngIf="graphType === 'bar'">
            <div class="bar-tooltip" *ngFor="let tooltip of tooltips" [style.transform]="'translate('+ (tooltip.left + tooltip.width/2) +'px, ' + tooltip.top + 'px)'">
              <span *ngIf="tooltip.data && tooltip.data.length">{{ tooltip.data[0].y >= 0 ? tooltip.data[0].y : 'Unavailable' }}</span>
            </div>
          </div>
        </app-graph>
      </div>
      <div class="graph-legend">
        <ul>
          <li *ngFor="let location of locations; let i = index">
            <svg class="legend-marker marker" viewBox="0 0 40 58" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <path d="M20,0 C29.8203125,0 40,6.75551115 40,19.0800608 C40,27.2964272 33.3333333,40.2697402 20,58 C6.66666667,40.3015304 3.48313052e-16,27.3282173 0,19.0800608 C0,6.70782593 10.1796875,0 20,0 Z M19.5,29.7038377 C24.4705627,29.7038377 28.5,25.6678161 28.5,20.6891311 C28.5,15.7104461 24.4705627,11.6744245 19.5,11.6744245 C14.5294373,11.6744245 10.5,15.7104461 10.5,20.6891311 C10.5,25.6678161 14.5294373,29.7038377 19.5,29.7038377 Z" id="Combined-Shape"></path>
            </svg>
            <span class="legend-label">{{ location.properties["n"] }}</span>
            <button [attr.aria-label]="'Remove ' + location.properties.n" class="btn btn-close" (click)="locationRemoved.emit(location)">
              <span aria-hidden="true">&times;</span>
            </button>
            <p class="legend-data">
              <span *ngIf="graphType === 'bar' && location.properties[graphProp + '-' + abbrYear(year)] >= 0; else unavailableBar">{{ year }}: {{ location.properties[graphProp + "-" + abbrYear(year)] }}{{ suffix(graphProp) }}</span>
              <span *ngIf="graphType === 'line' && tooltips[i] && tooltips[i].y !== undefined && location.properties[graphProp + '-' + abbrYear(tooltips[i].x)] >= 0; else unavailableLine">{{ tooltips[i].x }}: {{ location.properties[graphProp + "-" + abbrYear(tooltips[i].x)] }}{{ suffix(graphProp) }}</span>
              <ng-template #unavailableBar><span *ngIf="graphType === 'bar'">{{ year }}: Unavailable</span></ng-template>
              <ng-template #unavailableLine><span *ngIf="graphType === 'line' && tooltips[i] && getTooltipsYear(tooltips) !== null">{{ getTooltipsYear(tooltips) }}: Unavailable</span></ng-template>
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="data-content">
    <div class="data-content-inner">
      <div class="data-panel-footer">
        <div class="action-wrapper">
          <div class="social-icons">
            <a 
              class="btn btn-border btn-social-icon btn-twitter" 
              appSocialSharePopup 
              href="http://twitter.com/intent/tweet?status={{ tweetTranslation | translate:tweetParams }}" 
              aria-label="Share on Twitter"
            >
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 24 24">
                <path d="M22.46,6C21.69,6.35 20.86,6.58 20,6.69C20.88,6.16 21.56,5.32 21.88,4.31C21.05,4.81 20.13,5.16 19.16,5.36C18.37,4.5 17.26,4 16,4C13.65,4 11.73,5.92 11.73,8.29C11.73,8.63 11.77,8.96 11.84,9.27C8.28,9.09 5.11,7.38 3,4.79C2.63,5.42 2.42,6.16 2.42,6.94C2.42,8.43 3.17,9.75 4.33,10.5C3.62,10.5 2.96,10.3 2.38,10C2.38,10 2.38,10 2.38,10.03C2.38,12.11 3.86,13.85 5.82,14.24C5.46,14.34 5.08,14.39 4.69,14.39C4.42,14.39 4.15,14.36 3.89,14.31C4.43,16 6,17.26 7.89,17.29C6.43,18.45 4.58,19.13 2.56,19.13C2.22,19.13 1.88,19.11 1.54,19.07C3.44,20.29 5.7,21 8.12,21C16,21 20.33,14.46 20.33,8.79C20.33,8.6 20.33,8.42 20.32,8.23C21.16,7.63 21.88,6.87 22.46,6Z"
                />
              </svg>
            </a>
            <a
              class="btn btn-border btn-social-icon btn-facebook"
              appSocialSharePopup 
              [href]="'https://www.facebook.com/sharer.php?u=' + getCurrentUrl()"  
              aria-label="Share on Facebook"
            >
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 24 24">
                <path d="M17,2V2H17V6H15C14.31,6 14,6.81 14,7.5V10H14L17,10V14H14V22H10V14H7V10H10V6A4,4 0 0,1 14,2H17Z" />
              </svg>
            </a>
            <ng-template #popTemplate>
              <app-ui-copy-clipboard [copyText]="getCurrentUrl()" [hintText]="'DATA.SHARE_HINT' | translate"></app-ui-copy-clipboard>
            </ng-template>
            <button class="btn btn-border btn-social-icon btn-link" container="body" [outsideClick]="true" [popover]="popTemplate" [popoverTitle]="'DATA.SHARE_LINK' | translate"
              aria-label="Share link">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 24 24">
                <path d="M16,6H13V7.9H16C18.26,7.9 20.1,9.73 20.1,12A4.1,4.1 0 0,1 16,16.1H13V18H16A6,6 0 0,0 22,12C22,8.68 19.31,6 16,6M3.9,12C3.9,9.73 5.74,7.9 8,7.9H11V6H8A6,6 0 0,0 2,12A6,6 0 0,0 8,18H11V16.1H8C5.74,16.1 3.9,14.26 3.9,12M8,13H16V11H8V13Z"
                />
              </svg>
            </button>
            <a
              class="btn btn-border btn-social-icon btn-email" 
              [href]="'mailto:?subject=Eviction Lab&body=' + getCurrentUrl()" 
              (click)="checkMailto($event)" 
              aria-label="Share via E-mail"
            >
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 24 24">
                <path d="M20,8L12,13L4,8V6L12,11L20,6M20,4H4C2.89,4 2,4.89 2,6V18A2,2 0 0,0 4,20H20A2,2 0 0,0 22,18V6C22,4.89 21.1,4 20,4Z" />
              </svg>
            </a>
          </div>
          <span>{{ 'DATA.SOCIAL_HINT' | translate }}</span>
        </div>
        <div class="action-wrapper">
          <button class="btn btn-border" (click)="showDownloadDialog($event)">{{ 'DATA.DOWNLOAD_BUTTON' | translate }}</button>
          <span>{{ 'DATA.DOWNLOAD_HINT' | translate }}</span>
        </div>
        <div class="action-wrapper">
          <a class="btn btn-border" href="http://eviction-lab-public-data.s3-website-us-east-1.amazonaws.com/">
            {{ 'DATA.GET_DATA' | translate }}
          </a>
          <span>{{ 'DATA.GET_DATA_HINT' | translate }}</span>
        </div>
      </div>

    </div>
    <ng-content></ng-content>
  </div> 
</div>
