@import '../../../theme';

.data-content {
    position:relative;
    width:100%;
    padding:0 $defaultPadding;
    box-sizing: border-box;
    overflow:auto;
    border-top: 1px solid #eee;
    .data-content-inner {
      max-width: $maxContentWidth;
      padding: 16px;
      margin:auto;
    }
}

.share-container {
  display:block;
  clear: both;
}

.graph-container {
  background: $secondaryBackground;
  margin: 0 -16px;
}

.graph-area { 
  display: block; 
  width:100%;
  text-align:right; 
  .graph-data-toggle {
    float:left;
  }
  app-ui-toggle { 
    display:inline-block; 

  }
  app-graph {
    display:block;
    width:100%;
    padding-top:56.25%;
    position:relative;
  }

  .line-tooltips, .bar-tooltips {
    @include fill-parent();
    pointer-events: none;
  }
  .line-tooltip, .bar-tooltip {
    position:absolute;
    top:0;
    left:0;
    color: #fff;
    padding:4px;
    font-size: 11px;
    background: rgba(0,0,0,0.8);
    border-radius: 3px;
  }
  .bar-tooltip {
    width: 40px;
    text-align:center;
    margin-left: -20px;
    margin-top: -26px;
    @include down-arrow(6px, rgba(0,0,0,0.8));
  }
  .line-tooltip {
    width: 48px;
    height: 24px;
    margin-top:-12px;
    margin-left: 12px;
    text-align:center;
    line-height: 15px;
    transition: transform 0.4s ease;
    @include left-arrow(6px, rgba(0,0,0,0.8));
    &:after { z-index:5; }
    &:before {
      content: "";
      display:block;
      width:10px;
      height:10px;
      border-radius:6px;
      position:absolute;
      top: 7px;
      left:0px;
      margin-left: -14px;
      z-index:1;
    }
    &:nth-child(1):before {
      background:$color1;
    }
    &:nth-child(2):before {
      background:$color2;
    }
    &:nth-child(3):before {
      background:$color3;
    }
    .line-tooltip-year {
      display:block;
      font-weight: 400;
    }
    .line-tooltip-value {
      font-weight: 600;
    }
  }
}
.graph-legend {
  padding-left: 32px;
  padding-top:44px;
  .graph-year-select {
    margin-bottom: 16px;
    div span { margin: 0 8px; }
  }
  span:first-child {
    display:block;
    margin-bottom: 8px;
    text-transform: uppercase;
    font-size: 12px;
  }
  app-ui-select {
    display:inline-block;
  }
  ul {
    list-style: none;
    margin:0;
    padding:0;
  }
  li {
    height: 56px;
    position:relative;
    padding-top: 16px;
    .legend-marker {
      width:24px;
      height:24px;
      border-radius: 12px;
      background:#ccc;
      vertical-align: middle;
      position:absolute;
      top:0; left:0; bottom:0;
      margin: auto;
    }
    .legend-label {
      margin-left: 40px;
      font-weight: 600;
      display:block;
    }
    .btn-remove { 
      display:block; 
      padding:0;
      margin:0 0 0 40px;
      color: $linkColor; 
      background:none;
      font-size:12px;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 0.8px;
    }
    &:last-child { border-bottom: none; }
    &:nth-child(1) .legend-marker { background: $graphColor1; }
    &:nth-child(2) .legend-marker { background: $graphColor2; }
    &:nth-child(3) .legend-marker { background: $graphColor3; }
    &:nth-child(4) .legend-marker { background: $graphColor4; }
  }
}
@media(min-width: 768px) {
  .graph-area { 
    width:60%; 
    display:inline-block;
  }
  .graph-legend {
    width: 40%;
    float:right;
    
  }
}

app-location-cards {
  clear:both;
  display:block;
  display:flex;
  align-content: space-between;
  align-items:stretch;
  justify-content: space-between;
  margin-top:24px;
  margin-bottom: 48px;
}

.data-panel-footer {
  clear:both;
  display:flex;
  align-content: space-between;
  align-items:flex-start;
  justify-content: space-around;
  .action-wrapper {
    width:220px;
    text-align:center;
    button { 
      display:block; 
      width: 80%; 
      margin:auto;
      border: 4px solid #ddd;
      color: $color1;
      text-transform: uppercase;
      font-size: 12px;
      letter-spacing: 0.8px;
      border-radius:0;
      background:none;
      margin-bottom:4px;
      font-weight:500;
    }
    span { 
      color: #999; 
      font-size: 11px;
      line-height: 16px;
      display: block;
      margin-top: 10px;
    }
  }
}

.data-panel-footer .action-wrapper .social-icons {
  text-align: center;

  a:hover {
    text-decoration: none;
  }

  .btn {
    display: inline-block;
    width: 40px;
    height:37px;
    padding: 3px 0 0 0;
    margin: 0px 4px 4px 4px;
    path { fill: $color1; }
  }
}
