
@import '../../../theme';

.location-card {
    pointer-events:all;
    background: $cardBg;
    box-shadow: $z1shadow;
    position:relative;
    z-index:20;
    &:nth-child(2) { z-index: 19; }
    &:nth-child(3) { z-index: 18; }
    &:nth-child(4) { z-index: 17; }
    .card-header {
        position:relative;
        padding: $defaultPadding;
        color: $cardHeaderBg1;
        border-bottom: 6px solid $cardHeaderBg1;
        padding-right: 48px;
        h1 { font-size: $cardHeaderTextSize; margin:4px 0 0 0; }
        small { display: block; color: $cardHeaderBg1; margin: 8px 0 0 0; text-transform: uppercase; }
        .btn { position:absolute; top: 10px; right: 0px; background: none; color: $cardLabelText; }
    }
    &:nth-child(2) .card-header { 
      color: $cardHeaderBg2; border-bottom-color: $cardHeaderBg2; 
      small { color: $cardHeaderBg2; }
    }
    &:nth-child(3) .card-header { 
      color: $cardHeaderBg3; border-bottom-color: $cardHeaderBg3; 
      small { color: $cardHeaderBg3; }
    }
    &:nth-child(4) .card-header { 
      color: $cardHeaderBg4; border-bottom-color: $cardHeaderBg4; 
      small { color: $cardHeaderBg4; }
    }
    .card-content {
        padding: $defaultPadding;
        .card-stats { margin:0; padding:0; list-style:none; }
        .card-stats li { margin-bottom: 8px; }
        .card-stats li:last-child { margin-bottom: 0;}
        .card-stat-label { display:block; font-weight:500; text-transform: uppercase; font-size: $cardLabelTextSize; color: $cardLabelText; }
        .card-stat-value { font-size: $cardValueTextSize; font-weight: 400; }
    }
    .card-footer {
        .btn { 
          width:100%; 
          border-radius:0; 
          background: none; 
          color: $color1; 
          text-transform: uppercase; 
          font-weight: 500;
          border:none;
          border-top: 1px solid #eee;
          font-size: 11px;
          letter-spacing: 0.8px;
          padding: 12px;
        }
    }
}

:host-context(.data-content) {
  .location-card {
    margin-right: 16px;
    &:last-child { margin-right: 0; }
  }
}