<div class="graph-container">
  <div class="data-content-inner">
    <div class="graph-header">
      <div class="graph-header-inner">
        <app-ui-switch 
          tabindex="0"
          class="graph-eviction-toggle"
          [leftLabel]="'DATA.JUDGMENTS'| translate" 
          [rightLabel]="'DATA.FILINGS' | translate" 
          [on]="this.graphAttribute && this.dataAttributes.length > 0 && this.graphAttribute.id === this.dataAttributes[1].id"
          (switched)="changeGraphProperty($event)"
        ></app-ui-switch>
        <app-ui-toggle
          class="graph-type-toggle"
          [attr.aria-label]="'DATA.GRAPH_TYPE_LABEL' | translate"
          labelProperty="label"
          [values]="graphTypeOptions"
          [selectedValue]="graphType"
          (selectedValueChanged)="graphType = $event"
        ></app-ui-toggle>
        <div class="graph-year-select">
          <span *ngIf="graphType === 'line'" class="graph-year-label"> {{ 'DATA.DATE_RANGE' | translate }}</span>
          <span *ngIf="graphType === 'bar'" class="graph-year-label"> {{ 'DATA.GRAPH_YEAR' | translate }}</span>
          <div class="graph-select" [style.display]="graphType !== 'line' ? 'none' : null">
            <app-ui-select class="z0" [values]="startSelect" [selectedValue]="minYear" (change)="lineStartYear = $event"></app-ui-select>
            <span>to</span>
            <app-ui-select class="z0" [values]="endSelect" [selectedValue]="maxYear" (change)="lineEndYear = $event"></app-ui-select>
          </div>
          <div class="graph-select" [style.display]="graphType !== 'bar' ? 'none' : null">
            <app-ui-select class="z0" [selectedValue]="barYear" [values]="barYearSelect"
              (change)="barYear = $event"></app-ui-select>
          </div>
        </div>
      </div>
    </div>
    <div class="graph-area" [class.line-graph]="graphType === 'line'" [class.bar-graph]="graphType === 'bar'">
      <app-graph *ngIf="graphData" 
        [class.average-shown]="averageActive" 
        [data]="graphData" 
        [settings]="graphSettings" 
        [hoverAll]="true" 
        (activeValuesChanged)="graphHover.emit($event)"
      >
        <app-graph-tooltips 
          [graphType]="graphType" 
          [tooltips]="tooltips"
          [format]="graphAttribute.format"
          [maxVal]="graphSettings.axis.y.maxVal"
          [displayCI]="graphSettings.ci.display"
        >
        </app-graph-tooltips>
      </app-graph>
      <div class="ci-toggle">
        <span class="ci-toggle-label">
          {{ 'DATA.CI_LABEL'| translate }}
        </span>
        <app-ui-switch
          class="graph-ci-toggle"
          [leftLabel]="'DATA.CI_OFF_LABEL'| translate"
          [rightLabel]="'DATA.CI_ON_LABEL'| translate"
          [on]="true"
          (switched)="displayCI = $event"
        ></app-ui-switch>
      </div>
    </div>
    <div class="graph-legend">
      <ul>
        <li *ngFor="let location of locations; let i = index;">
          <app-ui-icon class="legend-marker" icon="marker"></app-ui-icon>
          <span class="legend-label">
            {{ location.properties['layerId'] === 'tracts' ? ('DATA.TRACT_SINGULAR' | translate) : ''}}
            {{ location.properties['layerId'] === 'block-groups' ? ('DATA.BLOCK_GROUP_SINGULAR' | translate) : ''}}
            {{ location.properties["n"] }}
          </span>
          <span class="legend-label legend-sub">{{ location.properties["pl"] }}</span>
          <app-ui-close-button class="clear-location" [ariaLabel]="'DATA.REMOVE_LOCATION' | translate:{'name':location.properties.n}" (onPress)="locationRemoved.emit(location)"></app-ui-close-button>
          <p class="legend-data">
            <span class="value">{{ getLegendValue(location, i) }}</span>
            <span class="ci">{{ getLegendCI(location, i) }}</span>
          </p>
        </li>
        <!-- Average -->
        <li *ngIf="average" class="us-average" [class.active]="showAverage">
          <app-ui-icon class="legend-marker" icon="marker"></app-ui-icon>
          <span class="legend-label">{{ average.name }}</span>
          <app-ui-close-button class="clear-location"  [ariaLabel]="(!showAverage ? 'DATA.ADD_LOCATION' : 'DATA.REMOVE_LOCATION') | translate:{'name':average.name}" (onPress)="showAverage = !showAverage"></app-ui-close-button>
          <p class="legend-data">
              <span>{{ getLegendValue(average, this.locations.length) }}</span>
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
