@import '../../theme';

// Graphs
// ----
// mixins


@mixin yearSelectLabel($size) {
  @include defaultFont($size);
  letter-spacing: 0.7px;
  color: $graphAxisLabels;
  text-transform: uppercase;
}

@mixin graph-colors($c1, $c2, $c3, $c4) {
  $strokeWidth: 5;
  .g0-start { stop-color: #F27636; }
  .g0-end { stop-color: #E04119; }
  .g1-start { stop-color: #787EB0; }
  .g1-end { stop-color: #434878; }
  .g2-start { stop-color: #57BEB6; }
  .g2-end { stop-color: #2C897F; }
  .g3-start { stop-color: #C6D5E0; }
  .g3-end { stop-color: #94AABD; }
  .app-graph {
    .line-0 {
      stroke: $c1; stroke-width: $strokeWidth;
      circle { fill: $c1; }
    }
    .line-1 {
      stroke: $c2; stroke-width: $strokeWidth;
      circle { fill: $c2; }
    }
    .line-2 {
      stroke: $c3; stroke-width: $strokeWidth;
      circle { fill: $c3; }
    }
    .line-3 {
      stroke: $c4; stroke-width: $strokeWidth;
      circle { fill: $c4; }
    }
    circle { stroke-width: 0 }
  }

}
// container
.graph-container {
  background: $secondaryBackground;
  .data-content-inner {
    margin: 0 auto grid(4);
    padding: 0 0 grid(3) 0;
    max-width: $maxContentWidth;
  }
}
// graph controls layout
.graph-header {
  background: $grey4a;
  .graph-header-inner {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: $maxContentWidth;
    height:100%;
    margin:auto;
    padding: grid(2) 0;
  }
}
.graph-eviction-toggle {
  order: 1;
  margin: grid(1) 0;
}
.graph-year-select {
  order: 2;
  margin: grid(1) 0;
}
.graph-type-toggle {
  order: 3;
  margin: grid(1) 0;
}

@media(min-width: $gtMobile) {
  .graph-header {
    height: auto;
    .graph-header-inner {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      padding: grid(2) $pageMarginLg;
    }
  }
  .graph-eviction-toggle {
    width: 60%;
    margin:0;
  }
  .graph-year-select {
    min-width: 40%;
    flex:1;
    margin:0;
  }
  .graph-type-toggle {
    margin:grid(3) 0 0 0;
  }
}

@media(min-width: $gtTablet) {
  .graph-header {
    position:absolute;
    top:0;
    left:0;
    right:0;
    width:100%;
    .graph-header-inner {
      flex-wrap: nowrap;
      padding:grid(3) grid(3);
      justify-content: flex-start;
    }
  }
  .graph-eviction-toggle {
    width:auto;
    order: 1;
  }
  .graph-year-select {
    min-width: 1px;
    width: auto;
    order: 3;
  }
  .graph-type-toggle {
    order: 2;
    margin: -2px grid(8) 0 grid(10);
    position:relative;
    &:before {
      content:"";
      display:block;
      width:1px;
      height: grid(5);
      position:absolute;
      background: $grey3;
      top:0;
      left: -1*grid(9);
    }
  }
}



// eviction type toggle
@media(min-width: $gtMobile) {
  .graph-header .graph-eviction-toggle ::ng-deep .switch-label {
    &.left { @include altSmallCapsText(16px); }
    &.right { @include altSmallCapsTextMedium(16px); }
  }
  .graph-header .graph-eviction-toggle.on ::ng-deep .switch-label {
    &.right { @include altSmallCapsText(16px); }
    &.left { @include altSmallCapsTextMedium(16px); }
  }
}

// year selects
.graph-year-label { display: none; }
.graph-select { 
  display:flex;
  align-items: flex-start;
  justify-content: space-between;
  app-ui-select ::ng-deep .dropdown-toggle.btn { 
    height: grid(5);
  }
  span { 
    line-height: grid(5); 
    margin: 0 grid(1.5); 
    @include yearSelectLabel(10px);
  }
}

@media(min-width: $gtMobile) {
  .graph-year-select {
    display:flex;
    align-items:center;
    justify-content: flex-end;
    .graph-year-label { 
      display: flex;
      align-items: center;
      justify-content:center;
      text-align:right; 
      @include altSmallCapsTextMedium(16px);
      margin-right: grid(2);
      color: $graphAxisLabels;
    }
  }
  .graph-select span { font-size: 14px; }
}


// graph type
.graph-type-toggle {
  
  ::ng-deep {
    height: grid(5);
    button {
      position:relative;
      width: grid(6);
      height: grid(3.5);
      padding: 0;
      box-sizing:border-box;
      background-repeat: no-repeat;
      background-position: center;
      &:focus {
        box-shadow:none;
        background-color: $focusBgColor;
      }
      &:after {
        content:"";
        position:absolute;
        top:0;
        left:0;
        display:block;
        width:100%;
        height: 100%;
        background-position: 50% 50%;
        background-repeat: no-repeat;
      }
      span {
        display: none;
        width:grid(6);
        text-align:center; 
        @include altSmallCapsTextMedium(16px);
        color: $offTextColor;
      }
      &.selected span {
        @include altSmallCapsText(16px);
        color: $black;
      }
    }
    // bar graph icon and label positioning
    button:first-child {
      &:after { background-image: bar-chart($grey3); }
      &.selected:after { background-image: bar-chart($color1); }
      span { 
        text-align:right;
        transform: translateX(-1*grid(8)); 
      }
    }
    button:last-child {
      &:after { background-image: line-chart($grey3); }
      &.selected:after { background-image: line-chart($color1); }
      span { 
        text-align: left;
        transform: translateX(grid(8)); 
      }
    }
  }
}
// increase page margin for toggle on tablet+
@media(min-width: $gtMobile) { 
  // show labels
  .graph-type-toggle ::ng-deep button span { display: block; }
}

// graph style
.graph-area { 
  position:relative;
  display: block; 
  width:100%;
  text-align:right;
  padding-top: grid(5);
  app-graph {
    display:block;
    width:100%;
    padding-top:56.25%;
    position:relative;
    ::ng-deep {
      @include graph-colors($graphColor1, $graphColor2, $graphColor3, $graphColor4);
      .axis path, .graph-rect { 
        stroke: $graphAxisLines;
        stroke-width: 2px;
      }
      .app-graph .line { stroke-width: 5px; }
      // tick labels
      .axis .tick text {
        fill: $graphAxisLabels;
        @include numberFont(11px);
      }
      .axis line { stroke: #fff; }
      // hide tick lines
      .axis-x .tick {
        line { display:none; }
      }
      // hide the path that creates the edge tick lines
      .axis-x path.domain { display: none; }
      .label-y {
        @include smallCapsText(12px);
        text-transform: none;
        fill: $graphAxisLabels;
      }
    }
    &.average-shown ::ng-deep .app-graph g.line:last-of-type path.line {
      stroke: $graphColor4;
    }
    &.average-shown ::ng-deep .app-graph rect.bar:last-of-type {
      fill: url(#g3);
    }
  }
  // no tick labels on bar graphs
  &.bar-graph app-graph ::ng-deep {
    .axis-x .tick {
      display:none;
    }
  }
}

@media(min-width: $gtMobile) {
  .graph-area app-graph {
    ::ng-deep {
      .label-y { text-transform: uppercase; }
    }
  }
}

.graph-legend {
  max-width: grid(40); // 320px
  margin:auto;
  padding: grid(3) grid(2) 0;
  ul {
    list-style: none;
    margin:0;
    padding:0;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
  }
  li {
    position:relative;
    width:100%;
    margin: grid(1.5) 0;
    .legend-marker {
      height: grid(4);
      width: grid(3);
      position:absolute;
      top:0; left:0;
      margin: auto;
    }
    .legend-label {
      margin: 0 grid(6) 6px grid(5);
      display:block;
      line-height: 24px;
      @include defaultFontBold(18px);
      &.legend-sub {
        text-transform: uppercase;
        font-size:14px;
        line-height:21px;
        letter-spacing: 0.3px;
        color: $grey_wcag;
        margin-bottom:4px;
      }
    }
    .legend-data {
      color: $grey_wcag;
      margin: 0 0 0 grid(5);
      @include numberFont(14px);
      line-height:21px;
      height: 21px;
    }
    .clear-location { 
      position:absolute;
      right:0;
      top:-1*grid(1);
      width: grid(5);
      height: grid(5);
    }
    &:last-child { border-bottom: none; }
    &:nth-child(1) .legend-marker { fill: $graphColor1; }
    &:nth-child(2) .legend-marker { fill: $graphColor2; }
    &:nth-child(3) .legend-marker { fill: $graphColor3; }
    &.us-average .legend-marker { fill: $graphColor4; }
  }
  li.us-average {
    .legend-label, .legend-marker { opacity: 0.5; }
    // transition between "add" and "close"
    .clear-location {
      transform: rotate(45deg);
      transition: all 0.2s ease;
    }
    &.active {
      .legend-label, .legend-marker { opacity: 1; }
      .clear-location {
        transform: rotate(0deg);
      }
    }
  }
}

@media(min-width: $gtMobile) {
  .graph-legend {
    max-width: none;
    padding-left: $pageMarginLg;
    padding-right: $pageMarginLg;
    ul {
      flex-direction:row;
    }
    li {
      width:auto;
      margin-right: grid(5);
      .legend-label {
        margin-right:0;
      }
      .clear-location { 
        position:absolute;
        right:-1*grid(5);
        top: -1*grid(1);
      }
    }
  }
}
@media(min-width: $gtTablet) {
  .graph-container {
    position:relative;
    padding-top: grid(11);
  }
  .graph-area { 
    width:66.666666%; 
    display:inline-block;
  }
  .graph-legend {
    width: 33.33333%;
    float:right;
    padding-top: grid(5);
    ul {
      flex-direction:column;
    }
    li { 
      width:100%; 
      margin: grid(1.5) 0 grid(1.5);
      .clear-location { position: absolute; right:0; }
      .legend-label { 
        font-size: 21px; 
        margin-right: grid(5);
      }
    }
  }
}
// boost legend margins on desktop+
@media(min-width: $gtLaptop) {
  .graph-legend {
    padding-left: grid(5);
    padding-right: grid(5);
  }
}

// force the average circle to be $color4
::ng-deep .average-shown .tooltip:last-of-type:before {
  background:$color4!important;
}