<div class="graph-container">
  <div class="data-content-inner">
    <div class="graph-header">
      <div class="graph-header-inner">
        <app-ui-select
          class="graph-eviction-select"
          [label]="'MAP.EVICTION_SELECT' | translate"
          labelProperty="name"
          [selectedValue]="this.graphAttribute"
          [values]="bubbleOptions"
          (change)="changeGraphProperty($event)"
        ></app-ui-select>
        <app-ui-select
          class="graph-type-select selected-icon-{{graphType}}"
          [attr.aria-label]="'DATA.GRAPH_TYPE_LABEL' | translate"
          [label]="'DATA.GRAPH_TYPE_LABEL' | translate"
          labelProperty="label"
          [selectedValue]="graphTypeOptions[1]"
          [values]="graphTypeOptions"
          (change)="graphType = $event.id"
        ></app-ui-select>
        <app-ui-checkbox
          class="graph-ci-checkbox"
          [isChecked]="displayCI"
          (changed)="displayCI = $event"
          [inputLabel]="'DATA.CI_LABEL'| translate"
          [index]=0
        ></app-ui-checkbox>
        <div class="graph-year-select">
          <div class="graph-select" [style.display]="graphType !== 'line' ? 'none' : null">
            <app-ui-select-date-range
              class="z0"
              [label]="'DATA.DATE_RANGE' | translate"
              [selectedValues]="barYear"
              [values]="barYearSelect"
              (change)="barYear = $event"></app-ui-select-date-range>
          </div>
          <div class="graph-select" [style.display]="graphType !== 'bar' ? 'none' : null">
            <app-ui-select
              class="z0"
              [label]="'DATA.GRAPH_YEAR' | translate"
              [selectedValue]="barYear"
              [values]="barYearSelect"
              (change)="barYear = $event"></app-ui-select>
          </div>
        </div>
      </div>
    </div>
    <div class="graph-area" [class.line-graph]="graphType === 'line'" [class.bar-graph]="graphType === 'bar'">
      <app-graph *ngIf="graphData" 
        [class.average-shown]="averageActive" 
        [data]="graphData" 
        [settings]="graphSettings" 
        [hoverAll]="true" 
        (activeValuesChanged)="graphHover.emit($event)"
      >
        <app-graph-tooltips 
          [graphType]="graphType" 
          [tooltips]="tooltips"
          [format]="graphAttribute.format"
          [maxVal]="graphSettings.axis.y.maxVal"
          [displayCI]="graphSettings.ci.display"
        >
        </app-graph-tooltips>
      </app-graph>
    </div>
    <div class="graph-legend">
      <ul>
        <li *ngFor="let location of locations; let i = index;">
          <app-ui-icon class="legend-marker" icon="marker"></app-ui-icon>
          <span class="legend-label">
            {{ location.properties['layerId'] === 'tracts' ? ('DATA.TRACT_SINGULAR' | translate) : ''}}
            {{ location.properties['layerId'] === 'block-groups' ? ('DATA.BLOCK_GROUP_SINGULAR' | translate) : ''}}
            {{ location.properties["n"] }}
          </span>
          <span class="legend-label legend-sub">{{ location.properties["pl"] }}</span>
          <app-ui-close-button class="clear-location" [ariaLabel]="'DATA.REMOVE_LOCATION' | translate:{'name':location.properties.n}" (onPress)="locationRemoved.emit(location)"></app-ui-close-button>
          <p class="legend-data">
            <span class="value">{{ getLegendValue(location, i) }}</span>
            <span class="ci">{{ getLegendCI(location, i, 'DATA.CI_HIGH'| translate, 'DATA.CI_LOW'| translate) }}</span>
          </p>
        </li>
        <!-- Average -->
        <li *ngIf="average" class="us-average" [class.active]="showAverage">
          <app-ui-icon class="legend-marker" icon="marker"></app-ui-icon>
          <span class="legend-label">{{ average.name }}</span>
          <app-ui-close-button class="clear-location"  [ariaLabel]="(!showAverage ? 'DATA.ADD_LOCATION' : 'DATA.REMOVE_LOCATION') | translate:{'name':average.name}" (onPress)="showAverage = !showAverage"></app-ui-close-button>
          <p class="legend-data">
              <span>{{ getLegendValue(average, this.locations.length) }}</span>
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
