language: node_js
sudo: required
dist: trusty
node_js:
- '6.9'
before_install:
- export CHROME_BIN=/usr/bin/google-chrome
- export DISPLAY=:99.0
- sh -e /etc/init.d/xvfb start
- sudo apt-get update
- sudo apt-get install -y libappindicator1 fonts-liberation
- wget https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
- sudo dpkg -i google-chrome*.deb
before_script:
- npm install -g @angular/cli
script:
- ng test --watch=false --sourcemaps=false
- ng e2e
- ng build
before_deploy:
- pip install --user awscli
- export PATH=$PATH:$HOME/.local/bin
deploy:
- skip_cleanup: true
  provider: s3
  access_key_id: $AWS_KEY
  secret_access_key: $AWS_SECRET
  bucket: eviction-maps
  acl: public_read
  local_dir: dist
  on:
    branch: development
- provider: script
  script: scripts/invalidate-cache.sh
  on:
    branch: master
notifications:
  slack:
    template:
      - "Build <%{build_url}|#%{build_number}> (<%{compare_url}|%{commit}>) of %{repository}@%{branch} by %{author} %{result} in %{duration}. <http://eviction-maps.s3-website.us-east-2.amazonaws.com/|View Staging Site>"
    secure: QKNsPr0rrXouVNjg2RSTZJcJMz7z9cyntRaVC+flt+pD0TgomkCasLU9OhszYEdon4QduU05sJsiNvBGICKBcv2guSg818l2DyxgYucuPC8hs4EP0EHlS6M1saafBGXqQT4YZLbSykXYbs9eKw708j9j5mjn77PRwyX/cFXfPGjFe2K5SOaAh0GD+iUwkzh4guhDZ/vJlQGmEFZ6ylrk0m8f1vkLIuglVg5PZaQaVXBIMO5VUKLSVNFXmLkx3oZiaaEgB/FaFLZZfBH+4CrYyic0s47YVuVip3cJmZYO2fqhUo4RnXcHtJiWb7hZk55g8ruyXqI1mFt/Hm0PmXMj0gIgYOod+Jm5KnPkPauXUGPeaqoJn/Nv14lnmZ71PEuJA6if1ZsUV9i7w6xACizW2K1t0QlX94AD08egtzGbDNE6gZljHPPVHGvwYJxm5hQIXiAE2/bt+636pQaBr08gPuZb047AksND8Uc74FFf89Fdgf/BgMEONO6vdTebXH4/gjHGahwpdHVIOZZyB06VPbEv66hNsrqAnCXDKA0Xs6kAo9AM1DZhm8MKawlFMRtuBy8nbZ6oKAwZWNMV2RqksbooKzdGZTAZuqpBXdkRv6p4AMAso0XWvNVO2Vax2V7mnOek14c8k2BWRTRY37ZTn3daEnAwjqpq7/u2njYHoc8=
