<div class="modal-header">
  <h4 class="modal-title">{{ 'DATA.DOWNLOAD_TITLE' | translate }}</h4>
  <app-ui-close-button class="close" (onPress)="onCancelClick($event)"></app-ui-close-button>
</div>
<div class="modal-body">
  <div class="description" [innerHTML]="exportDescription | translate:exportDescriptionParams"></div>
  <div *ngFor="let f of filetypes; let i = index" class="filetype">
    <input type="checkbox" [attr.id]="'checkbox' + i" [(ngModel)]="f.checked">
    <label [attr.for]="'checkbox' + i">{{ f.name }}</label>
    <p>{{ f.description | translate }}</p>
  </div>
</div>
<div class="modal-footer">
  <button
    [disabled]="loading"
    i18n="dialog|The Download button to trigger a file download@@dialogDownload" 
    type="button" 
    class="btn btn-primary" 
    [class.disabled]="!optionChecked"
    (click)="onDownloadClick($event)"
  >{{ 'DATA.DOWNLOAD_BUTTON' | translate }}</button>
  <app-progress-bar [indeterminate]="loading"></app-progress-bar>
</div>