@import '../../../../theme';

.filetype {
  position:relative;
  padding-left: grid(8);
  margin-top: grid(3);
  input { position:absolute; top:0; left:0; }
  label {
    @include smallCapsText(12px);
    color: $grey1a;
  }
}

.modal-footer .btn.btn-primary {
  width:100%;
}

app-progress-bar {
  bottom: 0;
}

@media(min-width: $gtMobile) {
  .filetype {
    margin-top: grid(5);
    label {
      @include smallCapsText(15px);
    }
  }
  .modal-footer .btn.btn-primary {
    width: auto;
  }
}