<div 
  [@cards]="getCardState(i+1)" 
  *ngFor="let f of features; let i = index; trackBy: trackCards" 
  [class]="'location-card card card-' + i"
>
  <div class="card-header" [class.clickable]="clickedHeader.observers.length > 0" (click)="clickedHeader.emit(f)">
    <app-ui-icon class="marker" icon="marker"></app-ui-icon>
    <h1 class="card-heading" 
      [tooltip]="f.properties['n'].length > maxLocationLength ? f.properties['n'] : null" 
      [placement]="collapsible ? 'top' : 'bottom'"
    >{{ getLocationName(f.properties['n']) }}</h1>
    <h2 class="card-subheading">{{f.properties['pl']}}</h2>
    <app-ui-close-button class="card-dismiss" [ariaLabel]="'DATA.REMOVE_LOCATION' | translate:{'name':f.properties.n}" (onPress)="dismissedCard.emit(f)"></app-ui-close-button>
  </div>
  <div class="card-content">
    <ul class="card-stats">
      <li *ngFor="let prop of cardProperties; let i = index;" [class]="prop.id" [class.has-hint]="prop.hintKey">
        <span 
          class="card-stat-comparison"
          [class.bad]="getAverageOffsetPrefix(f.properties[prop.yearAttr], usAverage[prop.yearAttr]) === '+'"
          *ngIf="i === 1 && usAverage && f.properties[prop.yearAttr] > 0"
        >
          {{ getAverageOffset(f.properties[prop.yearAttr], usAverage[prop.yearAttr])}} {{ 'DATA.US_AVERAGE' | translate }}
        </span>
        <span *ngIf="prop.id !== 'divider'" class="card-stat-label">
          {{ prop.name }}
          <app-ui-hint *ngIf="prop.hintKey" class="attribute-hint" [hint]="prop.hintKey | translate" placement="right" triggers="hover touchend focus"></app-ui-hint>
        </span>
        <span *ngIf="prop.id !== 'divider'" class="card-stat-value" [class.unavailable]="!(f.properties[prop.yearAttr] >= 0)">
          <span *ngIf="f.properties[prop.yearAttr] >= 0">{{ prefix(prop.id) }}{{ processValue(f, prop) }}{{ suffix(prop.id) }}</span>
          <span *ngIf="!(f.properties[prop.yearAttr] >= 0)">{{ 'DATA.UNAVAILABLE' | translate }}</span>
        </span>
        <span *ngIf="prop.id === 'divider'" class="card-stat-label">{{ 'STATS.DEMOGRAPHICS' | translate }}</span>
      </li>
    </ul>
  </div>
</div>
<div *ngIf="allowAddLocation" class="location-card location-add">
  <div class="card-header"></div>
  <div class="card-content">
    <p>{{ 'DATA.ADD_LABEL' | translate }}</p>
    <app-location-search
      class="search"
      [placeholder]="'DATA.ADD_SEARCH_HINT' | translate"
      (locationSelected)="locationAdded.emit($event);">
    </app-location-search>
  </div>
</div>
<div *ngIf="allowAddLocation && features.length === 1" class="location-card location-add">
    <div class="card-header"></div>
    <div class="card-content">
      <p>{{ 'DATA.ADD_LABEL' | translate }}</p>
      <app-location-search
        class="search"
        [placeholder]="'DATA.ADD_SEARCH_HINT' | translate"
        (locationSelected)="locationAdded.emit($event);">
      </app-location-search>
    </div>
  </div>