@import '../../../theme';

.hint-button {
  position:relative;
  min-width:16px;
  min-height:16px;
  border: none;
  background: transparent;
  padding:0;
  margin:0;
  .icon { fill: $iconColor; }
  // no focus state needed, tooltip shows on focus
  &:focus {
    outline: 0;
  }
}