<p class="loading-message" *ngIf="!list">
  {{ 'DATA.LOADING' | translate }}...
</p>
<p class="no-rankings" *ngIf="list && list.length === 0">
  {{ 'RANKINGS.NO_RANKINGS' | translate }}
</p>
<ul *ngIf="dataProperty && list && maxValue" class="ranking-list">
  <li 
    *ngFor="let listItem of list; let i = index" 
    [class.active]="selectedIndex === i"
  >
    <button
      (click)="locationSelected.emit(i)"
      [attr.aria-label]="getAriaLabel(i+1, listItem)"
    >
      <span class="ranking-number">{{ i + 1 }}</span>
      <div class="ranking-bar" [style.width]="''+(100*(listItem[dataProperty.value]/maxValue))+'%'"></div>
      <div class="ranking-content">
        <span class="ranking-name">{{ listItem[propertyMap.primary] }}</span><span class="place-separator">,</span>
        <span class="ranking-parent">{{listItem[propertyMap.secondary]}}</span>
        <span *ngIf="listItem[dataProperty.value] >= 0" class="ranking-value">{{ listItem[dataProperty.value] > 100 && isRate ? '>100' : (listItem[dataProperty.value] | number:'1.0-2') }}{{ isRate ? '%' : '' }}</span>
        <span *ngIf="listItem[dataProperty.value] < 0" class="ranking-value unavailable">{{ 'DATA.UNAVAILABLE' | translate }}</span>
      </div>
    </button>
  </li>
</ul>