@import '../../../theme';

$rankLocationHeight: grid(8);
$rankBarHeight: grid(4);
$rankBarHeight_gtm: grid(5);
$rankLocationHeight_gtm: grid(8);

$barGradient1: $gradient1;
$barGradient2: $gradient2;
$barGradient3: $gradient3;

.loading-message {
  color: $grey1a;
}

.no-rankings {
  font-family: $boldFontStack;
}

.place-separator {
  margin-right: 4px;
}

@media(min-width: $gtMobile) {
  .place-separator {
    color: #fff;
  }
}

.ranking-list {
  list-style:none;
  margin:0;
  padding:0;
}

/** Ranking Location */

$locationHeadingHeight: grid(3.5);
$locationHeadingHeight_gtm: grid(5);

.location {
  padding-top: grid(1);
  padding-bottom: grid(3.5);
  position: relative;
}
.location:after {
  content: "";
  display: block;
  position:absolute;
  top:0px;left:-16px;right:-16px;bottom:0px;
  box-shadow: 0 0 0 rgba(0,0,0,0.1);
  transition: box-shadow 0.2s ease-in-out;
}
.location.active:after {
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.location__container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.location__button {
  position: absolute;
  top:0px;left:-16px;right:-16px;bottom:0px;
  background: rgba(0,0,0,0.1);
  z-index: 100;
  min-width: calc(100% + 32px);
  min-height: 100%;
  padding:0;
  margin:0;
  background: none;
  border: none;
  opacity: 0.2;
}
.location__button:focus {
  outline: none;
  border: 2px solid $color1;
}

/** Location Heading */

.location__container.location__container--heading {
  background: none;
  border: none;
  padding:0 0 grid(1) 0;
  margin:0;
  height: grid(3.5);
  align-items: flex-end;
  line-height: 1;
}
@media(min-width: $gtMobile) {
  // boost height of heading row
  .location__container.location__container--heading {
    height: grid(5);
  }
}

/** Location Heading alignment guide */
// .location__container.location__container--heading:after {
//   content: " ";
//   display: block;
//   position:absolute;
//   top:27px;
//   height: 1px;
//   background:#ccc;
//   left:0;
//   right:0;
// }

  /** Location Number */
  .location__number {
    @include altSmallCapsText(12px);
    margin-right: grid(1);
  }
  @media(min-width: $gtMobile) {
    .location__number {
      @include altSmallCapsText(21px);
    }
  }

  /** Location Name */
  .location__name,
  .location__state {
    @include altSmallCapsText(12px);
  }
  .location__state {
    margin-right: grid(1);
  }
  @media(min-width: $gtMobile) {
    // boost font sizes, adjust state name color
    .location__name {
      @include altSmallCapsText(21px);
    }
    .location__state {
      @include altSmallCapsText(16px);
      color: $grey_wcag;
      // fix vertical alignment
      position: relative;
      top: -1px;
    }
  }
  .location:hover .location__name,
  .location:hover .location__state {
    color: $color1;
  }

  /** Location Value */
  .location__value {
    @include smallCapsText(12px);
    &.location__value--unavailable {
      color: $grey_wcag;
    }
  }
  .location__container--heading .location__value {
    position: relative;
    top: 1px;
  }
  @media(min-width: $gtMobile) {
    // fix vertical alignment for header value
    .location__container--heading .location__value {
      position: relative;
      top: -2px;
      @include smallCapsText(14px);
    }
  }

/** Location Bar */

.location__container.location__container--bar {
  position: relative;
  height: grid(3);
  line-height: 1;
  margin-right: grid(9);
}

  /** Bar Defaults */
  .location__bar {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    z-index:10;
    &.location__bar--low {
      z-index: 12;
    }
    &.location__bar--high {
      z-index: 11;
    }
  }

  /** Bar Value Labels */
  .location__bar {
    // main bar value
    .location__value {
      position:absolute;
      right:0;
      line-height: 1;
      bottom: grid(4);
      transform: translate(50%, 0);
      
    }
    // min / max values
    &.location__bar--low .location__value,
    &.location__bar--high .location__value,
    &.location__bar--label .location__value {
      top: grid(4);
      bottom:auto;
      color: $grey_wcag;
      @include smallCapsText(12px);
      font-family: $fontStack; // override bold font
      letter-spacing: 0;
    }
    // position min value
    &.location__bar--low .location__value {
      transform: translate(0%, 0);
    }
    // position max value 
    &.location__bar--high .location__value {
      transform: translate(100%, 0);
    }
    &.location__bar--label { display: none; }
  }
  @media(min-width: $gtMobile) {
    .location__bar .location__value {
      bottom: grid(4.5);
      margin-bottom: -2px; // fix vertical alignment
      @include smallCapsText(14px);
    }
  }
  /** Bar Inline min/max values */
  @media(max-width: $gtMobile) {
    .location__container.location__container--bar.inline {
      .location__bar.location__bar--low .location__value {
        display: none;
      }
      .location__bar.location__bar--high .location__value {
        display: none;
      }
      .location__bar.location__bar--label {
        background: none;
        display: block;
        width: 100%;
        .location__value {
          position:absolute;
          right:auto;
          left:0;
          white-space:nowrap;
          transform: none;
        }
      }
    }
  }


  /** Location Summary */
  .location__container.location__container--summary {
    margin-top: grid(4.5);
    @include defaultFont(14px);
    z-index:101;
  }
  .location__container--summary p {
    margin-bottom: grid(-1);
  }
  @media(min-width: $gtLaptop) {
    .location__container.location__container--summary {
      @include defaultFont(15px);
    }
  }


/** BAR COLORS */

  /** Large cities */
  :host-context(.area-0) {
      .location__bar {
        background: $barGradient1;
        &.location__bar--low {
          background: $barGradient1;
        }
        &.location__bar--high {
          background: $ciPattern1;
        }
      }
  }

  /** Mid-sized cities */
  :host-context(.area-1) {
      .location__bar {
        background: $barGradient2;
        &.location__bar--low {
          background: $barGradient2;
        }
        &.location__bar--high {
          background: $ciPattern2;
        }
      }
  }

  /** Small cities */
  :host-context(.area-2) {
      .location__bar {
        background: $barGradient3;
        &.location__bar--low {
          background: $barGradient3;
        }
        &.location__bar--high {
          background: $ciPattern3;
        }
      }
  }