@import "../../../theme";

.search-container {
  position:relative;
  width:100%;
}

.search-container .glyphicon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: grid(2);
  color: $color1;
  width: 15px;
  height: 15px;
  margin: auto;
}

.search-container .clear {
  position: absolute;
  right: grid(1);
  top: 0;
  bottom: 0;
  margin: auto;
  height: grid(3);
  width: grid(3);
  font-size: 24px;
  line-height: 1;
  cursor: pointer;
  text-align: center;
  color: $searchPlaceholderColor;
}

.form-control {
  padding: 0 grid(4) 0 grid(5.5);
  white-space: nowrap;
  text-overflow: ellipsis;
}

:host {
  /deep/ typeahead-container {
    right: 0;
  }
}