@import "../../../theme";

.search-container {
  position:relative;
  width:100%;
}

.search-container .glyphicon {
  position: absolute;
  top:10px;
  left:8px;
}

.search-container .clear {
  position: absolute;
  right: 8px;
  font-size: 24px;
  line-height: 1;
  cursor: pointer;
  height: 24px;
  width: 24px;
  text-align: center;
  top: 0;
  bottom: 0;
  margin: auto;
}

input {
  padding-left:32px;
  border-radius: 0;
}

:host {
  /deep/ .dropdown-menu {
    border-radius: 0;
  }
  /deep/ {
    @include predictive-search-colors($searchTextColor, $searchPlaceholderColor, $searchHighlightTextColor, $searchHighlightBackgroundColor);
    input::placeholder { color: $searchPlaceholderColor;  }
  }
}