<div class="search-container">
  <span class="glyphicon glyphicon-search"></span>
  <input [ngModel]="selected"
         (ngModelChange)="selectedTextChange($event)"
         [typeahead]="options || []" 
         [typeaheadOptionField]="optionField ? optionField : null"
         [typeaheadOptionsLimit]="optionsLimit"
         (typeaheadOnSelect)="updateSelection($event)"
         [typeaheadWaitMs]="waitMs"
         placeholder="Search for a place"
         class="form-control">
  <span class="clear"
        [style.display]="selected ? 'inherit' : 'none'"
        (click)="updateSelection()">x</span>
</div>