<div class="search-container">
  <app-ui-icon icon="search" aria-hidden="true"></app-ui-icon>
  <input [ngModel]="selected"
         (ngModelChange)="selectedTextChange($event)"
         [typeahead]="options || []" 
         [typeaheadOptionField]="optionField ? optionField : null"
         [typeaheadOptionsLimit]="optionsLimit"
         (typeaheadOnSelect)="updateSelection($event)"
         (typeaheadOnBlur)="clearSelection($event)"
         [typeaheadWaitMs]="waitMs"
         [placeholder]="placeholder"
         [attr.aria-owns]="ariaOwns"
         [attr.aria-expanded]="ariaExpanded"
         [attr.aria-activedescendant]="ariaActiveDescendant"
         autocomplete="off"
         aria-describedby="initInstr"
         aria-autocomplete="both"
         class="form-control">
  <app-ui-close-button class="clear"
    [ariaLabel]="'HEADER.SEARCH_CLEAR' | translate"
    [style.display]="selected ? 'block' : 'none'"
    (click)="clearSelection()">
  </app-ui-close-button>
  <span id="initInstr" style="display: none;">When autocomplete results are available use up and down arrows to review and enter to select.</span>
</div>