.hint-button {
    position:relative;
    min-width:32px;
    min-height:32px;
    border: none;
    background: transparent;
    padding:0;
    margin:0;
    span {
        width:15px;
        height:15px;
        position:absolute;
        top:0;left:0;right:0;bottom:0;
        margin:auto;
    }
}