@import "../../../../theme";

$bubbleColor: rgba(255, 4, 0, 0.65);

:host {
  display: block;
  pointer-events: all;
}

// layout container elements
.map-legend {
  @include hGroup(stretch, center);
  height: 100%;
  width: 100%;
  padding: grid(1.5);
  & > .map-legend__section {
    &.bubbles {
      min-width: grid(16);
      &.horizontal {
        align-items: center;
        justify-content: space-between;
        width: 100%;
        .map-legend__heading {
          margin-right: grid(2);
        }
        & > .map-legend__items {
          margin-top: 0;
          width: auto;
        }
        .map-legend__item {
          flex-direction: row-reverse;
          height: grid(2);
          .legend-circle {
            margin-right: grid(1);
          }
        }
      }
    }
    &.choropleth {
      flex: 1;
    }
    & > .map-legend__items {
      @include hGroup();
      margin-top: grid(0.5);
      width: 100%;
    }
  }
}

// heading for map legend sections
.map-legend__heading {
  color: $grey_wcag;
  line-height: 1;
  @include defaultFontBold(12px);
  max-width: calc(100% - 16px);
  overflow: hidden;
  text-overflow: ellipsis;
}

/**
 * MAP LEGEND ITEM
 * Individual item components inside a `map-legend__items`
 */

// base for each map legend item
.map-legend__item {
  @include defaultFont($legendFontSize);
  position: relative;
  height: grid(4);
  margin: 0 grid(2) 0 0;
  padding: 0;
  color: $legendTextColor;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  &:last-child {
    margin-right: 0;
  }
  & > span {
    white-space: nowrap;
  }
}

// map legend item with small bubble
.map-legend__item.small-bubble {
  font-weight: 500;
  .legend-circle {
    width: grid(1);
    height: grid(1);
    border-radius: grid(1);
    background: $bubbleColor;
    margin: auto;
  }
}

// map legend item with large bubble
.map-legend__item.large-bubble {
  font-weight: 500;
  .legend-circle {
    width: grid(2);
    height: grid(2);
    border-radius: grid(2);
    background: $bubbleColor;
    margin: auto;
  }
}

// map legend item for bubble representing no data
.map-legend__item.bubble-no-data {
  font-family: $fontStack;
  .legend-circle {
    background: #fff;
    border: 1px solid $grey3;
    margin: auto;
  }
}

// map legend item to label choropleths w/ no data
.map-legend__item.choropleth-no-data {
  font-family: $fontStack;
  .no-data-square {
    width: grid(2);
    height: grid(2);
    background: repeating-linear-gradient(
      45deg,
      $white,
      $white 4px,
      $grey3 4px,
      $grey3 8px
    );
  }
}

// map legend item with choropleth gradient
.map-legend__item.choropleth-legend {
  flex: 1;
  font-weight: 500;
  width: 100%;
  .label-group {
    @include hGroup(space-between);
    width: 100%;
  }
  .choropleth-gradient {
    width: 100%;
    min-width: grid(12);
    height: grid(2);
  }
  .legend-middle {
    display: none;
  }
}

.map-legend__divider {
  width: 1px;
  height: grid(6);
  margin: 0 grid(1.5);
  background: $grey4a;
}

/**
 * MEDIA QUERIES
 */

// greater than mobile
@media (min-width: $gtMobile) {
  // boost font size
  .map-legend__item {
    @include defaultFont(11px);
  }
  // boost square size
  .map-legend__item.choropleth-no-data .no-data-square {
    width: grid(3);
  }
  .map-legend__item.choropleth-legend {
    .legend-middle {
      display: block;
    }
  }
}

/**
 * EMBED STYLES
 */

:host-context(.embed) {
  .map-legend__label {
    display: inherit;
  }
  .map-legend__item {
    margin: grid(5) grid(1) 0;
  }
  .legend-hint {
    display: none;
  }
}

@media (max-width: $gtMobile) {
  :host-context(.embed) {
    width: auto;
    left: auto;
    border-right: 1px solid $shadingColor;
    .map-legend {
      padding-top: 8px;
    }
    .map-legend .map-legend__item.choropleth-legend {
      min-width: grid(12);
    }
  }
}
