// wrapped in body to override bootstrap
body {
  
  // Default button
  .btn {
    border-radius: 2px;
    border:none;
    @include smallCapsText($buttonTextSize);
    background:$buttonColor;
    height: $buttonHeight;
    padding: 0 $defaultPadding;
    &:hover {
      background: $buttonHoverColor;
    }
    &:active, &:focus, &:active:focus {
      background: darken($buttonHoverColor, 5%);
    }
    // icon above button label
    svg{ display:block; margin: 0 auto 6px;}

    // icon below button label
    span + svg { margin: 4px auto; }
    &.z1 { box-shadow: $z1shadow; }
  }

  // Buttons with smaller height
  .btn.btn-small {
    height: $buttonHeightSm;
  }

  .btn.btn-large {
    height: grid(8);
    @include smallCapsText(15px);
  }

  // Primary color buttons
  .btn-primary {
    border: none;
    background: $primaryButtonColor;
    height: grid(7);
    &:hover {
      background: $primaryButtonHoverColor;
    }
    &:active, &:focus, &:active:focus {
      background: darken($primaryButtonHoverColor, 5%);
    }
  }

  // icon button with optional label
  .btn.btn-icon {
    background: none;
    padding:0;
    margin:0;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;
    line-height:1;
    @include smallCapsText(9px);
    &:active {
      background: none;
    }
  }

  .btn.btn-close { 
    font-size: 16px; 
    width:grid(5);
    height:grid(5);
    background:none;
    line-height:1;
    color: $closeButtonColor;
    &.alt { color: $altCloseButtonColor }
    &:after {
      border-radius: grid(3);
      border: 1px solid $shadingColor;
      @include fill-parent;
      width: grid(3);
      height: grid(3);
      margin: auto;
      background: $defaultBackground; 
      content: "\00D7"; 
      line-height: 22px;
      text-align: center;
    }
    &:hover {
      background: none;
    }
    &:focus {
      background: $focusBgColor;
    }
  }

  // Square buttons with border
  .btn-border {
    background: $defaultBackground;
    color: $grey1;
    border: 5px solid $grey5;
    border-radius:2px;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    font-weight: 500;
    padding: grid(1) grid(2);
    box-sizing: border-box;
    display:flex;
    align-items:center;
    justify-content: center;
    svg path { fill: $grey1; }
    &:hover { background: $grey5; }
    &:focus {
      border: 5px solid $grey5;
      background: $white;
    }

  }

}