// wrapped in body to override bootstrap
body {
  
  // Default button
  .btn {
    border-radius: 2px;
    border:none;
    @include smallCapsText($buttonTextSize);
    background:$buttonColor;
    height: $buttonHeight;
    padding: 0 $defaultPadding;
    &:hover {
      background: $buttonHoverColor;
    }
    &:active, &:focus, &:active:focus {
      background: darken($buttonHoverColor, 5%);
    }
    // icon above button label
    svg{ display:block; margin: 0 auto 6px;}

    // icon below button label
    span + svg { margin: 4px auto; }
    &.z1 { box-shadow: $z1shadow; }
  }

  // Buttons with smaller height
  .btn.btn-small {
    height: $buttonHeightSm;
  }

  .btn.btn-large {
    height: grid(8);
    @include smallCapsText(15px);

  }

  // Primary color buttons
  .btn-primary {
    border: none;
    background: $primaryButtonColor;
    height: grid(7);
    &:hover {
      background: $primaryButtonHoverColor;
    }
    &:active, &:focus, &:active:focus {
      background: darken($primaryButtonHoverColor, 5%);
    }
  }

  // Square buttons with border
  .btn-border {
    background: $defaultBackground;
    color: $grey1;
    box-shadow: inset 0 0 0 3px $white, 
                inset 0 0px 0px 8px $grey5;
    border-radius:2px;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    font-weight: 500;
    padding: grid(1) grid(2);
    box-sizing: border-box;
    svg path { fill: $grey1; }
    &:hover { background: $grey5; }
    // active style
    &.active, &:active, &:focus, &:active:focus {
      box-shadow: inset 0 0 0 3px $white, 
        inset 0 0px 0px 8px darken($grey5, 5%);
      background: $grey5;
    }
  }

}