body {
  .dropdown-menu {
    border-radius: 0;
    border: none;
    margin-top: 1px;
    width: 100%;
    box-sizing: border-box;
    min-width: grid(18);
    max-height: grid(28); // prevent dropdown menu from going off screen
    padding:0;
    overflow: auto;
    & > li > a {
      padding: $defaultPadding;
      border-top: 1px solid $shadingColor;
      min-height: grid(5);
      white-space: normal;
      box-sizing: border-box;
      &:hover {
        background: $grey4;
      }
      &:focus {
        outline: 0;
        box-shadow: inset 0 0 3px $color1;
      }
    }
    & > .active > a,
    & > .active > a:focus,
    & > .active > a:hover {
      color: $black;
      background: $grey4;
    }
    & > li > a.highlighted {
      color: $white;
      background-color: $color1;
    }
    & li:first-child a { border-top: none; }
    & > li, & > li > a {
      cursor: pointer;
    }
    & > li.bottom-label, & > li.bottom-label > a {
      font-style: italic;
      color: rgba(0, 0, 0, 0.5);
      cursor: inherit;
    }
    & > li.bottom-label:hover, & > li.bottom-label > a:hover {
      background: inherit;
    }


  }
  .dropdown-toggle.btn {
    height: grid(6);
    padding: grid(1) grid(4) grid(1) grid(2);
    position:relative;
    border:none;
    border-radius: 0;
    text-transform: uppercase;
    @include smallCapsText(13px);
    width:100%;
    text-align:left;
    .svg-down-arrow {
      position:absolute;
      right:grid(1);
      top:0px;
      bottom:0;
      width:14px;
      height: grid(1);
      margin:auto;
      polyline {
        stroke: $selectCaret;
        stroke-width: 2px;
        fill:none;
      }
    }
  }
}

@media(min-width: $gtMobile) {
  body {
    .dropdown-menu {
      max-height: grid(50);
    }
  }
}