@import '../../theme';

$newsletterMargin: grid(3);
$newsletterBg: #333;

// Newsletter Signup
// ---
.newsletter-signup {
  position:relative;
  z-index:10;
  width:100%;
  padding: $newsletterMargin;
  background: $newsletterBg;
  color: $grey2a;
  .content-inner {
    max-width: grid(34);
  }
  p {
    @include defaultFont(10px);
    line-height: 15px;
    color: $grey3;
    margin-bottom: grid(2);
  }
  .signup-form {
    display: flex;
  }
  .form-control {
    margin-right: grid(2);
    font-size:10px;
    height: grid(5);
  }
  .btn.btn-primary {
    padding: 0 grid(2);
    font-size:10px;
    height: grid(5);
  }
}
// display signup form in one line on tablet+
@media(min-width: $gtMobile) {
  .newsletter-signup {
    .content-inner {
      max-width: $maxContentWidth;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    p {
      margin: 0 grid(2) 0 0;
      width: grid(26);
      font-size: 13px;
      line-height: 19px;
      color: $white;
    }
    .form-control {
      font-size: 13px;
      width: grid(34);
      height: grid(7);
      margin-right: grid(2);
    }
    .btn.btn-primary {
      font-size: 15px;
      height: grid(7);
      padding: 0 grid(7);
    }
  }
}
// Boost widths and margins at small desktop+
@media(min-width: $gtTablet) {
  .newsletter-signup {
    p, .form-control { margin-right: grid(7); }
    p { width: grid(33); }
    .form-control { width: grid(38); }
    .btn.btn-primary { width: grid(30); }
  }
}
// Boost font sizes at large desktop
@media(min-width: $gtLaptop) {
  .newsletter-signup {
    p { line-height: 22px; }
    p, .form-control { font-size: 14px; }
  }
}

// Footer wrapper
// ---
footer {
  position: relative;
  z-index:10;
  width:100%;
  background: linear-gradient(180deg, $footerGradientFrom 0%, $footerGradientTo 100%);
  padding: grid(5) $pageMargin;
  color: $white;
  a {
    color: $white;
    &:hover { color: $linkColor; }
  }
}
// boost height / margin on tablet+
@media(min-width: $gtMobile) {
  footer {
    height: grid(43);
    padding: grid(5) $pageMarginLg;
  }
}
// boost height for small desktop+
@media(min-width: $gtTablet) {
  footer {
    height: grid(62);
  }
}

// FOOTER LAYOUT
// ---
.footer-content {
  margin:auto;
  max-width: $maxContentWidth;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  // padding on immediate children
  > * {
    padding: grid(2) 0;
  }
}
@media(min-width: $gtMobile) {
  .footer-content {
    @include fill-parent();
    margin:auto;
    height: grid(30); // 240px;
    width: grid(86); // 688px
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    .footer-logo {
      order: 1;
      margin-right: grid(8); // push links to the right
    }
    .footer-copyright {
      order: 2;
    }
    .footer-navigation {
      order: 3;
    }
    .footer-social {
      order: 4;
    }
  }
}
@media(min-width: $gtTablet) {
  .footer-content {
    width: grid(115); // 920px
    .footer-logo {
      margin-right: grid(25); // push links even more to the right
    }
  }
}
@media(min-width: $gtLaptop) {
  .footer-content {
    width: grid(115); // 920px
    .footer-logo {
      margin-right: grid(25); // push links even more to the right
    }
  }
}


// EVICTION LAB LOGO
// ---
.footer-logo {
  .horizontal-logo {
    display: none;
  }
  svg {
    width: grid(10);
    // logo colours
    .logo-letters { fill: $white; }
    .logo-shapes { fill: $color1; }
  }
}
@media(min-width: $gtMobile) {
  .footer-logo {
    .horizontal-logo {
      display: block;
      width: grid(31);
      height: 18px;
    }
    .vertical-logo {
      display: none;
    }
  }
}
@media(min-width: $gtTablet) {
  .footer-logo {
    .horizontal-logo {
      width: grid(38);
      height: 22px;
    }
  }
}

// SITE LINKS
// --- 
.footer-navigation {
  ul {
    width:100%;
    padding:0;
    margin:0; 
    list-style: none;
    text-align:center;
    @include defaultFont(12px);
    line-height: 1;
  }
  li { height: grid(3.5); }
}
@media(min-width: $gtMobile) {
  .footer-navigation {
    ul {
      font-size: 13px;
      width: grid(40);
      display:flex;
      flex-direction: column;
      flex-wrap:wrap;
      height: grid(17.5);
      text-align:left;
      li { 
        width: grid(20);
        height: grid(4);
      }
    }
  }
}
@media(min-width: $gtTablet) {
  .footer-navigation {
    ul {
      font-size: 14px;
      li {
        width: grid(30); // 240px columns for links
      }
    }
  }
}

// SOCIAL ICONS
// ---
.footer-social {
  p { 
    @include defaultFont(10px);
    text-align:center;
    line-height: 28px;
  }
  ul {
    width:100%;
    padding:0;
    margin:0; 
    list-style: none;
    text-align:center;
  }
  li {
    display:inline-block;
    margin-right: grid(1);
    &:last-child { margin-right: 0; }
  }
  a.btn.btn-border {
    position:relative;
    border-color: $footerIconBorder;
    color: $white;
    display:block;
    width: grid(4.5);
    height: grid(4.5);
    box-sizing: content-box;
    &:hover {
      border-color: $footerHoverIconBorder;
    }
    .icon {
      @include fill-parent();
      margin:auto;
      width: grid(2.5);
      height: grid(2.5);
      fill: #fff;
    }
  }
}
// horizontal layout
@media(min-width: $gtMobile) {
  .footer-social {
    margin:0;
    padding:0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    p, ul { width: auto; margin:0; }
    p {
      font-size: 11px;
      margin-right: grid(4); 
    }
  }
}
@media(min-width: $gtTablet) {
  .footer-social {
    p {
      font-size: 13px;
    }
  }
}

// COPYRIGHT MESSAGE / PRINCETON LOGO
// ---
.footer-copyright {
  margin-top: grid(1);
  color: $footerCopyrightColor;
  text-align:center;
  @include defaultFont(10px);
  .copyright-text p { margin: 0 0 grid(0.5) 0; }
  img { 
    width: grid(10); // 80px
    margin-top: grid(2); 
  }
}
@media(min-width: $gtMobile) {
  .footer-copyright {
    text-align: left;
    font-size: 11px;
    img { 
      width: grid(14); // 112px
      margin-top: grid(8); 
    }
  }
}
@media(min-width: $gtTablet) {
  .footer-copyright {
    font-size: 13px;
    padding-top: 0;
    .copyright-text p { margin: 0 0 grid(1) 0; }
    img { 
      width: grid(15.5); // 124px
      margin-top: grid(7); 
    }
  }
}
