@import '../../theme';


@mixin graph-colors($c1, $c2, $c3, $c4) {
  $strokeWidth: 5;
  .g0-start { stop-color: #F27636; }
  .g0-end { stop-color: #E04119; }
  .g1-start { stop-color: #787EB0; }
  .g1-end { stop-color: #434878; }
  .g2-start { stop-color: #57BEB6; }
  .g2-end { stop-color: #2C897F; }
  .g3-start { stop-color: #C6D5E0; }
  .g3-end { stop-color: #94AABD; }
  .app-graph {
    .line-0 {
      stroke: $c1; stroke-width: $strokeWidth;
      circle { fill: $c1; }
    }
    .line-1 {
      stroke: $c2; stroke-width: $strokeWidth;
      circle { fill: $c2; }
    }
    .line-2 {
      stroke: $c3; stroke-width: $strokeWidth;
      circle { fill: $c3; }
    }
    .line-3 {
      stroke: $c4; stroke-width: $strokeWidth;
      circle { fill: $c4; }
    }
    circle { stroke-width: 0 }
  }
}


.graph-area { 
  position:relative;
  display: block; 
  width:100%;
  text-align:right;
  padding-top: grid(5);
  app-graph {
    display:block;
    width:100%;
    padding-top:56.25%;
    position:relative;
    @include graph-colors($graphColor1, $graphColor2, $graphColor3, $graphColor4);
    .axis path, .graph-rect { 
      stroke: $graphAxisLines;
      stroke-width: 2px;
    }
    .app-graph .line { stroke-width: 5px; }
    // tick labels
    .axis .tick text {
      fill: $graphAxisLabels;
      @include numberFont(11px);
    }
    .axis line { stroke: #fff; }
    // hide tick lines
    .axis-x .tick {
      line { display:none; }
    }
    // hide the path that creates the edge tick lines
    .axis-x path.domain { display: none; }
    .label-y {
      @include smallCapsText(12px);
      text-transform: none;
      fill: $graphAxisLabels;
    }
  }
  // no tick labels on bar graphs
  &.bar-graph app-graph {
    .axis-x .tick {
      display:none;
    }
  }
}

@media(min-width: $gtMobile) {
  .graph-area app-graph .label-y { text-transform: uppercase; }
}