/*
  ngx-bootstrap checks if the body is overflowing, and adds padding if so. Since
  we have the html overflow-x hidden, this ends up just adding extra padding. Ignoring
  this padding is more straightforward than trying to toggle the overflow on and off
*/
body { padding-right: 0 !important; }

// IE: set some alternate styles for the navbar because sticky is not supported
@media(min-width: $gtMobile) {
  .ie .nav-bar {
    position: relative;
    left:auto;right:auto;bottom:auto;top:auto;
  }
}

.ie .content-evictions {
  margin-bottom: 0;
}
