/*
  ngx-bootstrap checks if the body is overflowing, and adds padding if so. Since
  we have the html overflow-x hidden, this ends up just adding extra padding. Ignoring
  this padding is more straightforward than trying to toggle the overflow on and off
*/
body { padding-right: 0 !important; }

/*
  Something about the production deployment is causing SVG linear gradients to fail on iOS browsers.
  This replaces the fill of any element using a linear gradient with a flat color.
*/
.ios, .safari {
  .fallback-gradient { fill: $color1 !important; }
  .app-graph {
    .bar-0 { fill: $color1 !important; }
    .bar-1 { fill: $color2 !important; }
    .bar-2 { fill: $color3 !important; }
  }
  .graph-area app-graph.average-shown .app-graph rect.bar:last-of-type { fill: $color4 !important; }
}
