/*
  Something about the production deployment is causing SVG linear gradients to fail on iOS browsers.
  This replaces the fill of any element using a linear gradient with a flat color.
*/
.ios {
  .fallback-gradient { fill: $color1 !important; }
  .app-graph {
    .bar-0 { fill: $color1 !important; }
    .bar-1 { fill: $color2 !important; }
    .bar-2 { fill: $color3 !important; }
  }
  .graph-area app-graph.average-shown .app-graph rect.bar:last-of-type { fill: $color4 !important; }
}
