// Header Mixins
// ---
@mixin iconLabelText() {
  @include altSmallCapsText(10px);
}
@mixin iconLabelTextLg() {
  @include altSmallCapsText(14px);
}
@mixin langSelectText() {
  @include defaultFont(10px);
  letter-spacing: 0.3px;
  text-transform: none;
}
@mixin langSelectTextLg() {
  @include defaultFont(15px);
  letter-spacing: 0;
}

// Header Container / Layout
// ---
.header-wrapper {
  position:absolute;
  top:0;left:0;right:0;
  width: 100%;
  height: $headerHeightSm;
  background:$defaultBackground;
  box-shadow: $z1shadow;
  padding: grid(1) $pageMargin;
  z-index:999;
  .header-content {
    position:relative;
    width: 100%;
    max-width: $maxContentWidth;    
    height:100%;
    padding:0;
    margin:0 auto;
    box-sizing:border-box;
    display:flex;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
  }
}
// boost header height on tablet+
@media(min-width: $gtMobile) {
  .header-wrapper {
    height: $headerHeightLg;
    padding: 0 $pageMarginLg;    
  }
}

// Search
// ---
.header-search { display: none; } // Hide search by default

// Toolbar Icons (show menu button only by default)
// ---
.header-icons {
  width: grid(5);
  height: 100%;
  display:flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  .btn.btn-icon {
    display: none;
    width: grid(5);
    height: grid(5);
    @include iconLabelText();
    // only show menu button by default
    &.el-button-menu {
      display: block;
    }
  }
  .icon {
    width:22px;
    height: 22px;
    margin: 2px auto 6px;
  }
  // icon colors
  .btn-icon { color: $headerButtonColor; }
  .icon { fill: $headerButtonColor; }
  .btn-icon.active { color: $headerActiveButtonColor; }
  .btn-icon.active .icon { fill: $headerActiveButtonColor; }
}
// boost icon size on tablet+
@media(min-width: $gtMobile) {
  .header-icons {
    flex:none;
    width:grid(5);
    height:grid(7);
    order: 4;
    // increase menu button size and show
    & .btn.btn-icon.el-button-menu {
      display:flex;
      width: grid(5);
      height: $headerContentHeight;
      color: $color1;
      .icon {
        width:grid(5);
        height: grid(4.5);
        fill: $color1;
        transition: width, height 0.4s ease;
      }
      span {
        position:relative;
        top:1px;
        @include iconLabelTextLg();
        line-height: 1;
        transition: font-size 0.4s ease;
      }
    }
  }
}

// Logo
// ---
.header-logo {
  display: block;
  flex:1;
  img { 
    transform-origin: 0 0;
    transition: transform 0.4s ease;
    width: 152px; 
  }
}
// boost logo size on tablet
@media(min-width: $gtMobile) {
  .header-logo {
    order:1;
    display:block;
    flex: 1;
    a { display: inline-block; line-height:1; }
    img { 
      width:grid(31); // 248px 
      height: 18px;
    }
  }
}
// boost size on laptop+
@media(min-width: $gtTablet) {
  .header-logo img {
    width: grid(40); // 320px
    height: 24px;
  }
}

// Language Toggle
// ---
.language-select {
  display: block;
  margin-right: grid(1);
  width: grid(9);
  .dropdown-toggle.btn {
    padding: grid(1) grid(2.5) grid(1) grid(1); 
    height: grid(5);
    text-align:center;
    .dropdown-value {
      @include langSelectText();
      position: relative;
      top: -2px; // nudge text up so it is vertically centered
    }
    .icon { width: grid(1); right: grid(1); }
  }
}
// Boost toggle size on tablet+
@media(min-width: $gtMobile) {
  .language-select {
    display:block;
    margin: 0 grid(3) 0 grid(2);
    height: grid(7);
    width: grid(14);
    order: 3;
    transition: all 0.4s ease;
    .dropdown-toggle.btn {
      text-align:left;
      height: grid(7);
      padding: grid(1) grid(3) grid(1) grid(2);
      .dropdown-value {
        top:auto;
        @include langSelectTextLg();
        transition: font-size 0.4s ease;
      }
      .icon {
        width: 14px;
        right: grid(2);
      }
    }
  }
}

// Condensed Header
// ---
@media(min-width: $gtMobile) {
  .header-wrapper {
    transition: height 0.4s ease;
  }
  .condensed {
    .header-wrapper {
      height: $headerHeightSm;
    }
    .header-logo img {
      width: grid(31); // 248px
      height: 18px;
    }
    .header-search {
      .form-control {
        height: grid(5);
        font-size:13px;
      }
    }
    .language-select {
      width: grid(12);
      height: grid(5);
      .dropdown-toggle.btn {
        height: grid(5);
        .dropdown-value {
          @include defaultFont(10px);
          top: -2px; // nudge text up so it is vertically centered
          letter-spacing: 0.3px;
        }
        .icon { width: grid(1); }
      }
    }
    // resize menu icon
    .header-icons {
      width:grid(4);
      height:grid(5);
      & .btn.btn-icon.el-button-menu {
        width: grid(4);
        height: grid(5);
        .icon {
          width: 22px;
          height: 22px;
        }
        span {
          top:auto;
          @include iconLabelText();
        }
      }
    }
  }
}
// scale header
@media(min-width: $gtTablet) {
  .condensed {
    .header-logo img {
      width: grid(40); // 320px
      height: 24px;
      transform: scale(0.775);
    }
  }
}