// Header Mixins
// ---
@mixin iconLabelText() {
  @include altSmallCapsText(10px);
}
@mixin iconLabelTextLg() {
  @include altSmallCapsText(14px);
}
@mixin langSelectText() {
  @include defaultFont(10px);
  letter-spacing: 0.3px;
  text-transform: none;
}
@mixin langSelectTextLg() {
  @include defaultFont(15px);
  letter-spacing: 0;
}

@mixin titleFont() {
  @include altFontMedium(16px);
}

@mixin subtitleFont() {
  @include altFontMedium(14px);
  color: $grey_wcag;
}

// Header Container / Layout
// ---
.header {
  height: $headerHeightSm;
  background: $defaultBackground;
  box-shadow: $z1shadow;
  padding: grid(1) $pageMargin;
  z-index: 999;
  transform: translateZ(0);
}
// boost header height on tablet+
@media (min-width: $gtMobile) {
  .header {
    height: $headerHeightLg;
    padding: 0 $pageMarginLg;
    transition: height 0.4s ease;
  }
}

// BASE STYLES
// ---
.header {
  .header__content {
    position: relative;
    width: 100%;
    max-width: $maxContentWidth;
    height: 100%;
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header__logo {
    display: block;
    flex: 1;
    img {
      transform-origin: 0 0;
      transition: transform 0.4s ease;
      width: 152px;
    }
    a {
      display: inline-block;
      line-height: 1;
    }
  }
  .header__map-title {
    margin: 0 grid(2) 0 0;
    flex: 1;
    @include titleFont();
    white-space: nowrap;
    max-width: calc(100% - #{grid(13)});
    text-overflow: ellipsis;
    overflow: hidden;
    span {
      display: block;
      @include subtitleFont();
    }
  }
  .header__data-btn {
    position: absolute;
    width: grid(18);
    left: grid(-2);
    top: grid(6);
    height: grid(5);
    background: #fff;
    color: $color1;
    border: 1px solid $grey4;
    border-left: none;
    border-right: none;
    transition: width 0.2s ease-in-out;
    border-radius: 0;
    &.active {
      width: calc(100% + #{grid(4)});
      z-index: 100;
    }
    &:focus,
    &:active {
      @include focusState();
    }
  }
  .header__language {
    display: block;
    margin: 0 grid(3) 0 grid(2);
    width: grid(12);
    height: grid(5);
    transition: all 0.4s ease;
    .dropdown-toggle.btn {
      text-align: left;
      height: grid(5);
      padding: grid(1) grid(3) grid(1) grid(2);
      .dropdown-value {
        top: auto;
        @include langSelectText();
        transition: font-size 0.4s ease;
      }
      .icon {
        width: grid(1);
        right: grid(2);
      }
    }
  }
  .header__menu {
    &.btn.btn-icon {
      width: grid(5);
      height: grid(5);
      @include iconLabelText();
      color: $headerButtonColor;
      .icon {
        width: 22px;
        height: 22px;
        margin: 2px auto 6px;
        fill: $headerButtonColor;
      }
      &.active {
        color: $headerActiveButtonColor;
        fill: $headerActiveButtonColor;
      }
    }
  }
}

// MOBILE ONLY
// ---
@media (max-width: 480px) {
  .header {
    .header__search {
      &.active {
        width: calc(100% + #{grid(4)});
      }
    }
  }
}
@media (max-width: $gtMobile) {
  .header {
    .header__search {
      display: block;
      position: absolute;
      top: grid(6);
      right: grid(-2);
      width: calc(100% - #{grid(14)});
      transition: width 0.2s ease-in-out;
      .form-control {
        height: grid(5);
        border-right: none;
      }
      &.active {
        .form-control {
          border-left: none;
        }
      }
    }
  }
}

// header for large devices
@media (min-width: $gtMobile) {
  .header {
    .header__content {
      justify-content: flex-end;
      align-content: center;
      align-items: center;
    }
    .header__logo {
      order: 1;

      img {
        width: grid(31); // 248px
        height: 18px;
      }
    }
    .header__data-btn {
      display: none;
    }
    .header__map-title {
      display: none;
    }
    .header__language {
      display: block;
      margin: 0 grid(3) 0 grid(2);
      height: grid(7);
      width: grid(14);
      order: 3;
      .dropdown-toggle.btn {
        text-align: left;
        height: grid(7);
        padding: grid(1) grid(3) grid(1) grid(2);
        .dropdown-value {
          @include langSelectTextLg();
        }
        .icon {
          width: 14px;
          right: grid(2);
        }
      }
    }
    .header__menu {
      &.btn.btn-icon {
        order: 4;
        height: $headerContentHeight;
        color: $color1;
        @include iconLabelTextLg();
        .icon {
          width: grid(5);
          height: grid(4.5);
          fill: $color1;
          transition: width, height 0.4s ease;
        }
        span {
          position: relative;
          top: 1px;
          line-height: 1;
          transition: font-size 0.4s ease;
        }
      }
    }
  }
}

// boost size on laptop+
@media (min-width: $gtTablet) {
  .header__content {
    .header__logo img {
      width: grid(40); // 320px
      height: 24px;
    }
  }
}

// Condensed Header
// ---
@media (min-width: $gtMobile) {
  .header.condensed {
    height: $headerHeightSm;
    .header__content {
      .header__logo img {
        width: grid(31); // 248px
        height: 18px;
      }
      .header__search {
        .form-control {
          height: grid(5);
          font-size: 13px;
        }
      }
      .header__language {
        width: grid(12);
        height: grid(5);
        .dropdown-toggle.btn {
          height: grid(5);
          .dropdown-value {
            @include defaultFont(10px);
            top: -2px; // nudge text up so it is vertically centered
            letter-spacing: 0.3px;
          }
          .icon {
            width: grid(1);
          }
        }
      }
      .header__menu.btn.btn-icon {
        width: grid(5);
        height: grid(5);
        @include iconLabelText();
        color: $headerButtonColor;
        .icon {
          width: 22px;
          height: 22px;
          margin: 2px auto 6px;
          fill: $headerButtonColor;
        }
        &.active {
          color: $headerActiveButtonColor;
          fill: $headerActiveButtonColor;
        }
      }
    }
  }
}
// scale header
@media (min-width: $gtTablet) {
  .header.condensed {
    .header__logo img {
      width: grid(40); // 320px
      height: 24px;
      transform: scale(0.775);
    }
  }
}
