// HERO

@mixin heroText($size) {
  @include altSmallCapsText($size);
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
}

.hero {
  height: 150px;
  position:relative;
  background: $grey0;
  h1 {
    @include fill-parent();
    @include heroText(20px);
    letter-spacing: 2px;
    height: grid(5);
    text-align:center;
    color: #fff;
    margin:auto;
    &:after {
      content:"";
      width: grid(8);
      height: 5px;
      background: $color1;
      box-shadow: $z1shadow;
      position:absolute;
      bottom:0;
      left:0;
      right:0;
      margin:auto;
    }
  }
}

@media(min-width: $gtMobile) {
  .hero {
    height:260px;
    h1 { 
      @include heroText(34px);
      letter-spacing: 4px;
      height: grid(8);
      &:after {
        width: grid(12);
        height: grid(1);
      }
    }
  }
}

@media(min-width: $gtTablet) {
  .hero {
    height: 300px;
    h1 { 
      @include heroText(36px);
      letter-spacing: 4.2px;
    }
  }
}
