// HERO

.hero {
  height: grid(19);
  position:relative;
  background: $grey0;
  h1 {
    @include fill-parent();
    @include altSmallCapsText(20px);
    height: grid(5);
    text-align:center;
    color: #fff;
    margin:auto;
    text-shadow: 0 1px 3px #000;
    letter-spacing: 0.125em;
    &:after {
      content:"";
      width: grid(8);
      height: 5px;
      background: $color1;
      box-shadow: $z1shadow;
      position:absolute;
      bottom:0;
      left:0;
      right:0;
      margin:auto;
    }
  }
}

@media(min-width: $gtMobile) {
  .hero {
    height:auto;
    padding-top: 23.125%; // 1280:296 ratio
    h1 { 
      @include altSmallCapsText(32px);
      height: grid(7);
      &:after {
        width: grid(12);
        height: grid(1);
      }
    }
  }
}

@media(min-width: $gtLaptop) {
  .hero {
    padding-top:0;
    height: grid(37);
    h1 { 
      @include altSmallCapsText(36px);
      height: grid(8);
    }
  }
}
