body {

  // Checkboxes
  // ---
  input[type=checkbox] {
    -webkit-appearance: none;
    width: grid(5);
    height: grid(5);
    margin:0;
    background-color: $white;
    border: 1px solid $grey4;
    box-shadow: none;
    display: inline-block;
    position: relative;
    // add a checkmark when checked
    &:checked:after {
      content: '';
      display: block;
      width: 10px;
      height: 20px;
      border: solid $color1;
      border-width: 0 3px 3px 0;
      transform: rotate(45deg);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 4px;
      margin: auto;
    }
    &:focus {
      @include focusState();
    }
  }

}