$menuMargin: grid(5);

// Container layout
// ---
.app-menu {
  position: fixed;
  width: 100%;
  max-height: 100%;
  top: 0;
  left: 0;
  transform: translate3d(
    0,
    calc(-100% - 5px), // translate a little extra so shadow doesn't show
    0
  );
  z-index: 999;
  background: $menuBg;
  padding: 0 grid(3);
  display: block;
  transition: transform 0.4s ease;
  box-shadow: $menuShadow;
  overflow: auto;
  &.expanded {
    transform: translate3d(0, 0, 0);
  }
}
// boost size on tablet+
@media (min-width: $gtMobile) {
  .app-menu {
    padding: 0 grid(5);
  }
}

// Close button
// ---
.app-menu .menu-close {
  position: absolute;
  top: grid(3);
  right: grid(4);
  width: grid(6);
  height: grid(6);
  .icon {
    width: 22px;
    height: 22px;
    fill: $white;
  }
  span {
    display: block;
    color: $white;
    margin-top: grid(1);
    @include altSmallCapsText(10px);
  }
}
@media (min-width: $gtMobile) {
  .app-menu .menu-close {
    width: grid(7);
    height: grid(7);
    .icon {
      width: grid(4);
      height: grid(3.25);
    }
    span {
      @include altSmallCapsText(12px);
    }
  }
}

// Navigation Links
// ---
.site-navigation {
  @include altFont(18px);
  letter-spacing: 0.6px;
  margin-top: grid(10);
  margin-bottom: grid(4);
  line-height: 1.42857143;
  ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
  }
  li {
    margin-bottom: grid(1.5);
  }
  > ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    > li {
      flex: 0 0 100%;
      max-width: 100%;
      padding-left: 15px;
      padding-right: 15px;
      &:first-child {
        margin-bottom: grid(4.5);
      }
      &:not(:first-child) {
        @media (min-width: $gtMobile) {
          flex: 0 0 50%;
          max-width: 50%;
        }
        @media (min-width: $gtTablet) {
          flex: 0 0 25%;
          max-width: 25%;
        }
      }
      > div {
        @include altFont(12px);
        letter-spacing: 0.6px;
        color: $white;
        text-transform: uppercase;
        padding-top: grid(2.5);
        margin-bottom: grid(2.5);
        border-top: grid(0.5) solid $white;
      }
      > ul > li > ul {
        margin-top: grid(1.5);
        > li {
          padding-left: 30px;
          background-image: url('assets/images/arrow--right.svg');
          background-size: 10px;
          background-position: left center;
          background-repeat: no-repeat;
        }
      }
    }
  }
  a {
    display: inline;
    color: $white;
    border-bottom: grid(0.5) solid transparent;
    &:hover,
    &:focus {
      color: $white;
      border-bottom-color: $white;
      text-decoration: none;
      box-shadow: none;
      outline: 0;
    }
  }
}
// boost size on tablet+
@media (min-width: 992px) and (min-height: 680px) {
  .app-menu .site-navigation {
    @include altFont(20px);
    letter-spacing: 0.7px;
    // padding-top: 16px;
    li {
      margin-bottom: grid(2.5);
    }
    > ul > li > ul > li > ul {
      margin-top: grid(2.5);
    }
    ul > li > div {
        @include altFont(14px);
    }
  }
}

// Language Toggle - Only visible on "maps" mobile view
// ---
.app-menu .language-select {
  display: none;
}
.map-tool .app-menu .language-select {
  display: block;
  // position: absolute;
  width: grid(27);
  // left: $pageMarginLg;
  // bottom: grid(9);
  margin-bottom: grid(2);
  .el-select .dropdown-toggle.btn {
    background: none !important;
    color: $white !important;
    border: 4px solid #383d65;
    border-radius: 0;
    text-align: left;
    box-shadow: none;
    .dropdown-value {
      @include altSmallCapsText(13px);
    }
  }
}
@media (min-width: $gtMobile) {
  .map-tool .app-menu .language-select {
    display: none;
  }
}

// Social media links
// ---
.social-media-links {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 0 $pageMargin $pageMargin;
  list-style: none;
  margin: 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  // border button overrides
  .btn.btn-border {
    padding: grid(1);
    background: none;
    margin-right: grid(1.5);
    width: grid(5);
    height: grid(5);
    border-width: 0;
    color: $white;
    .icon {
      margin: 0 auto;
      width: grid(2);
      height: grid(2);
      fill: $white;
    }
    &:hover {
      .icon {
        fill: $white;
      }
    }
  }
}

@media (min-width: $gtMobile) {
  .social-media-links {
    left: grid(2);
    bottom: grid(2);
  }
}

// Copyright Message
// ---
.menu-copyright {
  position: absolute;
  bottom: $pageMarginLg;
  right: $pageMarginLg;
  @include defaultFont(11px);
  color: $menuGrey;
}

@media (min-width: $gtMobile) {
  .menu-copyright {
    bottom: grid(5);
    font-size: 14px;
  }
}
