// Toast message container
// ---
// directly below header on mobile
#toast-container {
  pointer-events: none;
  position: fixed;
  z-index: 99999;
  top: grid(7);
  width:100%;
  left:0;
  right:0;
}
// centered under header and UI on tablet+
@media(min-width: $gtMobile) {
  #toast-container {
    top: grid(19);
    left: $pageMarginLg;
    right: $pageMarginLg;
    margin:auto;
    width: grid(45);
  }
}
// right above the time slider in bottom left on laptop+
@media(min-width: $gtTablet) {
  #toast-container {
    top: auto;
    left: 0;
    right: auto;
    bottom: $timeSliderLg;
    width: grid(45);
  }
}

// Toast wrapper
// ---
.toast {
  background-color: $black;
  pointer-events: auto;
}

// Toast message text
// ---
#toast-container > div {
  position: relative;
  overflow: hidden;
  padding: grid(2) grid(5) grid(2) grid(3);
  width: 100%;
  font-size:$toastText;
  color: $white;
}
// boost font size on laptop+
@media(min-width: $gtTablet) {
  #toast-container > div {
    font-size: $toastText_lptp;
  }
}

.toast-message {
  word-wrap: break-word;
}
.toast-close-button {
  position: absolute;
  right: grid(2);
  top: grid(2) - 2px;
  font-size: 20px;
  line-height:1;
  font-weight: bold;
  color: $white;
}
.toast-close-button:hover,
.toast-close-button:focus {
  color: $color1;
  text-decoration: none;
  cursor: pointer;
}
/*Additional properties for button version
iOS requires the button element instead of an anchor tag.
If you want the anchor version, it requires `href="#"`.*/
button.toast-close-button {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}
#toast-container > :hover {
  cursor: pointer;
}
