// Base class
.tooltip {
  position: absolute;
  display: block;
  z-index: 9999;
  &.top {
    margin-top: -3px;
    padding: $tooltipArrowSize 0;
  }
  &.right {
    margin-left: 3px;
    padding: 0 $tooltipArrowSize;
  }
  &.bottom {
    margin-top: 3px;
    padding: $tooltipArrowSize 0;
  }
  &.left {
    margin-left: -3px;
    padding: 0 $tooltipArrowSize;
  }
}
// Arrows
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
// Arrow positioning
.tooltip {
  &.bottom .tooltip-arrow {
    @include tooltip-arrow("top");
  }
  &.top .tooltip-arrow {
    @include tooltip-arrow("bottom");
  }
  &.left .tooltip-arrow {
    @include tooltip-arrow("right");
  }
  &.right .tooltip-arrow {
    @include tooltip-arrow("left");
  }
}
.tooltip-inner {
  @include tooltip();
}
.tooltip.tooltip-number .tooltip-inner {
  @include numberFont(12px);
}
