<div class="navigation-wrapper">
  <nav class="site-navigation">
    <ul>
      <li *ngFor="let link of navigation; index as i">

        <div *ngIf="link.url; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock>
          <a
            [attr.tabindex]="expanded ? null : -1"
            [href]="link.url"
            >{{ link.name }}</a
          >
        </ng-template>
        <ng-template #elseBlock>
          <div>{{ link.name }}</div>
        </ng-template>
        <ng-template [ngIf]="link.children">
          <ul [attr.aria-label]="link.name">
            <li *ngFor="let _link of link.children">
              <a
                [attr.tabindex]="expanded ? null : -1"
                [href]="_link.url"
                >{{ _link.name }}</a
              >
              <ng-template [ngIf]="_link.children">
                <ul [attr.aria-label]="_link.name">
                  <li *ngFor="let __link of _link.children">
                    <a
                      [attr.tabindex]="expanded ? null : -1"
                      [href]="__link.url"
                      >{{ __link.name }}</a
                    >
                  </li>
                </ul>
              </ng-template>
            </li>
          </ul>
        </ng-template>
      </li>
    </ul>
  </nav>
  <ng-content></ng-content>
  <button
    [attr.tabindex]="expanded ? null : -1"
    class="btn btn-icon menu-close"
    (click)="closeMenu()"
  >
    <app-ui-icon icon="close"></app-ui-icon>
    <span>{{ "NAV.CLOSE_MENU" | translate }}</span>
  </button>
</div>
