<div class="navigation-wrapper">
  <nav class="site-navigation">
    <ul>
      <li *ngFor="let link of navigation">
        <a [attr.tabindex]="expanded ? null : -1" [href]="link.url">{{ link.name }}</a>
      </li>
    </ul>
  </nav>
  <ul class="social-media-links">
    <li>
      <a [attr.tabindex]="expanded ? null : -1" class="btn btn-border" href="#" target="_blank">
        <app-ui-icon icon="facebook"></app-ui-icon>
      </a>
    </li>
    <li>
      <a [attr.tabindex]="expanded ? null : -1" class="btn btn-border" href="#" target="_blank">
          <app-ui-icon icon="twitter"></app-ui-icon>
      </a>
    </li>
  </ul>
  <ng-content></ng-content>
  <span class="menu-copyright">&copy; 2018 Eviction Lab</span>
  <app-ui-close-button class="menu-close light"
    [label]="'NAV.CLOSE_MENU' | translate"
    (onPress)="onClose.emit()"
  ></app-ui-close-button>
</div>
