@import "../../../../theme";

@mixin buttonText() {
  @include altSmallCapsText(14px);
}

@mixin linkButtonText() {
  @include defaultFont(14px);
  color: $color1;
  text-decoration: underline;
  text-transform: none;
  letter-spacing: 0;
  padding: 0;
}

@mixin titleText() {
  @include altFont(21px);
}

:host {
  position: absolute;
  z-index: 1001;
  background: $tooltipBackground;
  color: #fff;
  padding: grid(2);
  max-width: grid(46);
  pointer-events: all;
  transition: transform 0.2s ease-out;
  margin: 0;
  // button style overrides
  .btn {
    height: grid(5);
  }
  .btn--secondary {
    background: $color2;
    @include buttonText();
  }
  .btn--primary {
    background: $color1;
    @include buttonText();
  }
  .btn--link {
    background: none;
    @include linkButtonText();
    padding: 0 grid(1);
  }
  // arrows
  &:before {
    content: "";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
  }
  &.arrow--top {
    margin-top: grid(1);
    &:before {
      @include tooltip-arrow("top", grid(1.5));
      top: grid(-1.5);
    }
  }
  &.arrow--bottom {
    margin-top: grid(-1);
    &:before {
      @include tooltip-arrow("bottom", grid(1.5));
      bottom: grid(-1.5);
    }
  }
  &.arrow--top.arrow--left:before,
  &.arrow--bottom.arrow--left:before {
    left: grid(3);
  }
  &.arrow--top.arrow--right:before,
  &.arrow--bottom.arrow--right:before {
    left: auto;
    right: grid(3);
  }
}

.guide-step__top {
  @include hGroup(space-between, center);
  margin-top: grid(-2);
  app-ui-close-button {
    margin-right: grid(-1.5);
  }
}

.guide-step__title {
  margin: 0;
  @include titleText();
}

.guide-step__content {
  margin: 0 0 grid(2);
  font-size: 13px;
}

.guide-step__actions {
  @include hGroup(stretch, center);
  .btn {
    margin-right: grid(1);
  }
  span {
    margin-left: auto;
  }
}
