<div class="guide-step__top">
  <h3 class="guide-step__title">{{ title }}</h3>
  <app-ui-close-button (click)="onDismiss.emit($event)"></app-ui-close-button>
</div>
<div class="guide-step__content" [innerHTML]="content"></div>
<div class="guide-step__actions">
  <button
    *ngIf="total > 1"
    (click)="step !== 1 && onPrevious.emit($event)"
    class="btn btn--secondary"
    [class.hide]="step === 1"
  >
    &lt;
  </button>
  <button
    (click)="onNext.emit($event)"
    class="btn btn--secondary"
    [class.btn--secondary]="step !== total"
    [class.btn--primary]="step === total"
  >
    {{ step === total ? "Okay" : "Next" }}
  </button>
  <button (click)="onStop.emit($event)" class="btn btn--link">
    stop guiding me
  </button>
  <span *ngIf="total > 1">{{ step }} / {{ total }}</span>
</div>
