@import '../../../theme';

.ranking-page {
  margin-top: $headerHeightSm;
  margin-bottom: grid(2);
}

.page-content {
  padding: $pageMargin;
}

:host-context(.gt-mobile) {
  .page-content {
    padding: $pageMarginLg;
  }
}

// add some space for the sidebar
.page-content .content-inner {
  // position: relative;
  // padding-left: grid(43);
  display: flex;
}

app-ranking-ui {
  position:sticky;
  top: grid(21);
  z-index:10;
  display:block;
  margin-right: grid(3);
}
app-ranking-list {
  padding: grid(2);
}

.nav-bar {
  height: grid(8);
  box-shadow: $z1shadow;
  padding: 0 $pageMargin;
  position: -webkit-sticky;
  position: sticky;
  top: grid(11);
  background-color: $rankingsBg1;
  z-index: 11;

  .content-inner {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }
  ul {
    list-style: none;
    padding:0;
    margin:0;
    height:100%;
    overflow:hidden;
    
    li {
      display:inline-block;
      @include altFont(16px);
      height:100%;
      margin: 0 grid(1);
      a {
        color: $grey1a;
        display:block;
        height:100%;
        line-height: grid(4);
        padding: grid(2);
        padding-left: 0;
        &:hover {
          color: $color1;
          text-decoration: none;
        }
      }
      &.active {
        &::after {
          content: '';
          width: grid(6);
          position: absolute;
          bottom: 0;
          border-bottom: grid(0.5) solid $color1;
        }
        a { color: $color1; }
      }
    }
  }
}

:host-context(.gt-mobile) {
  .ranking-page {
    margin-top: $headerHeightLg;
  }
}


.page-fixed-bottom {
  position: fixed; // fallback for IE11
  position: sticky;
  bottom:0;
  left:0;
  right:0;
  background: $white;
  padding: $pageMarginLg;
  z-index:11;
  box-shadow: $z1shadow;
  app-ranking-panel {
    display:block;
  }
}

.scroll-to-top-button {
  position: fixed;
  position: -webkit-sticky;
  position: sticky;
  cursor: pointer;
  text-align: center;
  padding: grid(1.25);
  width: grid(5);
  height: grid(5);
  box-shadow: $z1shadow;
  background-color: $rankingsBg1;
  right: grid(3);
  bottom: grid(3);
  margin-left: auto;
  z-index: 2;

  polyline { stroke: $color1; }

  &:hover, &:active {
    background-color: $color1;

    polyline { stroke: $white; }
  }
}

:host-context(.gt-mobile) {
  .scroll-to-top-button {
    display: none;
  }
}