<div class="ranking-page" role="main">
  <div class="hero">
    <h1>{{ 'RANKINGS.EVICTION_RANKINGS' | translate }}</h1>
  </div>
  <div class="nav-bar nav-rankings">
    <div class="content-inner">
      <ul class="tabs">
        <li [class.active]="activeTab === 'evictions'">
          <a routerLink="/evictions">{{ 'RANKINGS.TOP_EVICTING_AREAS' | translate }}</a>
        </li>
        <li [class.active]="activeTab === 'evictors'">
          <a>{{ 'RANKINGS.TOP_EVICTORS' | translate }}</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="page-content">
    <div class="content-inner">
      <div class="ranking-ui-container">
        <button class="search-filter" (click)="showUiPanel = true">
          <span _ngcontent-c7="" aria-hidden="true" class="glyphicon glyphicon-search"></span>
          <span> {{ 'RANKINGS.SEARCH_FILTER' | translate }}</span>
        </button>
        <app-ranking-ui
          *ngIf="activeTab === 'evictions'"
          [class.show]="showUiPanel"
          [locationList]="fullData"
          [regions]="rankings.regionList"
          [areaTypes]="rankings.areaTypes"
          [dataProperties]="rankings.sortProps"
          (selectedLocationChange)="onSearchSelectLocation($event.hasOwnProperty('selection') ? $event.selection : null)"
          [selectedRegion]="region"
          (selectedRegionChange)="onRegionChange($event)"
          [selectedAreaType]="areaType"
          (selectedAreaTypeChange)="onAreaTypeChange($event)"
          [selectedDataProperty]="dataProperty"
          (selectedDataPropertyChange)="onDataPropertyChange($event)"
          (applyFilters)="showUiPanel = false"
          (clearFilters)="showUiPanel = false"
          (closePanel)="showUiPanel = false"
        ></app-ranking-ui>
      </div>
      <app-ranking-list *ngIf="areaType && dataProperty"
        [year]="rankings.year"
        [class]="'area-'+areaType.value"
        [list]="truncatedList"
        [dataProperty]="dataProperty.value"
        [maxValue]="dataMax"
        [selectedIndex]="selectedIndex"
        (locationSelected)="onClickLocation($event)"
      ></app-ranking-list>
    </div>
  </div>
  <div class="page-fixed-bottom" *ngIf="canRetrieveData && (selectedIndex || selectedIndex === 0)">
    <app-ranking-panel
      [rank]="selectedIndex+1"
      [location]="listData[selectedIndex]"
      [dataProperty]="dataProperty"
      (goToPrevious)="onGoToPrevious()"
      (goToNext)="onGoToNext()"
      (close)="onClose()"
    ></app-ranking-panel>
  </div>

</div>


