@import '../../../theme';

$navBarHeight: grid(8);
$sidePanelHeight: grid(55);

// add margin so header doesn't overlap page content
.ranking-page {
  margin-top: $headerHeightSm;
  margin-bottom: grid(2);
}
:host-context(.gt-mobile) {
  .ranking-page {
    margin-top: $headerHeightLg;
  }
}

// default content margins
.page-content {
  padding: $pageMargin;
}
@media(min-width: $gtMobile) {
  .page-content {
    padding: $pageMarginLg;
  }
}
@media(min-width: $gtTablet) {
  .page-content {
    padding: grid(6) $pageMarginLg;
  }
}

// vertical stacked layout on mobile
.page-content .content-inner {
  display: flex;
  flex-direction: column;
}
// side by side layout on tablet+
@media(min-width: $gtMobile) {
  .page-content .content-inner {
    flex-direction: row;
  }
}

// subpage navigation (tabs)
.nav-bar {
  position:relative;
  box-shadow: $z1shadow;
  padding: 0 $pageMargin;
  background-color: $rankingsBg1;
  z-index: 11;
  .content-inner {
    height: 100%;
  }
  ul {
    list-style: none;
    margin:0;
    padding: grid(1) 0;
    height:100%;
    display: flex;
    flex-direction: column;    
    li {
      @include altSmallCapsText(12px);
      height:grid(5);
      a {
        text-align: center;
        color: $grey1a;
        display:block;
        width:100%;
        height:100%;
        line-height: grid(5);
        padding-left: 0;
        &:hover {
          color: $color1;
          text-decoration: none;
        }
      }
      &.active {
        a { color: $color1; }
      }

    }
  }
}
// nav bar is sticky on tablet+
@media(min-width: $gtMobile) {
  .nav-bar {
    position: sticky;
    z-index:30;
    top: $headerHeightLg - 1px; // fix 1px showing through
    height: grid(8);
    ul {
      flex-direction: row;
      align-items: center;
      justify-content:center;
    }
    ul li { 
      @include altFont(16px);
      text-transform: none;
      height: 100%;
      a { line-height: grid(6); }
      &:first-child { margin-right: grid(4); }
      &.active {
        &::after {
          content: '';
          width: grid(6);
          position: absolute;
          bottom: 0;
          border-bottom: grid(0.5) solid $color1;
        }
      }
    }
  }
}

// panel toggle button
.search-filter {
  @include altSmallCapsText(12px);
  height: grid(5);
  width:100%;
  margin: 0 -1*$pageMargin grid(2);
  border:none;
  background: $grey5a;
  padding:0 $pageMargin;
  line-height: grid(5);
  box-sizing: content-box;
  text-align:left;
  .icon { 
    position: relative;
    top: 4px;
    fill: $color1; 
    display:inline-block;
    margin-right: grid(2);
    width: grid(2);
    height: grid(2);
  }
}
@media(min-width: $gtMobile) {
  .search-filter {
    width: grid(10);
    height: grid(10);
    text-align:center;
    padding: grid(1);
    line-height: 1.42;
    margin:0;
    box-sizing: border-box;
    color: $color1;
    box-shadow: $z2shadow;
    .icon { 
      position:static;
      width: grid(3);
      height: grid(3);
      display: block;
      margin: 0 auto grid(1);
    }
  }
}
@media(min-width: $gtTablet) {
  .search-filter { display: none; }
}

// panel off-screen by default
app-ranking-ui {
  position:fixed;
  top: $headerHeightSm;
  bottom:0;
  left:0;
  right:0;
  width:100%;
  height: calc(100% - #{$headerHeightSm});
  z-index:998;
  display:block;
  transition: transform 0.2s ease;
  transform: translate3d(-100%, 0, 0);
  background: $grey4a;
  margin:0;
  overflow:auto;
  &.show {
    transform: translate3d(0,0,0);
  }
}
// panel is sticky, but still off-screen on tablet
@media(min-width: $gtMobile) {
  .ranking-ui-container {
    position:sticky;
    top: $headerHeightLg + $navBarHeight + $pageMarginLg;
    margin-left: -1*$pageMarginLg;
    width: grid(10);
    height: grid(10);
    overflow:visible;
    z-index: 20;
  }
  app-ranking-ui {
    position:absolute; 
    top:0;left:0;
    width:grid(40);
    transform: translate3d(-150%, 0, 0);
    z-index:20;
    height: grid(55);
    box-shadow: $z2shadow;
    overflow:visible;
    // no "apply" button, filters are applied immediately
    ::ng-deep .ranking-ui-actions .btn.btn-primary {
      display: none;
    }
  }
}
// Sticky sidebar always visible on desktop+
@media(min-width: $gtTablet) {
  .ranking-ui-container {
    position:static;
    width: grid(40);
    height: $sidePanelHeight;
    margin-left:0;
  }
  app-ranking-ui {
    position:relative;
    display:block;
    z-index:10;
    margin-right: grid(3);
    transform: translate3d(0,0,0);
    background: none;
    height:auto;
    overflow:visible;
    box-shadow:none;
    // hide close button
    ::ng-deep .btn-close { display: none; }
  }
}
// make sidebar sticky when there is enough vertical space
@media(min-width: $gtTablet) and (min-height: 850px) {
  .ranking-ui-container {
    position:sticky;
  }
}

// Rankings Page Body
// ---
.ranking-body {
  & > h2 {
    margin: grid(2) 0 grid(1);
    @include altFont(16px);
    color: $grey1a;
  }
  & > h3 {
    margin: grid(1) 0 grid(2);
    @include defaultFontBold(10px);
  }
  & > p {
    font-size: 12px;
    margin: grid(2) 0;
  }
}
// adjust margins so list is centered on page
@media(min-width: $gtMobile) {
  .ranking-body {
    margin-left: $pageMarginLg;
    margin-right: grid(10);
    & > h2 {
      margin-top: 0;
      @include altFont(21px);
    }
    & > h3 {
      margin: grid(2) 0 grid(2);
      @include defaultFontBold(14px);
    }
    & > p {
      font-size: 14px;
    }
  }
}
@media(min-width: $gtTablet) {
  .ranking-body {
    margin-left: grid(7);
    margin-right:0;
    & > h2 {
      @include altFont(28px);
    }
    & > p {
      margin-bottom: grid(3);
    }
  }
}
@media(min-width: $gtLaptop) {
  .ranking-body {
    & > h2 {
      @include altFont(30px);
    }
    & > h3 {
      @include defaultFontBold(15px);
    }
    & > p {
      margin-bottom: grid(4);
      font-size: 15px;
      line-height: 21px;
    }
  }
}



// bottom data panel
.page-fixed-bottom {
  position: fixed; // fallback for IE11
  position: sticky;
  bottom:0;
  left:0;
  right:0;
  background: $white;
  z-index:21;
  box-shadow: $z1shadow;
  app-ranking-panel {
    display:block;
  }
}

.scroll-to-top-button {
  position: fixed;
  position: sticky;
  cursor: pointer;
  text-align: center;
  padding: grid(1.25);
  width: grid(5);
  height: grid(5);
  box-shadow: $z1shadow;
  background-color: $rankingsBg1;
  right: grid(3);
  bottom: grid(3);
  margin-left: auto;
  z-index: 2;
  .icon {
    width: grid(2);
    height: grid(2);
    margin:auto;
    fill: $color1;
  }
  &:hover, &:active {
    background-color: $color1;
    .icon { fill: $white; }
  }
  
}

.social-icons {
  margin-top: grid(3);
  padding: grid(1);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  .btn-border.icon {
    margin: 0 grid(1);
    border: none;
    height: grid(3);
    width: grid(3);
    background-color: #EEF2F5;

    &.btn-link { 
      padding-top: 0;
      svg { margin-top: 0; }
    }
  }

  .share-intro {
    @include altSmallCapsText(12px);
    color: $grey1a;
    margin-right: grid(1);
  }

  a:hover {
    text-decoration: none;
  }
}

:host-context(.gt-mobile) {
  .scroll-to-top-button {
    display: none;
  }
}
