@import '../../../theme';

.ranking-page {
  margin-top: $headerHeightSm;
}

.page-content {
  padding: $pageMargin;
}

:host-context(.gt-mobile) {
  .page-content {
    padding: $pageMarginLg;
  }
}

.nav-bar {
  height: grid(8);
  box-shadow: $z1shadow;
  padding: 0 $pageMargin;
  .content-inner {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  ul {
    list-style: none;
    padding:0;
    margin:0;
    height:100%;
    overflow:hidden;
    
    li {
      display:inline-block;
      @include defaultFontBold(16px);
      height:100%;
      &.active {
        border-bottom: grid(0.5) solid $color1;
      }
      a {
        color: $black;
        display:block;
        height:100%;
        line-height: grid(4);
        padding: grid(2);
        &:hover {
          text-decoration: none;
          background: $grey4;
        }
      }
    }
  }
}

:host-context(.gt-mobile) {
  .ranking-page {
    margin-top: $headerHeightLg;
  }
}


.page-fixed-bottom {
  position:fixed;
  bottom:0;
  left:0;
  right:0;
  background: $white;
  padding: $pageMarginLg;
  z-index:1000;
  box-shadow: $z1shadow;
  app-ranking-scale {
    position:absolute;
    top:0;
    left:0;
    right:0;
    width:100%;
  }
  app-ranking-panel {
    display:block;
    margin-top: grid(6);
  }
}

.page-fixed-bottom.unfix { position: inherit; }

:host-context(.gt-mobile) {

}