<div class="ranking-page" role="main">
  <div class="hero">
    <h1>Eviction Rankings</h1>
  </div>
  <div class="nav-bar nav-rankings">
    <div class="content-inner">
      <ul class="tabs">
        <li [class.active]="activeTab === 'evictions'">
          <a routerLink="/evictions">Top Evicting Areas</a>
        </li>
        <li [class.active]="activeTab === 'evictors'">
          <a>Top Evictors</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="page-content">
    <div class="content-inner">
        <app-ranking-ui
          *ngIf="activeTab === 'evictions'"
          [locationList]="fullData"
          [regions]="rankings.regionList"
          [areaTypes]="rankings.areaTypes"
          [dataProperties]="rankings.sortProps"
          (selectedLocationChange)="onSearchSelectLocation($event.hasOwnProperty('selection') ? $event.selection : null)"
          [selectedRegion]="region"
          (selectedRegionChange)="onRegionChange($event)"
          [selectedAreaType]="areaType"
          (selectedAreaTypeChange)="onAreaTypeChange($event)"
          [selectedDataProperty]="dataProperty"
          (selectedDataPropertyChange)="onDataPropertyChange($event)"
      ></app-ranking-ui>
        <app-ranking-list *ngIf="areaType && dataProperty"
          [class]="'area-'+areaType.value"
          [list]="truncatedList"
          [dataProperty]="dataProperty.value"
          [maxValue]="dataMax"
          [selectedIndex]="selectedIndex"
          (locationSelected)="onClickLocation($event)"
      ></app-ranking-list>
    </div>
  </div>
  <div class="page-fixed-bottom" *ngIf="canRetrieveData && (selectedIndex || selectedIndex === 0)">
    <app-ranking-panel
      [rank]="selectedIndex+1"
      [location]="listData[selectedIndex]"
      [dataProperty]="dataProperty"
      (goToPrevious)="onGoToPrevious()"
      (goToNext)="onGoToNext()"
      (close)="onClose()"
    ></app-ranking-panel>
  </div>

</div>


