<div class="ranking-page" role="main">
  <div class="hero">
    <h1>{{ 'RANKINGS.EVICTION_RANKINGS' | translate }}</h1>
  </div>
  <div class="nav-bar nav-rankings">
    <div class="content-inner">
      <ul class="tabs">
        <li [class.active]="activeTab === 'evictions'">
          <a routerLink="/evictions">{{ 'RANKINGS.TOP_EVICTING_AREAS' | translate }}</a>
        </li>
        <li [class.active]="activeTab === 'evictors'">
          <a>{{ 'RANKINGS.TOP_EVICTORS' | translate }}</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="page-content">
    <div class="content-inner">
      <div class="ranking-ui-container">
        <button class="search-filter" (click)="showUiPanel = true">
          <span _ngcontent-c7="" aria-hidden="true" class="glyphicon glyphicon-search"></span>
          <span> {{ 'RANKINGS.SEARCH_FILTER' | translate }}</span>
        </button>
        <app-ranking-ui
          *ngIf="activeTab === 'evictions'"
          [class.show]="showUiPanel"
          [locationList]="fullData"
          [regions]="rankings.regionList"
          [areaTypes]="rankings.areaTypes"
          [dataProperties]="rankings.sortProps"
          (selectedLocationChange)="onSearchSelectLocation($event.hasOwnProperty('selection') ? $event.selection : null)"
          [selectedRegion]="region"
          (selectedRegionChange)="onRegionChange($event)"
          [selectedAreaType]="areaType"
          (selectedAreaTypeChange)="onAreaTypeChange($event)"
          [selectedDataProperty]="dataProperty"
          (selectedDataPropertyChange)="onDataPropertyChange($event)"
          (applyFilters)="showUiPanel = false"
          (clearFilters)="showUiPanel = false"
          (closePanel)="showUiPanel = false"
        ></app-ranking-ui>
      </div>
      <div class="ranking-body">
        <h2 *ngIf="areaType && region">{{ 'RANKINGS.LIST_HEADING' | translate:{'area': areaType.name, 'region': region } }}</h2>
        <h3 *ngIf="dataProperty">{{ 'RANKINGS.LIST_SUBHEADING' | translate:{'dataProperty': dataProperty.name } }}</h3>
        <p>{{ 'RANKINGS.LIST_INTRO' | translate:{'year': rankings.year} }}</p>
        <app-ranking-list *ngIf="areaType && dataProperty"
          [class]="'area-'+areaType.value"
          [list]="truncatedList"
          [dataProperty]="dataProperty.value"
          [maxValue]="dataMax"
          [selectedIndex]="selectedIndex"
          (locationSelected)="onClickLocation($event)"
        ></app-ranking-list>
      </div>
      
    </div>
  </div>
  <div *ngIf="showScrollButton" class="scroll-to-top-button" (click)="scrollToTop()">
    <svg width="17px" height="11px" viewBox="0 0 17 11" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g transform="translate(-12, -15)" stroke="#E24000" stroke-width="3">
          <polyline transform="translate(20.482980, 20.5) scale(1, -1) translate(-20.482980, -20.5) " points="13 17 20.2488435 24 22.1593956 22.2671098 27.9659591 17.0004975"></polyline>
        </g>
      </g>
    </svg>
  </div>
</div>
<div class="page-fixed-bottom" *ngIf="canRetrieveData && (selectedIndex || selectedIndex === 0)">
  <app-ranking-panel
    [class]="'area-'+areaType.value"
    [topCount]="topCount"
    [rank]="selectedIndex+1"
    [location]="listData[selectedIndex]"
    [dataProperty]="dataProperty"
    (goToPrevious)="onGoToPrevious()"
    (goToNext)="onGoToNext()"
    (close)="onClose()"
    (locationClick)="onPanelLocationClick($event)"
  ></app-ranking-panel>
</div>

