@import "../../../theme";

// Slider theme
@mixin slider-colors($textColor, $foregroundColor, $backgroundColor) {
  .el-slider {
    .track, .scrubber-label {
      background: $foregroundColor;
    }
    .track-full { 
      background: $backgroundColor;
    }
    .scrubber-label {
      color: $textColor;            
    }
    .scrubber-label:after {
      border-top-color: $foregroundColor!important;
    }
  }
}

:host {
  @include slider-colors($sliderText, $sliderBackground, $sliderTrack);
  position:relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  // focus style for accessibility
  &:focus {
    outline:0;
    box-shadow: none;
    .el-slider .scrubber-label {
      opacity:1;
    }
  }
  // show toolip when dragging
  &.active { 
    .el-slider .scrubber-label {
      opacity:1;
    }
    .el-slider .scrubber {
      transition: none;
    }
  }
}
.slider-label {
  @include numberFont(12px);
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: $sliderLabel;
}

.slider-label:first-child {
  margin-left: 0;
  margin-right: grid(4);
}

.slider-label:last-child {
  margin-right: 0;
  margin-left: grid(4);
}

.el-slider {
  width: 100%;
  height: 100%;
  pointer-events: all;
  position: relative;
  cursor: pointer;
  user-select: none;
  .track {
    position: absolute;
    height: grid(1);
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 4px;
  }
  .track-value {
    transition: width 0.1s ease;
  }  
  .track-full {
    width: 100%;
  }  
  .scrubber {
    position: absolute;
    width: grid(6);
    height: grid(4);
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    margin-left: -1 * grid(6) / 2;
    cursor: move;
    transition: transform 0.4s ease;
  }  
  .scrubber-label {
    opacity:0;
    transition: opacity 0.2s ease-in-out;
    position: absolute;
    text-align: center;
    padding: 0;  
    @include numberFont(13px);  
    top: -1 * grid(5);
    left: 0;
    right: 0;
    margin: auto;
    letter-spacing: 0.4px;
    line-height: grid(4);
    width: grid(6);
    height: grid(4);
    border-radius: 0;  
    &:after {
      // label arrow
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      left: 0;
      right: 0;
      margin: auto;
      border: 10px solid transparent;
      top: grid(4);
      transform: scale(0.75, 1);
    }
  }

  // circle marker for scrubber
  .scrubber-marker {
    width: grid(6);
    height: grid(4);
    line-height: grid(4);
    @include numberFont(13px);
    text-align: center;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: $white;
    background: $color1;
    border-radius: 0;
    box-shadow: $z1shadow; // z1 shadow (elevation = 3, but stacked on elevation 2 element)
  }
}

@media(min-width: $gtMobile) {
  .slider-label {
    @include numberFont(15px);
  }
  .slider-label:first-child {
    margin-left: 0;
    margin-right: grid(5);
  }
  .slider-label:last-child {
    margin-right: 0;
    margin-left: grid(5);
  }
  .el-slider {
    .scrubber {
      width: grid(8);
      margin-left: -1 * grid(8) / 2;
    }
    .scrubber-label {
      top: -1 * grid(6.5);
      @include numberFont(15px);
      width:grid(8);
      
      height: grid(5);
      line-height: grid(5);
      &:after {
        border: 12px solid transparent;
        top: grid(5);
      }  
    }
    .scrubber-marker {
      width: grid(8);
      height: grid(5);
      line-height: grid(5);
      @include numberFont(15px);
    }
  }
}