@import "../../../theme";

// Slider theme
@mixin slider-colors($textColor, $foregroundColor, $backgroundColor) {
  .el-slider {
    .track, .scrubber-label {
      background: $foregroundColor;
    }
    .track-full { 
      background: $backgroundColor;
    }
    .scrubber-label {
      color: $textColor;            
    }
    .scrubber-label:after {
      border-top-color: $foregroundColor!important;
    }
    .scrubber-marker {
      background: $textColor;
    }
  }
}

:host {
  @include slider-colors($sliderText, $sliderBackground, $sliderTrack);
  position:relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  // TEMPORARY - should have a focus style for accessibility
  &:focus {
    outline:none;
  }
}
.slider-label {
  margin-right: grid(2);
  @include defaultFont(14px);
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: $sliderLabel;
}
.el-slider {
  width: 100%;
  height: 100%;
  pointer-events: all;
  position: relative;
  cursor: pointer;
  user-select: none;
  .track {
    position: absolute;
    height: grid(1);
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 4px;
  }
  .track-value {
    transition: width 0.1s ease;
  }  
  .track-full {
    width: 100%;
  }  
  .scrubber {
    position: absolute;
    width: grid(8);
    height: grid(5);
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    margin-left: -1 * grid(8) / 2;
    transition: transform 0.1s cubic-bezier(0,.66,.66,1);
    cursor: move;
  }  
  .scrubber-label {
    opacity:0;
    transition: opacity 0.2s ease-in-out;
    position: absolute;
    text-align: center;
    padding: 0;  
    @include numberFont(13px);  
    top: -1 * grid(4.5);
    left: 0;
    right: 0;
    margin: auto;
    font-weight: 500;
    letter-spacing: 0.4px;
    line-height: grid(4);
    width: grid(7.5);
    height: grid(4);
    border-radius: 2px;  
    &:after {
      // label arrow
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      left: 0;
      right: 0;
      margin: auto;
      border: 10px solid transparent;
      top: grid(4);
      transform: scale(0.75, 1);
    }
  }
  &.active, &:hover {
    .scrubber-label {
      opacity:1;
    }
  }

  // circle marker for scrubber
  .scrubber-marker {
    width: grid(3);
    height: grid(3);
    border-radius: 15px;
    border: 5px solid $color1;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

:host-context(.gt-mobile) {
  .slider-label {
    margin-right: grid(3);
  }
  .el-slider {
    .scrubber-label {
      top: -1 * grid(4.25);
      font-size: 15px;
      font-weight: 600;
      width:grid(8);
      height: grid(5);
      line-height: grid(5);
      &:after {
        border: 12px solid transparent;
        top: grid(5);
      }  
    }
    .scrubber-marker {
      width: grid(5);
      height: grid(5);
      border-radius: grid(2.5);
    }
  }
}