@import "../../../theme";

// Slider theme
@mixin slider-colors($textColor, $foregroundColor, $backgroundColor) {
  .el-slider {
    .track, .scrubber-label {
      background: $foregroundColor;
    }
    .track-full { 
      background: $backgroundColor;
    }
    .scrubber-label {
      color: $textColor;            
    }
    .scrubber-label:after {
      border-top-color: $foregroundColor!important;
    }
  }
}

:host {
  @include slider-colors($sliderText, $sliderBackground, $sliderTrack);
  position:relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  // TEMPORARY - should have a focus style for accessibility
  &:focus {
    box-shadow:none;
    .el-slider .scrubber-marker {
      box-shadow: 0 0 4px 2px $color1, 0 2px 5px rgba(0,0,0,0.5), 0 1px 3px rgba(0,0,0,0.3);
    }
  }
}
.slider-label {
  @include numberFont(11px);
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: $sliderLabel;
}

.slider-label:first-child {
  margin-left: grid(-1);
  margin-right: grid(3);
}

.slider-label:last-child {
  margin-right: grid(-3);
  margin-left: grid(3);
}

.el-slider {
  width: 100%;
  height: 100%;
  pointer-events: all;
  position: relative;
  cursor: pointer;
  user-select: none;
  .track {
    position: absolute;
    height: grid(1);
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 4px;
  }
  .track-value {
    transition: width 0.1s ease;
  }  
  .track-full {
    width: 100%;
  }  
  .scrubber {
    position: absolute;
    width: grid(8);
    height: grid(5);
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    margin-left: -1 * grid(8) / 2;
    cursor: move;
  }  
  .scrubber-label {
    opacity:0;
    transition: opacity 0.2s ease-in-out;
    position: absolute;
    text-align: center;
    padding: 0;  
    @include numberFont(13px);  
    top: -1 * grid(4.5);
    left: 0;
    right: 0;
    margin: auto;
    font-weight: 500;
    letter-spacing: 0.4px;
    line-height: grid(4);
    width: grid(7.5);
    height: grid(4);
    border-radius: 2px;  
    &:after {
      // label arrow
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      left: 0;
      right: 0;
      margin: auto;
      border: 10px solid transparent;
      top: grid(4);
      transform: scale(0.75, 1);
    }
  }
  &.active, &:hover {
    .scrubber-label {
      opacity:1;
    }
  }

  // circle marker for scrubber
  .scrubber-marker {
    width: grid(5);
    height: grid(4);
    line-height: grid(4);
    border-radius: 15px;
    @include numberFont(11px);
    text-align: center;
    font-weight: 600;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: $white;
    background: $gradient1;
    border-radius: grid(0.5);
    box-shadow: $z3shadow;
  }
}

:host-context(.gt-mobile) {
  .slider-label {
    @include numberFont(14px);
  }
  .slider-label:first-child {
    margin-left: 0;
    margin-right: grid(5);
  }
  .slider-label:last-child {
    margin-right: 0;
    margin-left: grid(5);
  }
  .el-slider {
    .scrubber-label {
      top: -1 * grid(4.25);
      font-size: 15px;
      font-weight: 600;
      width:grid(8);
      height: grid(5);
      line-height: grid(5);
      &:after {
        border: 12px solid transparent;
        top: grid(5);
      }  
    }
    .scrubber-marker {
      width: grid(7);
      height: grid(6);
      line-height: grid(6);
      @include numberFont(14px);
    }
  }
}

// Don't show scrubber hover label on desktop
:host-context(.gt-tablet) {
  .el-slider {
    .scrubber-label { display: none }
  }
}