@import '../../../../theme';

.mapboxgl-map {
  width:100%;
  height:100%;
  position:absolute;
  left:0;right:0;top:0;bottom:0;
}

::ng-deep {
  .mapboxgl-popup-content {
    background-color: $tooltipBackground;
    color: $tooltipFontColor;
    font-family: $fontStack;
  }
  .mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
  .mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip,
  .mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip, {
    border-bottom: none;
    border-top-color: $tooltipBackground;
  }
  .mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
    border-right: none;
  }
  .mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip {
    border-left: none;
  }
  .mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
    border-right: none;
    border-left-color: $tooltipBackground;
  }
  .mapboxgl-popup-anchor-left .mapboxgl-popup-tip,
  .mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
    border-left: none;
    border-right-color: $tooltipBackground;
  }
  .mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
  .mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip,
  .mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
    border-top: none;
    border-bottom-color: $tooltipBackground;
  }
  .mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
    border-right: none;
  }
  .mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
    border-left: none;
  }
  .mapboxgl-ctrl-bottom-left {
    bottom: auto;
    top: calc(100vh - #{grid(3)});
    .mapboxgl-ctrl-attrib.mapboxgl-compact {
      padding-left: 24px;
      padding-right: 8px;
      border-radius: 12px 3px 3px 12px;
    }
    .mapboxgl-ctrl-attrib.mapboxgl-compact::after {
      left: 0;
    }
  }
  @media(max-width: $gtMobile) {
    .mapboxgl-ctrl-bottom-left {
      top: calc(100vh - #{grid(6)})
    }
  }
}

:host-context(.software-button) {
  ::ng-deep {
    .mapboxgl-ctrl-bottom-left {
      top: calc(100vh - #{grid(12)});
    }
  }
}

:host-context(.slider-active) {
  ::ng-deep {
    .mapboxgl-ctrl-bottom-left {
      top: calc(100vh - #{$headerHeightSm} - #{grid(6)});
    }
    @media(min-width: $gtMobile) {
      .mapboxgl-ctrl-bottom-left {
        top: calc(100vh - #{$headerHeightLg} - #{grid(11)});
      }
    }
    @media(min-width: $gtTablet) {
      .mapboxgl-ctrl-bottom-left {
        top: calc(100vh - #{$headerHeightLg} - #{grid(3)});
      }
    }
  }
}

::ng-deep {
  @media(max-width: $gtMobile) {
    .software-button .slider-active .mapboxgl-ctrl-bottom-left {
      top: calc(100vh - #{$headerHeightSm} - #{grid(11)});
    }
  }
}

:host-context(.slider-active.legend-active) {
  ::ng-deep {
    @media(max-width: $gtMobile) {
      .mapboxgl-ctrl-bottom-left {
        top: calc(100vh - #{$headerHeightSm} - #{grid(12)});
      }
    }
  }
}

::ng-deep {
  @media(max-width: $gtMobile) {
    .software-button .slider-active.legend-active .mapboxgl-ctrl-bottom-left {
      top: calc(100vh - #{$headerHeightSm} - #{grid(20)});
    }
  }
}

:host-context(.slider-active.cards-active) {
  ::ng-deep {
    .mapboxgl-ctrl-bottom-left {
      top: calc(100vh - #{$headerHeightSm} - #{grid(25)});
    }
    @media(min-width: $gtMobile) {
      .mapboxgl-ctrl-bottom-left {
        top: calc(100vh - #{$headerHeightLg} - #{grid(23)});
      }
    }
    @media(min-width: $gtTablet) {
      .mapboxgl-ctrl-bottom-left {
        top: calc(100vh - #{$headerHeightLg} - #{grid(3)});
      }
    }
  }
}

::ng-deep {
  @media(max-width: $gtMobile) {
    .software-button .slider-active.cards-active .mapboxgl-ctrl-bottom-left {
      top: calc(100vh - #{$headerHeightSm} - #{grid(31)});
    }
  }
}

:host-context(.slider-active.cards-active.legend-active) {
  ::ng-deep {
    .mapboxgl-ctrl-bottom-left {
      top: calc(100vh - #{$headerHeightSm} - #{grid(28)});
    }
    @media(min-width: $gtMobile) {
      .mapboxgl-ctrl-bottom-left {
        top: calc(100vh - #{$headerHeightSm} - #{grid(27)});
      }
    }
    @media(min-width: $gtTablet) {
      .mapboxgl-ctrl-bottom-left {
        top: calc(100vh - #{$headerHeightSm} - #{grid(7)});
      }
    }
  }
}

::ng-deep {
  @media(max-width: $gtMobile) {
    .software-button .slider-active.cards-active.legend-active .mapboxgl-ctrl-bottom-left {
      top: calc(100vh - #{$headerHeightSm} - #{grid(34)});
    }
  }
}
