:host {
    position: fixed;
    z-index: 1000;
    padding: 12px;
    border-radius: 2px;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
    background: #444;
    color: #fff;
    max-width: 200px;
}