@import "../../theme";

@media (max-width: $gtMobile) {
  :host-context(.map-tool) {
    .header__logo {
      min-width: grid(4);
      width: grid(4);
      overflow: hidden;
      margin-right: 16px;
      flex: 0;
      img {
        width: 192px;
      }
    }
    .header__language {
      display: none !important;
    }
  }
}

@media (min-width: $gtMobile) {
  :host-context(.map-tool) {
    // show search in header
    .header__search {
      position: relative;
      display: flex;
      order: 2;
      flex: 1;
      max-width: grid(37.5);
      margin: 0 0 0 grid(3);
      .search {
        width: 100%;
      }
      // override mobile positioning
      &.active {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        padding-bottom: 0;
      }
    }
  }
}

// Desktop+ Styles
@media (min-width: $gtTablet) {
  :host-context(.map-tool) {
    .header__search {
      flex: 1;
      max-width: none;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-right: grid(1);
    }
  }
}
