@import '../../theme';
// Ranking tool overrides
:host-context(.ranking-tool) {
  .btn.btn-icon {
    display: none;
  }
  .btn.btn-icon.el-button-menu {
    display: block;
  }
  .header-wrapper .header-logo {
    display: block;
    flex:1;
  }
  .header-wrapper .header-icons {
    width: grid(5);
    margin-right: -6px; // nudge a bit so menu icon aligns properly
  }
  .header-wrapper .language-select {
    display: block;
  }
  .header-wrapper .header-search { display: none; }
}