@import '../../theme';

// HEADER BAR

// Mobile styles
// - 5 icons at the top
.header-wrapper {
  position:absolute;
  top:0;left:0;right:0;
  width: 100%;
  height: $headerHeightSm;
  background:$defaultBackground;
  box-shadow: $z1shadow;
  padding: 0 $pageMargin;
  z-index:999;
  .header-content {
    position:relative;
    width: 100%;
    max-width: $maxContentWidth;    
    height:100%;
    padding:0;
    margin:0 auto;
    box-sizing:border-box;
    display:flex;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
  }
  // toolbar icon row
  .header-icons {
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    // icon sizes
    .el-button-home svg {
      width: 24px;
      height: 23px;
    }
    .el-button-search svg {
      width: 21px;
      height: 21px;
    }
    .el-button-map svg {
      width: 22px;
      height: 24px;
    }
    .el-button-help svg {
      width: 15px;
      height: 22px;
    }
    .el-button-menu svg {
      width: 22px;
      height: 22px;
    }
    // icon colors
    .btn-icon {
      color: $headerButtonColor;
      path, rect { fill: $headerButtonColor; }
    }
    .btn-icon.active {
      color: $headerActiveButtonColor;     
      path, rect { fill: $headerActiveButtonColor; }
    }
  }
  // no logo on mobile
  .header-logo { 
    display: none;
    img { width: 152px; }
  }
  // place search below toolbar
  .header-search {
    display:none;
    margin-top: grid(2);
    &.active { 
      display: block;
      position: absolute;
      top: grid(7);
      left: 0;
      right: 0;
      z-index: 10;
      padding-bottom: grid(1); // pad a bit so glow doesn't get cutoff
    }
  }
  .language-select {
    display: none;
    
    ::ng-deep .btn.dropdown-toggle {
      @include defaultFont(13px);
      text-transform: none;
    }

  }
}
// Override language select font/icon on mobile only
@media(max-width: $gtMobile) {
  .header-wrapper .language-select {
    margin-right: grid(1);
    width: grid(9);
    ::ng-deep .el-select {
      .btn { 
        padding: 8px; 
        height: 40px; 
      }
      .btn .el-select-value { font-size:10px; }
      .btn .svg-down-arrow { width: 8px; right: 8px; }
    } 
  }
}

// Tablet+ Styles
@media(min-width: $gtMobile) {
  // boost header height
  .header-wrapper {
    height: $headerHeightLg;
    padding: 0 $pageMarginLg;    
    .header-icons {
      flex:none;
      width:grid(5);
      height:grid(7);
      order: 4;
    }
    // hide icons
    .header-icons .btn-icon {
      display: none;
    }
    // increase menu button size and show
    .header-icons .el-button-menu {
      display:flex;
      width: grid(5);
      color: $color1;
      height: $headerContentHeight;
      svg {
        width: 40px;
        height: 35px;
        rect { fill: $color1;}
      }
      span {
        position:relative;
        top:1px;
        @include altSmallCapsText(12px);
        line-height: 1;
      }
    }
    // show logo
    .header-logo {
      order:1;
      display:block;
      flex: 1;
      a { display: inline-block; line-height:1; }
      img { 
        width:grid(36); // 288px 
      }
    }
    // show search
    .header-search {
      position:relative;
      display:flex;
      order: 2;
      flex: 1;
      max-width: grid(37.5);
      margin: 0 0 0 grid(3);
      .search {
        width: 100%;
      }
      // override mobile positioning
      &.active { 
        position:relative; 
        top:auto; 
        left:auto; 
        right: auto; 
        padding-bottom:0;
      }
    }
    // show language toggle
    .language-select {
      display:block;
      margin: 0 grid(3) 0 grid(2);
      order: 3;
      // Vertical treatment with arrow on bottom
      ::ng-deep {
        .el-select .dropdown-toggle.btn {
          height:grid(7);
          padding: 6px 12px;
          text-align: center;
          padding-right: grid(1.5)!important; // never want to add padding for down arrow
          span {
            position: relative;
            top: -7px;
          }
          .svg-down-arrow {
            top:auto;
            left: 0;
            bottom: 11px;
            right: 0!important; // need to force override for vertical select
            margin: 0 auto;
          }
        }
      }
    }
  }
}

// Desktop+ Styles
@media(min-width: $gtTablet) {
  .header-wrapper {
    .header-logo img {
      width: grid(40); // 320px
    }
    .header-content {
      justify-content: flex-start;
      align-content: center;
      align-items: center;
    }
    .header-search {
      flex:1;
      max-width: none;
      display:flex;
      align-items: center;
      justify-content: flex-end;
      margin-right: grid(1);
    }
  }
}

// Ranking tool overrides
:host-context(.ranking-tool) {
  .btn.btn-icon {
    display: none;
  }
  .btn.btn-icon.el-button-menu {
    display: block;
  }
  .header-wrapper .header-logo {
    display: block;
    flex:1;
  }
  .header-wrapper .header-icons {
    width: grid(5);
    margin-right: -6px; // nudge a bit so menu icon aligns properly
  }
  .header-wrapper .language-select {
    display: block;
  }
  .header-wrapper .header-search { display: none; }
}