// Predictive search theme
@mixin predictive-search-colors($textColor, $highlightTextColor, $highlightBackgroundColor) {
    .dropdown-menu a {
        color: $textColor;
    }
    .dropdown-menu>.active>a,
    .dropdown-menu>.active>a:focus,
    .dropdown-menu>.active>a:hover {
        color: $highlightTextColor;
        background-color: $highlightBackgroundColor;
    }
}