// Graph theme
@mixin graph-colors($c1, $c2, $c3, $c4) {
    .app-graph {
        .line-0 { stroke: $c1; }
        .line-1 { stroke: $c2; }
        .line-2 { stroke: $c3; }
        .line-3 { stroke: $c4; }
        .bar-0 { fill: $c1; }
        .bar-1 { fill: $c2; }
        .bar-2 { fill: $c3; }
        .bar-3 { fill: $c4; }
    }
}