@mixin ui-select-colors($text, $background, $labelText, $highlightBackground, $highlightText, $caretColor) {
    .el-select {
        .dropdown-toggle.btn { 
            color: $text;
            background: $background;
        }
        .el-select-label { color: $labelText; }
        .highlighted { background: $highlightBackground; color: $highlightText; }
        .caret { color: $caretColor; }
    }
}