// Slider theme
@mixin slider-colors($textColor, $foregroundColor, $backgroundColor) {
    .el-slider {
        .track, .scrubber-label, .scrubber-marker {
            background: $foregroundColor;
        }
        .track-full { 
            background: $backgroundColor;
        }
        .scrubber-label {
            color: $textColor;            
        }
        .scrubber-label:after {
            border-top-color: $foregroundColor!important;
        }
        &.vertical .scrubber-label:after {
            border-top-color: transparent!important;
            border-right-color: $foregroundColor!important;
        }
    }
}