<div class="el-select" dropdown (onShown)="setListEls()" (isOpenChange)="onIsOpenChange()">
  <button dropdownToggle type="button" class="btn dropdown-toggle">
    <span *ngIf="label" class="dropdown-label">{{label}} </span>
    <span class="dropdown-value" [innerHTML]="selectedLabel"></span>
    <app-ui-icon icon="arrow-down"></app-ui-icon>
  </button>
  <div #dropdownList *dropdownMenu
    class="dropdown-menu"
    role="menu"
    (wheel)="onSelectScroll($event)"
    (touchstart)="onSelectTouchStart($event)"
    (touchmove)="onSelectTouchMove($event)"
  >
  <ul class="nav nav-pills">
    <li *ngFor="let value of values" class="nav-item">
      <a 
        tabindex="0"
        class="nav-link"
        [class.active]="selectedValue === value"
        aria-checked="selectedValue === value"
        (click)="selectedValue = value">
        {{getLabel(value)}}
      </a>
    </li>
    <li *ngIf="bottomLabel">
      <p class="bottom-label">{{bottomLabel}}</p>
    </li>
  </ul>
  </div>
</div>
