@import '../../../../theme';

// Map UI Layout
// ----
// Map fills the component width and height
.map-wrapper {
  width:100%;
  height:100%;
  display:block;
}
// Map UI Wrapper spans the entire width of the viewport
.map-ui-wrapper {
    pointer-events:none;
    position: absolute;
    width:100%;
    height: 100%;
    top: 0;
    left:0;
    bottom: 0;
    right: 0;
}
// Map UI maxes out at the max content width
.map-ui {
    display: none; // hide by default
    position:absolute;
    max-width: $maxContentWidth;
    width:100%;
    margin:auto;
    top:0;
    left:0;
    right:0;
    height:0;
    z-index:49;
    pointer-events:all;
    &.active { display: block; }
}
// only the slider is active:
//    drop the map height
:host-context(.slider-active) {
  .map-wrapper {
    height: calc(100% - #{$timeSliderHeight});
  }
}
// slider and the cards are active
//    drop the map height to account for slider + cards
:host-context(.cards-active.slider-active) {
  .map-wrapper {
    height: calc(100% - #{($cardHeaderHeight + $timeSliderHeight)});
  }
}
// larger than mobile:
//    show select boxes by default
.gt-mobile :host-context {
  .map-ui { 
    display: block;
    width: calc(100% - #{($defaultPadding*2)});    
  }
}
// larger than tablet and slider is active:
//    drop the height to account for slider only
.gt-tablet :host-context(.slider-active) {
  .map-wrapper {
    height: calc(100% - #{$timeSliderHeight});
  }
}
// - End Map UI Layout


// Map Location Cards
// ----
// default:
//    Fix location cards to botom of the window
app-location-cards {
  pointer-events:all;
  position: absolute;
  bottom:0;
  left:0;
  height: $cardHeaderHeight;
  z-index: 20;
  display:flex;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-end;
  width:100%;
  overflow:auto;
}
// greater than tablet:
//    Adjust cards container to account for the larger header height
//    center cards vertically over the map
:host-context(.gt-tablet) {
  app-location-cards { 
    pointer-events: none;
    align-items: center;
    height: calc(100vh - #{$headerHeightLg}); 
  }
}
// - End Map Location Cards


// Map Data Select Boxes
// ----
// default: 
//    hide labels and adjust width so the select menus
//    span the full width of the window.
app-ui-select {
  position: absolute;
  width:33.3333%;
  top:0;
  transition: width 0.2s ease, left 0.2s ease, right 0.2s ease;
  ::ng-deep {
    .el-select .el-select-label,
    .el-select .el-select-value {
      font-size: 11px;
      display:block;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .el-select .dropdown-toggle {
      white-space: nowrap;
      height: grid(7);
      padding: grid(1.5) grid(2) grid(1) grid(1);
    }
  }
}
// position the dropwdowns
app-ui-select:nth-of-type(1) { left: 0; }
app-ui-select:nth-of-type(2) { left: 33.33333%; }
app-ui-select:nth-of-type(3) { left: 66.66666%; right: 0; }
// span full width when open
app-ui-select.open {
  left: 0;
  right: 0;
  width: 100%;
  z-index: 101;
  ::ng-deep .el-select .el-select-label {
    display: inherit;
  }
}
app-ui-select.none-selected {
  ::ng-deep .el-select {
    .dropdown-toggle { 
      overflow: visible;
      text-overflow: none;
      white-space: normal;
    }
    .el-select-label { display: inherit; }
    .el-select-value { display: none; }
  }
}
:host-context(.gt-mobile) {
  app-ui-select {
    ::ng-deep .el-select .el-select-label,
    ::ng-deep .el-select .el-select-value {
      display: inline;
    }
    ::ng-deep {
      .el-select .dropdown-toggle {
        height: grid(5);
        padding: grid(1) grid(4) grid(1) grid(2);
      }
    }
  }
}
// greater than tablet: 
//    float the dropdowns on the top left side of the map
:host-context(.gt-tablet) {
  app-ui-select {
    float:left;
    width:auto;
    margin: 0 4px;
    position: relative;

    ::ng-deep .el-select .el-select-label,
    ::ng-deep .el-select .el-select-value {
      font-size: 12px;
    }
  }
  app-ui-select:nth-of-type(1), 
  app-ui-select:nth-of-type(2), 
  app-ui-select:nth-of-type(3) {
    left: inherit;
  }
  app-ui-select.open {
    left: inherit;
    right: inherit;
    width: auto;
  }
}
// - End Map Data Select Boxes


// Map Legend
// ----
// mobile / tablet: 
//    map spans entire width at bottom of map
app-ui-map-legend {
  width: 100%;
  height: $legendHeight/2;
  position:absolute;
  bottom: $timeSliderHeight;
  right:0;
  left:0;
}
// cards and slider activated on mobile:
//    move legend above cards / time slider
:host-context(.cards-active.slider-active) app-ui-map-legend {
  bottom: $timeSliderHeight + $cardHeaderHeight;
}
// larger than tablet: 
//    move legend to top right of the map
:host-context(.gt-tablet) {
  app-ui-map-legend {
    height: $legendHeight;
    width:calc(100% - #{$defaultPadding*2});
    max-width: $maxContentWidth;
    margin:auto;
    top:0;
    right:0;
    left:0;
    bottom: auto;
    ::ng-deep .map-legend {
      width: grid(34);
      position:absolute;
      right:0;
      top:0;
    }
  }
}
// large than tablet:
//    legend is on the top right of the header
.gt-tablet :host-context(.cards-active.slider-active) app-ui-map-legend {
  bottom: auto;
}
// - End Map Legend


// Year Slider
// ----
// default: 
//    Place year slider at the bottom of the window below the map
.year-slider-container {
  display:none;
  @include fill-parent();
  top: auto;
  height: $timeSliderHeight;
  z-index: 49;
  background: $timeSliderBackground;
  padding: 0 grid(5);
  box-shadow: 0 -1px 2px rgba(0,0,0,0.2);
  border-bottom: 1px solid $shadingColor;
  
  // keep the slider component within the max content width
  .year-slider {
    margin: auto;
    max-width: $maxContentWidth - $defaultPadding*4;
    height: $timeSliderHeight;
    display: block;
    ::ng-deep .el-slider .scrubber-marker { border: 5px solid $color1; }
  }
}
// only show when host has slider-active class
:host-context(.slider-active) {
  .year-slider-container { display: block; }
}
// increase offset from the bottom if cards are shown
:host-context(.cards-active) {
  .year-slider-container { bottom: $cardHeaderHeight; }
}
// fixed at the bottom of the screen abover the overlay on 
// devices larger than tablet
.gt-tablet :host-context {
  .year-slider-container { 
    bottom: 0; 
    z-index:51;
  }
}
// - End Year Slider
