@import '../../../../theme';



// Map UI Layout

.map-ui-wrapper {
    pointer-events:none;
    position: absolute;
    width:100%;
    height: 100%;
    top: 0;
    left:0;
    bottom: 0;
    right: 0;
}
.map-ui {
    position:absolute;
    max-width: $maxContentWidth;
    width: calc(100% - #{($defaultPadding*2)});
    margin:auto;
    top:0px;
    left:0;
    right:0;
    height:0;
    z-index:49;
    pointer-events:all;
}

app-location-cards {
  position: absolute;
  top:0;
  left:0;
  height: calc(100vh - #{$headerHeightSm});
  z-index: 20;
  pointer-events: none;
  display:flex;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: center;
  width:100%;
}

// Select boxes

app-ui-select {
  position: absolute;
  width:32%;
  top: 16px;
  ::ng-deep .el-select-label {
    display: none;
  }
  ::ng-deep .el-select .el-select-label,
  ::ng-deep .el-select .el-select-value {
    font-size: 11px;
  }
  ::ng-deep .el-select > .dropdown-toggle {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
app-ui-select:nth-of-type(1) {
  left: 0;
}
app-ui-select:nth-of-type(2) {
  left: 34%;
}
app-ui-select:nth-of-type(3) {
  right: 0;
}

app-ui-select.open {
  left: 0;
  right: 0;
  width: 100%;
  transition: width 0.2s ease;
  z-index: 101;
  ::ng-deep .el-select .el-select-label {
    display: inherit;
  }
}

@media (min-width: 767px) {
  app-ui-select {
    float:left;
    width:auto;
    margin: 0 4px;
    position: relative;
    ::ng-deep .el-select .el-select-label {
      display: inherit;
    }
    ::ng-deep .el-select .el-select-label,
    ::ng-deep .el-select .el-select-value {
      font-size: 12px;
    }
  }
  app-ui-select:nth-of-type(1), app-ui-select:nth-of-type(2), app-ui-select:nth-of-type(3) {
    left: inherit;
  }
  app-ui-select.open {
    left: inherit;
    right: inherit;
    width: auto;
  }
  app-location-cards {
    height: calc(100vh - #{$headerHeightLg});
  }
}


// Map Legend

.legend-hint {
  float:right;
  margin-top: -12px;
}

.map-legend {
  float: left;
  width: 80%;
  height: 24px;
  padding:4px 8px;
  margin: 4px 0;
  margin-top: -8px;
  font-size:11px;
  font-weight:bold;
  box-shadow: 0 1px 3px rgba(0,0,0,0.25);
  .legend-end {
    float:right;
  }
}

@media (min-width: 767px) {
  .map-legend {
    min-width:196px;
    width:26%;
    float:right;
    margin-top: inherit;
  }
  .legend-hint {
    margin-top: inherit;
  }
}

// Year Slider

.year-slider-container {
  @include fill-parent();
  top:auto;
  height:40px;
  z-index: 1000;
  background:#fff;
  padding: 0 16px;
  box-shadow: 0 -1px 2px rgba(0,0,0,0.2);
  .year-slider {
    margin:auto;
    max-width: $maxContentWidth - $defaultPadding*4;
    height:40px;
    display:block;
  }
}

  

