@import '../../../../theme';


// Map UI Layout
// ----
// Map fills the component width and height
.map-wrapper {
  position:fixed;
  top:0;
  width: 100vw;
  max-width: 100%;
  height:100%;
  display:block;
}
// Map UI Wrapper spans the entire width of the viewport
.map-ui-wrapper {
    pointer-events:none;
    position: absolute;
    width:100%;
    height: 100%;
    top: 0;
    left:0;
    bottom: 0;
    right: 0;
}
// Map UI maxes out at the max content width
.map-ui {
    display: none; // hide by default
    position:absolute;
    max-width: $maxContentWidth;
    width:100%;
    margin:auto;
    top:0;
    left:0;
    right:0;
    height:0;
    z-index:49;
    pointer-events:all;
    &.active { display: block; }
}
// larger than mobile:
//    show select boxes by default
@media(min-width: $gtMobile) {
  .map-ui { 
    display: block;
    width: calc(100% - #{($pageMarginLg*2)});    
  }
}
// - End Map UI Layout

// Mobile scroll indicator
// ---
.mobile-scroll-indicator {
  pointer-events: all;
  display: none;
  position: absolute;
  height: $mobileScrollIndicatorHeight;
  bottom: 0;
  width: 100vw;
  z-index: 51;
  background-color: $white;
}

.mobile-scroll-indicator p {
  @include defaultFont(14px);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  text-align: center;
  margin: grid(1) grid(4);
  opacity: 1;
  transition: opacity 0.6s;
}

:host-context(.cards-active) .mobile-scroll-indicator {
  display: block;
}

.mobile-scroll-indicator.inactive p { opacity: 0; }

@media(min-width: $gtTablet) {
  :host-context(.cards-active) .mobile-scroll-indicator {
    display: none;
  }
}

// - End mobile scroll indicator


// Map Location Cards
// ----
// default:
//    Fix location cards to botom of the window
app-location-cards {
  background: $defaultBackground;
  pointer-events:all;
  position: absolute;
  bottom: $mobileScrollIndicatorHeight;
  left:0;
  height: $cardHeaderHeight;
  z-index: 20;
  display:flex;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-end;
  width:100%;
  overflow:auto;
  -webkit-overflow-scrolling: touch;
  &.no-cards {
    height: 0;
  }
}
// greater than tablet:
//    Adjust cards container to account for the larger header height
//    center cards vertically over the map
@media(min-width: $gtTablet) {
  app-location-cards {
    background: none;
    pointer-events: none;
    align-items: center;
    height: calc(100vh - #{$headerHeightLg});
    &.no-census-data ::ng-deep .location-card {
      height: grid(34);
    }
    ::ng-deep {
      .location-card {
        transition: transform 0.2s ease;
        transform: translateX(0);
        position:relative;
      }
      .location-card:nth-child(1) { z-index: 17; }
      .location-card:nth-child(2) { z-index: 18; margin-left: -200px; }
      .location-card:nth-child(3) { z-index: 19; margin-left: -200px; }
      .location-card:nth-child(4) { z-index: 20; margin-left: -200px; }
    }
  }
}
// greater than tablet when slider is active:
//    Drop height of card container
@media(min-width: $gtTablet) {
  :host-context(.slider-active) {
    app-location-cards {
      top:0;
      bottom: auto;
      margin:auto;
      height: calc(100vh - #{$headerHeightLg} - #{$timeSliderLg});
    }
  }
}
// - End Map Location Cards


// Map Data Select Boxes
// ----
// default: 
//    hide labels and adjust width so the select menus
//    span the full width of the window.
@media(max-width: $gtMobile) {
  .map-ui app-ui-select {
    position: absolute;
    width:33.3333%;
    top:0;
    z-index: 100;
    transition: width 0.2s ease, left 0.2s ease, right 0.2s ease, z-index 0.1s ease 0.2s;
    // position the dropwdowns
    &:nth-of-type(1) { left: 0; }
    &:nth-of-type(2) { left: 33.33333%; }
    &:nth-of-type(3) { left: 66.66666%; right: 0; }
    // span full width when open
    &.open {
      left: 0;
      right: 0;
      width: 100%;
      z-index: 101;
      transition: width 0.2s ease, left 0.2s ease, right 0.2s ease;
      ::ng-deep .el-select .el-select-label {
        display: inherit;
      }
    }
    // when nothing is selected show the label only
    &.none-selected {
      ::ng-deep .el-select {
        .dropdown-toggle { 
          overflow: visible;
          text-overflow: none;
          white-space: normal;
        }
        .dropdown-label { display: block; }
        .dropdown-value { display: none; }
      }
    }
    ::ng-deep {
      .el-select .dropdown-label,
      .el-select .dropdown-value {
        display:block;
        overflow: hidden;
        @include ellipsis-overflow();
        span {
          display:inline;
          margin-left: grid(0.5);
        }
      }
      .el-select .dropdown-toggle.btn {
        height: grid(7);
        padding-right: grid(3);
      }
    }
  }
}
// dropdowns span the entire viewport
@media(min-width: $gtMobile) {
  // label inline with selected value
  .map-ui app-ui-select {
    float:left;
    width:28.9%;
    margin: 0 16px 0 0;
    position: relative;
    &:nth-of-type(3) {
      margin-right: 0;
    }
    ::ng-deep {
      .el-select .dropdown-toggle.btn {
        @include ellipsis-overflow();
      }
    }
  }
}
// dropdowns based on width of containing text
@media(min-width: $gtTablet) {
  .map-ui app-ui-select {
    width:auto;
    max-width:31%; // prevent selects from wrapping to new line
    margin: 0 grid(2) 0 0;
  }
}
// - End Map Data Select Boxes

// Feature Overview
// ---
.overview.btn {
  display: none;
  &:hover {
    background: $shadingColor;
  }
}
@media(min-width: $gtMobile) {
  .overview.btn {
    position:absolute;
    top:0;
    right:0;
    display:flex;
    align-items: center;
    justify-content: center;
    width: grid(5);
    height: grid(6);
    background: $white;
    border-radius: 0;
    // make sure icon is centered (IE11)
    .icon {
      position: absolute;
      top:0; right:0; bottom:0; left: 0;
      margin:auto;
      width: 22px;
      height:22px;
      fill: $iconColor;
    }
  }
}


// Map Legend
// ----
// mobile / tablet: 
//    map spans entire width at bottom of map
app-ui-map-legend {
  width: 100%;
  height: $legendHeight;
  background: $legendBackground;
  position:absolute;
  bottom: $timeSliderHeight;
  right:0;
  left:0;
  box-shadow: $z1shadow;
  border-bottom: 1px solid $shadingColor;
  z-index:10;
}
// cards and slider activated on mobile:
//    move legend above cards / time slider
:host-context(.cards-active.slider-active) app-ui-map-legend {
  bottom: $timeSliderHeight + $cardHeaderHeight + $mobileScrollIndicatorHeight;
}
// larger than tablet: 
//    move legend to bottom right of the map
@media(min-width: $gtMobile) {
  app-ui-map-legend {
    height: grid(6); // 6 * 8 = 48px
    width: grid(42.5); // 42.5 * 8 = 340px
    max-width: $maxContentWidth;
    margin:auto;
    top:auto;
    left:auto;
    right:$pageMarginLg;
    bottom: $timeSliderHeight + $pageMarginLg;
    ::ng-deep .hint-button .icon {
      width: grid(3); // 30px
      height: grid(3);
      margin:auto;
      
    }
  }
}
// large than mobile:
//    legend is on the bottom right of the map, above cards
@media(min-width: $gtMobile) {
  :host-context(.slider-active) app-ui-map-legend {
    bottom: $timeSliderLg + $pageMarginLg;
  }
  :host-context(.cards-active.slider-active) app-ui-map-legend {
    bottom: $timeSliderLg + $cardHeaderHeight + $pageMarginLg + $mobileScrollIndicatorHeight;
  }
}
// large than tablet:
//    cards removed from bottom, adjust accordingly
@media(min-width: $gtTablet) {
  :host-context(.cards-active.slider-active) app-ui-map-legend {
    bottom: $timeSliderLg + $pageMarginLg;
  }
}


// - End Map Legend


// Year Slider
// ----
// default: 
//    Place year slider at the bottom of the window below the map
.year-slider-container {
  position:absolute;
  width: 100vw;
  max-width: 100%;
  top: auto;
  left:0;
  right:0;
  bottom:0;
  height: $timeSliderHeight;
  z-index: 49;
  background: $timeSliderBackground;
  padding: 0 $pageMargin;
  border-bottom: 1px solid $shadingColor;
  transition: transform 0.2s ease;
  transform: translateY(120%);
  // keep the slider component within the max content width
  .year-slider {
    margin: auto;
    max-width: $maxContentWidth - $pageMarginLg*2;
    height: $timeSliderHeight;
  }
}
// only show when host has slider-active class
:host-context(.slider-active) {
  .year-slider-container {
    transform: translateY(0);
  }
}
// increase offset from the bottom if cards are shown (only up to tablet)
@media(max-width: $gtTablet) {
  :host-context(.cards-active) {
    .year-slider-container { bottom: $cardHeaderHeight + $mobileScrollIndicatorHeight; }
  }
}

@media(min-width: $gtMobile) {
  .year-slider-container {
    padding: 0 ($pageMarginLg + grid(2)) 0 $pageMarginLg; // add grid(2) so slider marker aligns with margin edge
    height: $timeSliderLg;
    box-shadow: 0 -1px 2px rgba(0,0,0,0.2);
  }
  .year-slider-container .year-slider { height: $timeSliderLg; }
}
// fixed at the bottom of the screen abover the overlay on 
// devices larger than tablet
@media(min-width: $gtTablet) {
  .year-slider-container {
    bottom: 0; 
    z-index:51;
  }
}
// - End Year Slider


// TODO: Move device specific styles to separate overrides file
// Device-specific adjustments

// iPhones w/ safari
@media(max-width: $gtMobile) {
  .ios-safari :host-context(.slider-active) {
    .year-slider-container { height: $timeSliderHeight + $iosSafariPadding; }
  }
  .ios-safari :host-context(.legend-active) {
    app-ui-map-legend { bottom: $iosSafariPadding + $timeSliderHeight; }
  }
  .ios-safari :host-context(.cards-active) {
    .mobile-scroll-indicator { height: $mobileScrollIndicatorHeight + $iosSafariPadding; }
    app-location-cards { bottom: $mobileScrollIndicatorHeight + $iosSafariPadding; }
    .year-slider-container {
      height: $timeSliderHeight;
      bottom: $cardHeaderHeight + $mobileScrollIndicatorHeight + $iosSafariPadding;
    }
    app-ui-map-legend { bottom: $timeSliderHeight + $cardHeaderHeight + $mobileScrollIndicatorHeight + $iosSafariPadding; }
  }
}
// iPads w/ Safari
@media(min-width: $gtMobile) and (max-width: $gtTablet) {
  .ios-safari :host-context(.slider-active) {
    .year-slider-container { height: $timeSliderLg + $iosSafariPadding; }
  }
  .ios-safari :host-context(.legend-active) {
    app-ui-map-legend { bottom: $iosSafariPadding + $timeSliderLg; }
  }
  .ios-safari :host-context(.cards-active) {
    .mobile-scroll-indicator { height: $mobileScrollIndicatorHeight + $iosSafariPadding; }
    app-location-cards { bottom: $mobileScrollIndicatorHeight + $iosSafariPadding; }
    .year-slider-container {
      height: $timeSliderLg;
      bottom: $cardHeaderHeight + $mobileScrollIndicatorHeight + $iosSafariPadding;
    }
    app-ui-map-legend { bottom: $timeSliderLg + $cardHeaderHeight + $mobileScrollIndicatorHeight + $iosSafariPadding; }
  }
}
// Android - Mobile
@media(max-width: $gtMobile) {
  .android :host-context(.slider-active) {
    .year-slider-container { height: $timeSliderHeight + $androidPadding; }
  }
  .android :host-context(.legend-active) {
    app-ui-map-legend { bottom: $androidPadding + $timeSliderHeight; }
  }
  .android :host-context(.cards-active) {
    .mobile-scroll-indicator { height: $mobileScrollIndicatorHeight + $androidPadding; }
    app-location-cards { bottom: $mobileScrollIndicatorHeight + $androidPadding; }
    .year-slider-container {
      height: $timeSliderHeight;
      bottom: $cardHeaderHeight + $mobileScrollIndicatorHeight + $androidPadding;
    }
    app-ui-map-legend { bottom: $timeSliderHeight + $cardHeaderHeight + $mobileScrollIndicatorHeight + $androidPadding; }
  }
}
// Android - Tablet
@media(min-width: $gtMobile) and (max-width: $gtTablet) {
  .android :host-context(.slider-active) {
    .year-slider-container { height: $timeSliderLg + $androidPadding; }
  }
  .android :host-context(.legend-active) {
    app-ui-map-legend { bottom: $androidPadding + $timeSliderLg; }
  }
  .android :host-context(.cards-active) {
    .mobile-scroll-indicator { height: $mobileScrollIndicatorHeight + $androidPadding; }
    app-location-cards { bottom: $mobileScrollIndicatorHeight + $androidPadding; }
    .year-slider-container {
      height: $timeSliderLg;
      bottom: $cardHeaderHeight + $mobileScrollIndicatorHeight + $androidPadding;
    }
    app-ui-map-legend { bottom: $timeSliderLg + $cardHeaderHeight + $mobileScrollIndicatorHeight + $androidPadding; }
  }
}


// - End of device adjustments