@import '../../../../theme';

// Map UI Layout
// ----
// Map fills the component width and height
.map-wrapper {
  width:100%;
  height:100%;
  display:block;
}
// Map UI Wrapper spans the entire width of the viewport
.map-ui-wrapper {
    pointer-events:none;
    position: absolute;
    width:100%;
    height: 100%;
    top: 0;
    left:0;
    bottom: 0;
    right: 0;
}
// Map UI maxes out at the max content width
.map-ui {
    display: none; // hide by default
    position:absolute;
    max-width: $maxContentWidth;
    width:100%;
    margin:auto;
    top:0;
    left:0;
    right:0;
    height:0;
    z-index:49;
    pointer-events:all;
    &.active { display: block; }
}
// larger than mobile:
//    show select boxes by default
.gt-mobile :host-context {
  .map-ui { 
    display: block;
    width: calc(100% - #{($pageMarginLg*2)});    
  }
}
// - End Map UI Layout

// Map Zoom Controls
// ----
// Hide rotate button because it's confusing
app-mapbox ::ng-deep .mapboxgl-ctrl-group > button.mapboxgl-ctrl-compass {
  display: none;
}
// center controls vertically on the right side of the map
app-mapbox ::ng-deep .mapboxgl-ctrl-top-left {
  top: 0;
  bottom:$timeSliderHeight;
  margin:auto;
  height:grid(18);
  right:$pageMargin;
  left: auto;
  .mapboxgl-ctrl-group {
    border-radius:0;
    box-shadow: $z1shadow;
     & > button {
       border-bottom: none;
       border-radius:0;
       width: grid(5);
       height: grid(5);
       &.mapboxgl-ctrl-zoom-in {
         border-bottom: 1px solid $shadingColor;
       }
     }
  }
}
// increase page margins and account for larger time slider
:host-context(.gt-mobile) {
  app-mapbox ::ng-deep .mapboxgl-ctrl-top-left {
    top: 0;
    bottom:$timeSliderLg;
    right:$pageMarginLg;
    left: auto;
  }
}
// - End Map Zoom Control


// Map Location Cards
// ----
// default:
//    Fix location cards to botom of the window
app-location-cards {
  background: $defaultBackground;
  pointer-events:all;
  position: absolute;
  bottom:0;
  left:0;
  height: $cardHeaderHeight;
  z-index: 20;
  display:flex;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-end;
  width:100%;
  overflow:auto;
}
// greater than tablet:
//    Adjust cards container to account for the larger header height
//    center cards vertically over the map
:host-context(.gt-tablet) {
  app-location-cards {
    background: none;
    pointer-events: none;
    align-items: center;
    height: calc(100vh - #{$headerHeightLg});
    &.no-census-data ::ng-deep .location-card {
      height: grid(34);
    }
    ::ng-deep {
      .location-card {
        // height: grid(42);
        // position:absolute;
        // margin:auto;
        // top:0;bottom:0;left:0;right:auto;
        transform: translateX(0);
        transition: transform 0.2s ease;
        transform: translateX(0);
        position:relative;
      }
      .location-card:nth-child(1) { z-index: 17; }
      .location-card:nth-child(2) { z-index: 18; margin-left: -200px; }
      .location-card:nth-child(3) { z-index: 19; margin-left: -200px; }      
    }
    &.cards-2 {
      ::ng-deep {
        .location-card:nth-child(1) { transform: translateX(7%); }
        .location-card:nth-child(2) { transform: translateX(0); }
      }
      &.expanded ::ng-deep {
        .location-card:nth-child(1) { transform: translateX(0%); }
        .location-card:nth-child(2) { transform: translateX(100%); }
      }
    }
    &.cards-3 {
      ::ng-deep {
        .location-card:nth-child(1) { transform: translateX(15%);}
        .location-card:nth-child(2) { transform: translateX(7%); }
        .location-card:nth-child(3) { transform: translateX(0); }
      }
      &.expanded ::ng-deep {
        .location-card:nth-child(1) { transform: translateX(0%); }
        .location-card:nth-child(2) { transform: translateX(100%); }
        .location-card:nth-child(3) { transform: translateX(200%); }
      }
    }
  }
}
// greater than tablet when slider is active:
//    Drop height of card container
.gt-tablet :host-context(.slider-active) {
  app-location-cards {
    top:0;
    bottom: auto;
    margin:auto;
    height: calc(100vh - #{$headerHeightLg} - #{$timeSliderLg});
  }
}
// - End Map Location Cards


// Map Data Select Boxes
// ----
// default: 
//    hide labels and adjust width so the select menus
//    span the full width of the window.
.map-ui app-ui-select {
  position: absolute;
  width:33.3333%;
  top:0;
  z-index: 100;
  transition: width 0.2s ease, left 0.2s ease, right 0.2s ease, z-index 0.1s ease 0.2s;
  // position the dropwdowns
  &:nth-of-type(1) { left: 0; }
  &:nth-of-type(2) { left: 33.33333%; }
  &:nth-of-type(3) { left: 66.66666%; right: 0; }
  // span full width when open
  &.open {
    left: 0;
    right: 0;
    width: 100%;
    z-index: 101;
    transition: width 0.2s ease, left 0.2s ease, right 0.2s ease;
    ::ng-deep .el-select .el-select-label {
      display: inherit;
    }
  }
  &.none-selected {
    ::ng-deep .el-select {
      .dropdown-toggle { 
        overflow: visible;
        text-overflow: none;
        white-space: normal;
      }
      .el-select-label { display: block; }
      .el-select-value { display: none; }
    }
  }
  ::ng-deep {
    .el-select .el-select-label,
    .el-select .el-select-value {
      display:block;
      overflow: hidden;
      text-overflow: ellipsis;
      span {
        display:inline-block;
        margin-left: grid(0.5);
      }
    }
    .el-select .dropdown-toggle.btn {
      white-space: nowrap;
      height: grid(7);
      overflow: hidden;
      text-overflow: ellipsis;
      padding-right: grid(3);
    }
  }
}
:host-context(.gt-mobile) {
  // label inline with selected value
  .map-ui app-ui-select {
    float:left;
    width:32%;
    margin: 0 2% 0 0;
    position: relative;
    ::ng-deep .el-select .el-select-label,
    ::ng-deep .el-select .el-select-value {
      display: inline;
    }
    // drop height for one line
    ::ng-deep .el-select .dropdown-toggle.btn {
      height: grid(6);
    }
    // don't open to full width anymore
    &.open {
      left: inherit;
      right: inherit;
      width: auto;
    }
    &:nth-of-type(1), 
    &:nth-of-type(2), 
    &:nth-of-type(3) {
      left: inherit;
    }
    &:nth-of-type(3) {
      margin-right: 0;
    }
  }
}
:host-context(.gt-tablet) {
  .map-ui app-ui-select {
    width:auto;
    max-width:31%; // prevent selects from wrapping to new line
    margin: 0 grid(2) 0 0;
  }
}
// - End Map Data Select Boxes


// Map Legend
// ----
// mobile / tablet: 
//    map spans entire width at bottom of map
app-ui-map-legend {
  width: 100%;
  height: $legendHeight;
  background: $legendBackground;
  position:absolute;
  bottom: $timeSliderHeight;
  right:0;
  left:0;
  box-shadow: $z1shadow;
  border-bottom: 1px solid $shadingColor;
  ::ng-deep .hint-button svg {
    width: grid(3);
    height: grid(3);
  }
}
// cards and slider activated on mobile:
//    move legend above cards / time slider
:host-context(.cards-active.slider-active) app-ui-map-legend {
  bottom: $timeSliderHeight + $cardHeaderHeight;
}
// larger than tablet: 
//    move legend to bottom right of the map
:host-context(.gt-mobile) {
  app-ui-map-legend {
    height: grid(6); // 6 * 8 = 48px
    width: grid(42.5); // 42.5 * 8 = 340px
    max-width: $maxContentWidth;
    margin:auto;
    top:auto;
    left:auto;
    right:$pageMarginLg;
    bottom: $timeSliderHeight + $pageMarginLg;
    ::ng-deep .hint-button svg {
      width: grid(3.75); // 30px
      height: grid(3.75);
      margin-top: grid(0.5);
    }
  }
}
// large than mobile:
//    legend is on the bottom right of the map, above cards
.gt-mobile :host-context(.slider-active) app-ui-map-legend {
  bottom: $timeSliderLg + $pageMarginLg;
}
.gt-mobile :host-context(.cards-active.slider-active) app-ui-map-legend {
  bottom: $timeSliderLg + $cardHeaderHeight + $pageMarginLg;
}

// large than tablet:
//    cards removed from bottom, adjust accordingly
.gt-tablet :host-context(.cards-active.slider-active) app-ui-map-legend {
  bottom: $timeSliderLg + $pageMarginLg;
}
// - End Map Legend


// Year Slider
// ----
// default: 
//    Place year slider at the bottom of the window below the map
.year-slider-container {
  @include fill-parent();
  top: auto;
  box-shadow: $z1shadow;
  height: $timeSliderHeight;
  z-index: 49;
  background: $timeSliderBackground;
  padding: 0 grid(4) 0 $pageMargin;
  border-bottom: 1px solid $shadingColor;
  transition: transform 0.2s ease;
  transform: translateY(120%);
  // keep the slider component within the max content width
  .year-slider {
    margin: auto;
    max-width: $maxContentWidth - $pageMarginLg*2;
    height: $timeSliderHeight;
  }
}
// only show when host has slider-active class
:host-context(.slider-active) {
  .year-slider-container {
    transform: translateY(0);
  }
}
// increase offset from the bottom if cards are shown
:host-context(.cards-active) {
  .year-slider-container { bottom: $cardHeaderHeight; }
}
.gt-mobile :host-context {
  .year-slider-container {
    padding: 0 ($pageMarginLg + grid(2)) 0 $pageMarginLg; // add grid(2) so slider marker aligns with margin edge
    height: $timeSliderLg;
    box-shadow: 0 -1px 2px rgba(0,0,0,0.2);
  }
  .year-slider { height: $timeSliderLg; }
}
// fixed at the bottom of the screen abover the overlay on 
// devices larger than tablet
.gt-tablet :host-context {
  .year-slider-container {
    bottom: 0; 
    z-index:51;
  }
}
// - End Year Slider
