.app-wrapper, 
.app-wrapper .map-wrapper {
    position:absolute;
    width:100%;
    height:100%;
    top:0;left:0;right:0;bottom:0;
    overflow:hidden;
    margin:0;
    padding:0;
    
}

.app-wrapper .map-wrapper {
    transition: transform 0.4s ease;
    transform: translateY(-30vh);
}

.app-wrapper.map-active .map-wrapper {
    transform: translateY(0);
}

.app-wrapper .data-wrapper {
    position:absolute;
    width:100%;
    left:0;right:0;bottom:0;
    z-index:100;
    height: 70vh;
    background:#fff;
    transition: transform 0.3s ease;
    transform: translateY(0);
    overflow:auto;
}

.app-wrapper.map-active .data-wrapper {
    transform: translateY(70vh);
}

app-layer-select {
    position: absolute;
    z-index: 10;
    top:16px;
    left:0;
    width:160px;
}

app-highlight-selector {
    position: absolute;
    z-index:10;
    top:16px;
    left:168px;
    width:190px;
}

app-zoom-control {
    position:absolute;
    top:0;
    bottom:0px;
    margin:auto;
    height:150px;
    left: 24px;
}

.legend-start {

}

.legend-end {
    float:right;
}

.map-legend {
    width: 300px;
    height: 24px;
    position:absolute;
    right:0;
    top:16px;
    padding:4px 8px;
    font-size:11px;
    font-weight:bold;
    box-shadow: 0 1px 3px rgba(0,0,0,0.25);
}

.map-ui-wrapper {
    pointer-events:none;
    position: absolute;
    width:100vw;
    height:30vh;
    top:0;
    left:0;
    transition: height 0.4s ease;
}

.map-active .map-ui-wrapper {
    height:100vh;
}

.map-ui {
    position:absolute;
    max-width: 1024px;
    width:100%;
    margin:auto;
    top:0;
    left:0;
    right:0;
    height:0;
}