.layer-select {
    position: absolute;
    z-index: 10;
    top:16px;
    left:0;
    width:160px;
}

.highlight-select {
    position: absolute;
    z-index:10;
    top:16px;
    left:168px;
    width:190px;
}

app-zoom-control {
    position:absolute;
    top:0;
    bottom:72px;
    margin:auto;
    height:150px;
    left: 24px;
}

.legend-start {

}

.legend-end {
    float:right;
}

.map-legend {
    width: 300px;
    height: 24px;
    position:absolute;
    right:0;
    top:16px;
    padding:4px 8px;
    font-size:11px;
    font-weight:bold;
    box-shadow: 0 1px 3px rgba(0,0,0,0.25);
}

.map-ui {
    position:absolute;
    max-width: 1024px;
    width:100%;
    margin:auto;
    top:0;
    left:0;
    right:0;
    height:0;
}