app-progress-bar {  top: 0; z-index: 1000;}
app-header-bar { position: fixed; top:0; left:0; right:0; width:100%; z-index:999;}

.site-navigation {
  display:none; // hidden until design is determined
}

app-footer {
  display:block;
  position:relative;
  z-index:997;
}

#embed-branding {
  display: none;
}

// Hide most of UI when embedded
:host-context(.embed) {
  #embed-branding {
    display: block;
    position: fixed;
    top: 24px;
    left: 24px;
    z-index: 11;

    a {
      padding: 16px;

      img { height: 16px; }
    }
    a:hover { background-color: rgba(255,255,255,0.4); }
  }
  ::ng-deep {
    app-header-bar, app-footer {
      display: none !important;
    }
    app-map-tool {
      app-map .map-ui-wrapper .map-ui,
      app-map .map-ui-wrapper app-location-cards,
      app-map .year-slider-container,
      app-data-panel
      {
        display: none !important;
      }
      app-map .map-ui-wrapper app-ui-map-legend {
        bottom: 24px !important;
      }
    }
  }
}
