<div class="app-wrapper" [class.map-active]="true">
    <div class="header-wrapper">
        <div class="header-content">
            <img src="./assets/logo.png" class="header-logo" />
            <app-predictive-search
                class="search"
                [options]="mapFeatures"
                optionField="properties.name"
                (selectionChange)="onSearchSelect($event)">
            </app-predictive-search>
            <app-ui-select
                class="language-select"
                [values]="['English', 'Spanish']"
            ></app-ui-select>
            <button class="btn">
                <span class="glyphicon glyphicon-menu-hamburger"></span>
            </button>
        </div>
    </div>
    <div class="map-wrapper">
        <app-mapbox
            [mapConfig]="mapConfig" 
            [eventLayers]="mapEventLayers"
            (ready)="onMapReady($event)"
            (zoom)="onMapZoom($event)"
            (featureClick)="onFeatureClick($event)"
            (hoverChanged)="onFeatureHover($event)"
            (render)="onMapRender($event)">
        </app-mapbox>
    </div>
    <div class="map-ui-wrapper" [class.block]="blockEvents" (mousedown)="blockEvents = false">
        <app-progress-bar *ngIf="mapLoading"></app-progress-bar>
        <div class="map-ui">
            <app-ui-select
                tabindex="4"
                class="eviction-select"
                label="Eviction"
                [values]="['Judgments', 'Filings']"
            ></app-ui-select>
            <app-ui-select
                tabindex="5"
                class="layer-select"
                label="Display"
                labelProperty="name"
                [selectedValue]="activeDataLevel"
                [values]="dataLevels" 
                (change)="setGroupVisibility($event)">
            </app-ui-select>
            <app-ui-select
                tabindex="6"
                class="highlight-select"
                label="Display"
                labelProperty="name"
                [values]="attributes"
                (change)="setDataHighlight($event)">
            </app-ui-select>
            <div *ngIf="activeDataHighlight" class="map-legend" [style.background]="getLegendGradient()">
                <span class="legend-start">{{legend[0][0]}}</span>
                <span class="legend-end">{{legend[legend.length - 1][0]}}</span>
            </div>
            <app-ui-hint 
                *ngIf="activeDataLevel"
                class="legend-hint"
                [hint]="'The colored ' + activeDataLevel['name'] + ' on the map represent ' + activeDataHighlight['name'] + ' from ' + legend[0][0] + ' to ' + legend[legend.length - 1][0] + '.'" 
                placement="bottom"
            ></app-ui-hint>
        </div>
        <div class="year-slider">
            <app-ui-slider tabindex="9"
                [currentValue]="dataYear" 
                [min]="1990" 
                [max]="2015" 
                (change)="setDataYear($event)"
            ></app-ui-slider>
        </div>
        <div class="card-wrapper">
            <app-map-tooltip *ngFor="let card of cardFeatures"
                [dataYear]="dataYear" 
                (onActivate)="activeFeature = card; blockEvents = true;" 
                [feature]="card"
                [scrollTo]="'data-wrapper'"
                [offset]="56"
                (onDismiss)="removeCard(card)"
            ></app-map-tooltip>
        </div>
        
    </div>
    <div id="data-wrapper" class="data-wrapper">
        <div class="data-content">
            
            <div class="data-content-inner"  *ngIf="cardFeatures.length > 0">

                <!-- <app-ui-toggle [values]="[ 'Line', 'Bar' ]"></app-ui-toggle> -->
                <div class="graph-header">
                    <div class="graph-header-left">
                        <h3>Displaying all evictions from</h3>
                        <app-ui-select [values]="['2000','2001','2002','2003','2004']"></app-ui-select>
                        to
                        <app-ui-select [values]="['2000','2001','2002','2003','2004']" selectedValue="2004"></app-ui-select>
                    </div>
                </div>
                <div class="graph-content">
                    <app-graph [data]="graphData" [settings]="graphSettings"></app-graph>
                    <ul class="graph-legend">
                        
                        <li *ngFor="let card of cardFeatures">
                            <span class="graph-marker"></span>
                            {{card.properties.name}}
                            <button class="close" (click)="removeCard(card)">&times;</button>
                        </li>
                        <li>
                            <span class="graph-marker"></span>
                            US Average
                            <!-- <button class="btn btn-close" (click)="removeCard(card)">&times</button> -->
                        </li>
                    </ul>
                </div>
                <div class="data-panel-cards">
                        <div class="card" *ngFor="let card of cardFeatures">
                            <div class="h4 card-heading">
                                {{card.properties.name}}
                                <small>{{card.properties['parent-location']}}</small>
                            </div>
                            <div class="card-content">
                                <ul>
                                    <li>
                                        <span class="card-label">Total Evictions</span>
                                        <span class="card-value">320</span>
                                    </li>
                                    <li>
                                        <span class="card-label">Eviction Rate</span>
                                        <span class="card-value">14</span>
                                    </li>
                                    <li>
                                        <span class="card-label">Population</span>
                                        <span class="card-value">42,000</span>
                                    </li>
                                    <li>
                                        <span class="card-label">Poverty Rate</span>
                                        <span class="card-value">20%</span>
                                    </li>
                                    <li>
                                        <span class="card-label">Avg. Household Size</span>
                                        <span class="card-value">320</span>
                                    </li>
                                    <li>
                                        <span class="card-label">% Renter Occupied</span>
                                        <span class="card-value">14%</span>
                                    </li>
                                    <li>
                                        <span class="card-label">Avg. Household Income</span>
                                        <span class="card-value">$42,000</span>
                                    </li>
                                    <li>
                                        <span class="card-label">% Empty Houses</span>
                                        <span class="card-value">10%</span>
                                    </li>
                                </ul>
                            </div>

                        </div>
                        <div *ngIf="cardFeatures.length < 3" class="card card-empty">
                            <div class="h4 card-heading">
                                Add a Location
                            </div>
                            <app-predictive-search
                                class="search"
                                [options]="mapFeatures"
                                optionField="properties.name"
                                (selectionChange)="onSearchSelect($event)">
                            </app-predictive-search>
                        </div>

                    </div>
                <div class="data-panel-footer">
                    <div class="action-wrapper">
                            <button class="btn btn-primary" (click)="showFileDialog($event)">Social Media</button>
                            <span>Share this map and information</span>
                    </div>
                    <div class="action-wrapper">
                            <button class="btn btn-primary" (click)="showFileDialog($event)">Save</button>
                            <span>Save the map and information to this device</span>
                    </div>
                    <div class="action-wrapper">
                            <button class="btn btn-primary" (click)="showFileDialog($event)">E-mail</button>
                            <span>E-mail this map and information</span>
                    </div>
                </div>
            </div>
            <div class="data-panel-site-footer">
                <img src="./assets/footer.png" style="display:block; margin:auto; width:90%; max-width:840px;" />
            </div>
        </div>
        
    </div>
</div>
