app-progress-bar { position: fixed; top: 0; z-index: 1000;}
app-header-bar { 
  position: fixed; 
  top:0; 
  left:0; 
  right:0; 
  width:100vw; 
  z-index:999;
  max-width: 100%;
}

app-footer {
  display:block;
  position:relative;
  z-index:990;
}


.kiosk {
  // app-footer { display: none; }
  a[href*='http'] { display: none; }
  a[href*='https://kiosk.evictionlab.org'] { display: inline; }
  .social-media-links { display: none; }
  .site-navigation li { display: none; }
  .site-navigation li:nth-child(1) { display: block;}
  .site-navigation li:nth-child(2) { display: block;}
  .data-panel-footer { display: none!important; }
  .newsletter-signup { display: none; }
  .footer-navigation li { display: none; }
  .footer-navigation li:nth-child(1),
  .footer-navigation li:nth-child(2) { display: block; }
  .footer-social { display: none; }
  .footer-copyright p { display:none; }
  .footer-copyright p:first-child { display:block; }
  .share-wrapper { display: none; }
}