<div class="app-wrapper" [class.map-active]="!activeFeature" [class.data-active]="activeFeature">
    <div class="header-wrapper">
        <div class="header-content">
            <img src="./assets/logo.png" class="header-logo" />
            <app-predictive-search
                [options]="mapFeatures"
                optionField="properties.name"
                (selectionChange)="onSearchSelect($event.item)">
            </app-predictive-search>
            <div class="language-select dropdown" dropdown>
                <button dropdownToggle class="btn btn-default dropdown-toggle" type="button">
                    English
                    <span class="caret"></span>
                </button>
                <ul *dropdownMenu class="dropdown-menu" role="menu">
                    <li role="menuitem"><a class="dropdown-item" href="#">English</a></li>
                    <li role="menuitem"><a class="dropdown-item" href="#">Spanish</a></li>
                </ul>
            </div>
            <button class="btn">
                <span class="glyphicon glyphicon-menu-hamburger"></span>
            </button>
        </div>
    </div>
    <div class="map-wrapper">
        <app-mapbox 
            [mapConfig]="mapConfig" 
            [eventLayers]="mapEventLayers"
            (ready)="onMapReady($event)"
            (zoom)="onMapZoom($event)"
            (featureClick)="onFeatureClick($event)"
            (hoverChanged)="onFeatureHover($event)">
        </app-mapbox>
    </div>
    <div class="map-ui-wrapper">
        <app-zoom-control 
            [zoom]="zoom" 
            [minZoom]="mapConfig.minZoom" 
            [maxZoom]="mapConfig.maxZoom" 
            (zoomChange)="setMapZoomLevel($event)">
        </app-zoom-control>
        <div class="map-ui">
            <div class="btn-group" dropdown>
                <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
                    <span class="dropdown-label">Eviction</span> Judgements  <span class="caret"></span>
                </button>
                <ul *dropdownMenu class="dropdown-menu" role="menu">
                    <li role="menuitem">
                        <a class="dropdown-item">
                            <span class="dropdown-label">Eviction</span> Judgements
                        </a>
                    </li>
                    <li role="menuitem">
                        <a class="dropdown-item">
                            <span class="dropdown-label">Eviction</span> Filings
                        </a>
                    </li>
                </ul>
            </div>
            <app-layer-select 
                [selectedLayer]="activeDataLevel"
                [layers]="dataLevels" 
                (change)="setGroupVisibility($event)">
            </app-layer-select>
            <app-highlight-selector
                [attributes]="attributes" 
                (change)="setDataHighlight($event)">
            </app-highlight-selector>
            <div *ngIf="activeDataHighlight" class="map-legend" [style.background]="'linear-gradient(to right, ' + legend[0][1] + ',' + legend[legend.length - 1][1] + ')'">
                <span class="legend-start">{{legend[0][0]}}</span>
                <span class="legend-end">{{legend[1][0]}}</span>
            </div>
        </div>
        <app-map-tooltip (click)="activeFeature = hoveredFeature; hoveredFeature = null;" [feature]="hoveredFeature"></app-map-tooltip>
    </div>
    <div class="data-wrapper">
        <div class="header-row" *ngIf="activeFeature">
            <h1 class="h3 header-row-title">
                {{ activeFeature.properties["name"] }}
                <small class="header-row-subtitle">{{ activeFeature.properties["parent-location"] }}</small>
            </h1>
            <button type="button" class="close" aria-label="Close" (click)="activeFeature = null;">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="data-content">
            <img src="./assets/sample-data-2.png" class="prototype-image" />
        </div>
    </div>
</div>
