app-progress-bar { position: fixed; top: 0; z-index: 1000;}
app-header-bar { 
  position: fixed; 
  top:0; 
  left:0; 
  right:0; 
  width:100vw; 
  z-index:999;
  max-width: 100%;
}

app-footer {
  display:block;
  position:relative;
  z-index:997;
}
