<div class="map-wrapper">
    <app-mapbox 
        [mapConfig]="mapConfig" 
        [eventLayers]="mapEventLayers"
        (ready)="onMapReady($event)"
        (zoom)="onMapZoom($event)"
        (render)="onMapRender($event)"
        (featureClick)="onFeatureClick($event)"
        (hoverChanged)="onFeatureHover($event)">
    </app-mapbox>
    <app-zoom-control 
        [zoom]="zoom" 
        [minZoom]="mapConfig.minZoom" 
        [maxZoom]="mapConfig.maxZoom" 
        (zoomChange)="setMapZoomLevel($event)">
    </app-zoom-control>
    <div class="map-ui">
        <app-ui-select
            class="layer-select"
            [labelProperty]="'name'"
            [selectedValue]="activeDataLevel"
            [values]="dataLevels" 
            (change)="setGroupVisibility($event)">
        </app-ui-select>
        <app-ui-select
            class="highlight-select"
            [labelProperty]="'name'"
            [values]="attributes"
            (change)="setDataHighlight($event)">
        </app-ui-select>
        <app-predictive-search
            [options]="mapFeatures"
            optionField="properties.name"
            (selectionChange)="onSearchSelect($event.item)"></app-predictive-search>
        <div *ngIf="activeDataHighlight" class="map-legend" [style.background]="'linear-gradient(to right, ' + legend[0][1] + ',' + legend[legend.length - 1][1] + ')'">
            <span class="legend-start">{{legend[0][0]}}</span>
            <span class="legend-end">{{legend[1][0]}}</span>
        </div>
    </div>
    <app-map-tooltip [dataYear]="dataYear" [feature]="hoveredFeature"></app-map-tooltip>
</div>
<div class="data-wrapper">

</div>