<div class="line-tooltips" *ngIf="graphType === 'line'">
  <div class="year-marker" *ngIf="tooltips.length" [style.transform]="'translateX('+ tooltips[0].xPos +'px)'"><span>{{tooltips[0].x}}</span></div>
  <!-- Start circles on lines -->
  <div class="circles"
    *ngFor="let tooltip of tooltips; trackBy: trackTooltips"
    [style.transform]="'translate('+ tooltip.xPos +'px, ' + tooltip.yPos + 'px)'"
    [style.display]="tooltip.y === undefined ? 'none' : 'inherit'"
  ></div>

  <!-- End circles on lines -->
  <div class='tooltip-container'>
    <div class="tooltip tooltip-number" role="tooltip"
      *ngFor="let tooltip of tooltips; let i = index; trackBy: trackTooltips"
      [class.right]="true"
      [class.left]="false"
      [style.transform]="'translateX('+ tooltips[0].xPos +'px)'"
      [style.display]="tooltip.y === undefined ? 'none' : 'inherit'"
    >
      <div class="tooltip-wrapper">
        <div class="tooltip-inner line-tooltip-value" >
          <span class="tooltip-header">
            <div class="tooltip-inner-bubbles"></div>
            <div *ngIf="locations[i]; then selectedLocation else usAverage" class="legend-label"></div>
            <ng-template #selectedLocation>
              {{ locations[i].properties['layerId'] === 'tracts' ? ('DATA.TRACT_SINGULAR' | translate) : ''}}
              {{ locations[i].properties['layerId'] === 'block-groups' ? ('DATA.BLOCK_GROUP_SINGULAR' | translate) : ''}}
              {{ locations[i].properties["n"] }}
              {{ getLegendValue(location, i) }}
              {{ getLegendCI(location, i, 'DATA.CI_HIGH'| translate, 'DATA.CI_LOW'| translate) }}
            </ng-template>
            <ng-template #usAverage>
              {{ average.name }}
            </ng-template>
          </span>
          <div class="tooltip-body">
            {{ tooltip.y >= 0 ? tooltipValue(tooltip) : null }}
            <div class="ci-container">
              <span class="max">{{ tooltip.ciH ? 'MAX: ' + tooltip.ciH.toFixed(2) + '%'  : null }}</span>
              <span class="min">{{ tooltip.ciL ? 'MIN: ' + tooltip.ciL.toFixed(2) + '%' : null }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!--
  <div class="tooltip tooltip-number" role="tooltip"
    *ngFor="let tooltip of tooltips; trackBy: trackTooltips"
    [class.right]="tooltipPos === 'right'"
    [class.left]="tooltipPos === 'left'"
    [style.transform]="'translate('+ tooltip.xPos +'px, ' + tooltip.yPos + 'px)'"
    [style.display]="tooltip.y === undefined ? 'none' : 'inherit'"
  >
    <div class="tooltip-wrapper">
      <div class="tooltip-arrow"></div>
      <div class="tooltip-inner line-tooltip-value {{ (tooltip.ciH && tooltip.ciL) ? 'tooltip-with-ci' : null }}">{{ tooltip.y >= 0 ? tooltipValue(tooltip) : null }}
      </div>
    </div>
  </div>
  -->


</div>
<div class="bar-tooltips" *ngIf="graphType === 'bar'">
  <div class="tooltip tooltip-number top {{ (tooltip.data[0].ciH && tooltip.data[0].ciL && displayCI) ? 'tooltip-with-ci' : null }}" role="tooltip" *ngFor="let tooltip of tooltips" [style.transform]="'translate('+ (tooltip.left + tooltip.width/2) +'px, ' + barTopValue(tooltip.top) + 'px)'">
    <div class="tooltip-arrow"></div>
    <div class="tooltip-inner" *ngIf="tooltip.data && tooltip.data.length">{{ tooltip.data[0].y >= 0 ? tooltipValue(tooltip.data[0]) + '%' : ('DATA.UNAVAILABLE' | translate) }}
      <span class="tooltip-cis" *ngIf="tooltip.data[0].ciH > 0 && displayCI">
        {{('DATA.CI_HIGH' | translate) }} {{ getTooltipCI(tooltip.data[0].ciH) }}%
        <br>{{('DATA.CI_LOW' | translate)}}{{ getTooltipCI(tooltip.data[0].ciL) }}%
      </span>
    </div>
  </div>
</div>
