@import '../../../theme';

// Tooltips
// ----
$graphTooltipHeight: grid(4);
$graphTooltipCircleSize: 10px;
// year line and label
.year-marker {
  position:absolute;
  left:0;
  top:20px;
  height: calc(100% - #{grid(5)});
  width:1px;
  border-left: 1px dashed rgba(0,0,0,0.35);
  transition: transform 0.1s cubic-bezier(0, 0.66, 0.66, 1);
  span {
    position:absolute;
    bottom: -1*grid(3);
    left:0;
    width: grid(4);
    margin-left: -1*grid(2);
    @include numberFont(14px);
    text-align: center;
  }
}
// tooltip transitions
.tooltip {
  transition: transform 0.1s cubic-bezier(0, 0.66, 0.66, 1);  
}
// tooltip container classes
.line-tooltips, .bar-tooltips {
  @include fill-parent();
  pointer-events: none;
}
// bar tooltip defaults
.bar-tooltips .tooltip {
  min-width: grid(6);
  margin-left: -1*grid(3);
  text-align:center;
  margin-top: -1.5*$graphTooltipHeight;
}
// wrapper for line graph tooltip (so we can switch orientation)
.tooltip-wrapper {
  position:relative;
  width:100%;
  height:100%;
}
// line tooltip defaults
.line-tooltips .tooltip {
  height: $graphTooltipHeight;
  line-height: 17px;
  margin-top: -1*$graphTooltipHeight/2;
  margin-left: $graphTooltipCircleSize/2;
  // nudge arrow outside of wrapper 
  &.right {
    .tooltip-wrapper .tooltip-arrow {
      top:50%;
      left: -1*$tooltipArrowSize;
    }
  }
  // shift the tooltip to the left and nudge the arrow out of the wrapper
  &.left {
    .tooltip-wrapper {
      transform: translateX(-74px);
      transform: translateX(calc(-100% - #{grid(3)}));
      .tooltip-arrow {
        top:50%;
        right: -1*$tooltipArrowSize;
      }
    }
  }
  // circles that overlay the line
  &:before {
    content: "";
    display:block;
    width:$graphTooltipCircleSize;
    height:$graphTooltipCircleSize;
    border-radius:$graphTooltipCircleSize;
    position:absolute;
    top: calc(50% - #{$graphTooltipCircleSize / 2});
    left: -1*$graphTooltipCircleSize;
    z-index:1;
  }
  // circle colors
  &:nth-child(2):before {
    background:$color1;
  }
  &:nth-child(3):before {
    background:$color2;
  }
  &:nth-child(4):before {
    background:$color3;
  }
  &:nth-child(5):before {
    background:$color4;
  }
}
