<div class="data-wrapper">
  <div class="panel-cards" [style.display]="displayLocations.length > 0 ? '' : 'none'">
    <div class="data-header">
      <p [innerHTML]="'DATA.CARD_HEADING' | translate:{'year':year}"></p>
    </div>
    <app-location-cards
      class="card-table"
      [allowAddLocation]="false"
      [features]="mapToolService.activeFeatures"
      [usAverage]="mapToolService.usAverage"
      [year]="mapToolService.activeYear"
      [cardProperties]="mapToolService.dataAttributes"
      (locationAdded)="locationAdded.emit($event)"
    ></app-location-cards>
  </div>
</div>
