@import '../../../theme';

#embed-branding {
  display: block;
  position: fixed;
  top: grid(2);
  left: grid(2);
  z-index: 11;
  a {
    display:block;
    padding: grid(1);
    img { 
      display:block;
      width: 226px; 
      height: 16px;
    }
    &:hover { background-color: rgba(255,255,255,0.4); }
  }
}

.unsupported-container {
  position:absolute;
  width:100%;
  height:100%;
  z-index: 10;
  background: $secondaryBackground;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
  padding: grid(3);
  h2 {
    @include altFont(24px);
  }
  p {
    max-width: grid(50);
    text-align:center;
  }
}

// pym.js embedded style
html.embedded {
  body {
    min-height: 500px;
    position: relative;
    app-root, app-embed, app-map {
      display: block;
      height: 100%;
    }
    app-map .map-ui-wrapper, 
    app-map .map-wrapper {
      position: absolute;
      height: 100%;
    }
  }
}

// Embed view overrides
.embed {
  // hide elements that allow navigation or modifying the view
  app-header-bar,
  app-menu, 
  app-footer,
  app-data-panel,
  app-map .map-ui-wrapper .map-ui,
  app-map .map-ui-wrapper app-location-cards,
  app-map .year-slider-container { display: none !important; }
  // force legend to the bottom
  app-ui-map-legend {
    bottom: 0!important;
    height: grid(9) !important;
  }
  // hide scroll indicator
  .cards-active .mobile-scroll-indicator,
  .slider-active .mobile-scroll-indicator,
  .cards-active.slider-active .mobile-scroll-indicator { display: none!important; }
  // mapbox overrides
  .mapboxgl-ctrl-bottom-left { bottom: 0 !important; }
  .mapboxgl-popup-content { line-height: 16px !important; }
  // fix disappearing legend
  .map-ui-wrapper { height: 100vh!important; }
}

// Shrink legend tooltip to make sure it fits
.tooltip-inner {
  padding: 4px;
  font-size: 11px;
  max-width: 360px;
}

@media(min-width: $gtMobile) {
  .embed app-ui-map-legend {
    bottom: $pageMarginLg!important;
  }
}

