<div class="map-wrapper" [style.transform]="'translateY('+ verticalOffset/3 +'px)'">
  <app-mapbox
      [mapConfig]="mapConfig" 
      [eventLayers]="mapEventLayers"
      (ready)="onMapReady($event)"
      (zoom)="onMapZoom($event)"
      (featureClick)="onFeatureClick($event)"
      (hoverChanged)="onFeatureHover($event)"
      (render)="onMapRender($event)"
      (moveEnd)="onMapMoveEnd($event)"
      
  >
  </app-mapbox>
</div>
<div class="map-ui-wrapper">
  <app-progress-bar *ngIf="mapLoading"></app-progress-bar>
  <div class="map-ui">
      <app-ui-select
          tabindex="4"
          class="eviction-select"
          label="Eviction"
          [values]="['Judgments', 'Filings']"
      ></app-ui-select>
      <app-ui-select
          tabindex="5"
          class="layer-select"
          label="Display"
          labelProperty="name"
          [selectedValue]="activeDataLevel"
          [values]="dataLevels" 
          (change)="setGroupVisibility($event)">
      </app-ui-select>
      <app-ui-select
          tabindex="6"
          class="highlight-select"
          label="Highlight"
          labelProperty="name"
          [values]="attributes"
          (change)="setDataHighlight($event)">
      </app-ui-select>
      <div *ngIf="activeDataHighlight && activeDataHighlight.name !== 'None'" class="map-legend" [style.background]="getLegendGradient()">
          <span class="legend-start">{{legend[0][0]}}</span>
          <span class="legend-end">{{legend[legend.length - 1][0]}}</span>
      </div>
      <app-ui-hint 
          *ngIf="activeDataLevel && activeDataHighlight.name !== 'None'"
          class="legend-hint"
          [hint]="'The colored ' + activeDataLevel['name'] + ' on the map represent ' + activeDataHighlight['name'] + ' from ' + legend[0][0] + ' to ' + legend[legend.length - 1][0] + '.'" 
          placement="bottom"
      ></app-ui-hint>
  </div>
  <div class="map-overlay" [class.active]="!scrollZoom">
    <button
      class="btn btn-primary btn-compare" 
      [class.active]="activeFeatures > 0 && scrollZoom"
      i18n
      (click)="showDataClick.emit()"
    >
    {activeFeatures, plural, =0 {View More Data} =1 {View More Data} other {Compare Selected Locations}}
    </button>
    <button class="btn btn-primary btn-map" (click)="showMapClick.emit()">View Map</button>
  </div>
  <div class="year-slider-container">
    <app-ui-slider tabindex="9"
      class="year-slider"
      [currentValue]="dataYear" 
      [min]="1990" 
      [max]="2016" 
      (change)="setDataYear($event)"
    ></app-ui-slider>
  </div>
  
</div>