@import '../../../theme';

:host {
  display:block;
}

.input-wrapper {
  position:relative;
  display: block;
}

input {
  width:auto;
  height: grid(5);
  padding: 0 grid(1);
  -webkit-user-select: all;
  -moz-user-select: -moz-all;
  user-select: all;
}

.btn {
  position:absolute;
  top:0;right:0;
  width: grid(5);
  height: grid(5);
}

:host-context(.gt-mobile) {
  input {
    min-width: grid(30);
  }
}