@import '../../../theme';

:host {
  display: block;
  padding: 0;
  border: 1px solid $toggleBorderColor;
  border-radius: 2px;
  height: grid(5);
  background: $toggleBackground;
  
}

button {
  position:relative;
  background: $toggleBackground;
  border: none;
  border-left: 1px solid $toggleBorderColor;
  margin: 6px 0;
  border-radius:0;
  color: $toggleForeground;
  &:after {
    content: "";
  }
  &:hover { color: $toggleHoverForeground; }
  &:first-child { border-left: none; }
  &.selected { color: $toggleSelectedBackground; }
}
