<div id="top" 
  class="app-wrapper" 
  [class.map-active]="dataService.activeFeatures.length === 0" 
  [class.data-active]="dataService.activeFeatures.length > 0"
>
    <div class="header-wrapper">
        <div class="header-content">
            <img src="./assets/logo.png" class="header-logo" />
            <app-location-search
                class="search"
                (locationSelected)="onSearchSelect($event)">
            </app-location-search>
            <app-ui-select
                class="language-select"
                [values]="['English', 'Spanish']"
            ></app-ui-select>
            <button class="btn">
                <span class="glyphicon glyphicon-menu-hamburger"></span>
            </button>
        </div>
    </div>
    <app-map
        [autoSwitch]="autoSwitchLayers"
        [boundingBox]="mapBounds"
        (featureClick)="onFeatureSelect($event)"
        (yearChange)="dataService.setActiveYear($event)"
    ></app-map>
    <app-location-cards 
        *ngIf="dataService.activeFeatures.length > 0" 
        [features]="dataService.activeFeatures"
        [year]="dataService.activeYear"
        (viewMore)="goToDataPanel($event)"
        (dismissedCard)="dataService.removeLocation($event)"
    ></app-location-cards>
    <app-data-panel
        id="data-panel"
        *ngIf="dataService.activeFeatures.length > 0"
        [year]="dataService.activeYear"
        [locations]="dataService.activeFeatures" 
        (locationRemoved)="dataService.removeLocation($event)"
        (locationAdded)="onSearchSelect($event, false)"
    ></app-data-panel>
    <div class="footer">
        <div class="placeholder">
          <img src="./assets/images/footer.png" />
        </div>
    </div>
</div>
