@import '../../theme';

// Page Layout
.app-wrapper {
  min-height:100%;
  &.map-active {
    height: calc(100vh - #{$headerHeightSm});
    overflow: hidden;
  }
  app-map {
    position:relative;
    display:block;
    width:100%;
    margin-top: $headerHeightSm;
    height: calc(100vh - #{$headerHeightSm});
    z-index:10;
  }
  app-location-cards {
    position: absolute;
    top:0;
    left:0;
    margin-top: $headerHeightSm;
    height: calc(100vh - #{$headerHeightSm});
    z-index:100;
    pointer-events: none;
    display:flex;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: center;
    width:100%;
  }
  app-data-panel {
    display:block;
    position:relative;
    width:100%;
    background:#fff;
    z-index:200;
  }
}

// Tablet+
// - Adjust height of map / location cards to reflect large header.
@media(min-width: 768px) {
  .app-wrapper {
    &.map-active {
      height: calc(100vh - #{$headerHeightLg});
    }
    app-map {
      margin-top: $headerHeightLg;
      height: calc(100vh - #{$headerHeightLg});
    }
    app-location-cards {
      margin-top: $headerHeightLg;
      height: calc(100vh - #{$headerHeightLg});
    }
  }
}