@import '../../theme';

// Fixed progress bar
app-progress-bar {
  position: fixed;
  top: 0;
  z-index: 1000;
}

// Page Layout
.app-wrapper {
  min-height:100%;
  &.map-active {
    height: 100vh;
    overflow: hidden;
  }
  app-map {
    position:relative;
    display:block;
    width:100%;
    margin-top: $headerHeightSm;
    height: calc(100vh - #{$headerHeightSm});
    z-index:10;
  }
  app-map.cards-active {
    height: calc(100vh - #{$headerHeightSm} - #{grid(5)});
  }
  app-data-panel {
    display:block;
    position:relative;
    width:100%;
    background:#fff;
    z-index:200;
  }
}

// Larger than mobile:
//    Adjust height of map / location cards to reflect large header.
:host-context(.gt-mobile) {
  .app-wrapper {
    app-map {
      margin-top: $headerHeightLg;
      height: calc(100vh - #{$headerHeightLg});
    }
  }
  .app-wrapper {
    app-map.cards-active {
      height: calc(100vh - #{$headerHeightLg} - #{grid(5)});
    }
  }
}


// Larger than tablet:
//    Adjust height of map / location cards to reflect large header.
:host-context(.gt-tablet) {
  .app-wrapper {
    app-map, app-map.cards-active {
      margin-top: $headerHeightLg;
      height: calc(100vh - #{$headerHeightLg});
    }
  }
}

// Map Overlay
.map-overlay {
  @include fill-parent();
  pointer-events:none;
  height: 100%;
  transition: background-color 0.2s ease;
  background-color: rgba(0,0,0,0);
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  z-index: 50;
  &.active { 
    pointer-events:all; 
    background-color: rgba(0,0,0,0.1);
    .btn-map { opacity: 1; }
  }
  .btn-compare {
    display:none;
  }
  .btn-map {
    opacity: 0;
    transition: opacity 0.2s ease;
  }
  .show-map-overlay {
    @include fill-parent();
    pointer-events:all;
    z-index:51;
  }
}
.btn-map, 
.btn-compare {
  position:absolute;
  bottom: $pageMarginLg;
  left:0;
  right:0;
  width: grid(28);
  height: grid(8);
  font-size:15px;
  margin:auto;
}
// bring button above data panel content
.btn-map {
  z-index:2;
}
.btn-compare {
  pointer-events: all;
  transition: transform 0.3s ease, opacity 0.2s linear 0.1s;
  white-space: normal;
  transform: translateY(250%);
  opacity:0;
  &.visible {
    transform: translateY(0px);
    opacity:1;
  }
}

:host-context(.gt-tablet) {
  .map-overlay .btn-compare { display:block; }
  .map-overlay {
    height: calc(100% - #{$timeSliderLg});
  }
}
