<app-progress-bar *ngIf="isLoading"></app-progress-bar>
<app-ui-toast></app-ui-toast>
<div id="top" 
  class="app-wrapper" 
  [class.map-active]="dataService.activeFeatures.length === 0" 
  [class.data-active]="dataService.activeFeatures.length > 0"
>
  <app-header-bar
    [languageOptions]="dataService.languageOptions"
    (selectMenuItem)="onMenuSelect($event)"
    (selectLocation)="onSearchSelect($event)"
    (selectLanguage)="onLanguageSelect($event)"
  ></app-header-bar>
  <app-map
    [mapConfig]="dataService.mapConfig"
    [autoSwitch]="dataService.autoSwitchLayers"
    [bubbleOptions]="dataService.bubbleAttributes"
    [layerOptions]="dataService.dataLevels"
    [choroplethOptions]="dataService.dataAttributes"
    [scrollZoom]="enableZoom"
    [activeFeatures]="dataService.activeFeatures"
    [verticalOffset]="verticalOffset"
    [activeMenuItem]="activeMenuItem"
    [(boundingBox)]="dataService.mapView"
    [(year)]="dataService.activeYear"
    [(selectedBubble)]="dataService.activeBubbleHighlight"
    [(selectedChoropleth)]="dataService.activeDataHighlight"
    [(selectedLayer)]="dataService.activeDataLevel"
    (featureClick)="onFeatureSelect($event)"
    (boundingBoxChange)="updateRoute()"
    (yearChange)="updateRoute()"
    (selectedBubbleChange)="updateRoute()"
    (selectedChoroplethChange)="updateRoute()"
    (selectedLayerChange)="updateRoute()"
    (clickedCardHeader)="onCardHeaderClick($event)"
    (dismissedCard)="dataService.removeLocation($event); updateRoute()"
  >
    <div class="map-overlay" [class.active]="!enableZoom">
      <button
        class="btn btn-border btn-compare z1" 
        [class.visible]="(dataService.activeFeatures.length > 0) && enableZoom"
        (click)="goToDataPanel($event)"
      >
        <span *ngIf="dataService.activeFeatures.length === 1">{{ 'MAP.DATA_LINK_SINGLE' | translate}}</span>
        <span *ngIf="dataService.activeFeatures.length > 1">{{ 'MAP.DATA_LINK_MULTIPLE' | translate}}</span>        
        <svg class="down-arrow" viewBox="0 0 14 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><polyline points="1 1 6.81226514 6 8.34418334 4.76222126 13 1.00035534"></polyline></svg>
      </button>
      <div *ngIf="!enableZoom" class="show-map-overlay" (click)="goToTop()">
        <button [style.transform]="'translateY(' + offsetToTranslate(verticalOffset) + 'px)'" class="btn btn-border btn-map z1">
          <svg class="up-arrow" viewBox="0 0 14 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <polyline points="1 1 6.81226514 6 8.34418334 4.76222126 13 1.00035534"></polyline>
          </svg>
          <span>{{ 'DATA.MAP_LINK' | translate }}</span>              
        </button>
      </div>
    </div>
  </app-map>
  <!-- divider div used as a reference for scroll -->
  <div #divider></div>
  <app-data-panel
      id="data-panel"
      *ngIf="dataService.activeFeatures.length > 0"
      [year]="dataService.activeYear"
      [locations]="dataService.activeFeatures" 
      (locationRemoved)="dataService.removeLocation($event); updateRoute()"
      (locationAdded)="onSearchSelect($event, false)"
  >
    <button (click)="goToTop()" class="btn btn-border btn-map" [class.fixed]="isDataButtonFixed">
      <svg class="up-arrow" viewBox="0 0 14 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g><polyline points="1 1 6.81226514 6 8.34418334 4.76222126 13 1.00035534"></polyline></g>
      </svg>
      <span>{{ 'DATA.MAP_LINK' | translate }}</span>
    </button>
  </app-data-panel>
  <div class="footer">
    <div class="placeholder">
      <img src="./assets/images/footer.png" />
    </div>
  </div>
</div>
