@import '../../theme';

.data-content {
    position:relative;
    width:100%;
    padding:0 $defaultPadding;
    box-sizing: border-box;
    overflow:auto;
    border-top: 1px solid #eee;
    .data-content-inner {
      max-width: $maxContentWidth;
      padding: 16px;
      margin:auto;
    }
}


.share-container {
  display:block;
  clear: both;
}

.graph-area { 
  display: block; 
  width:100%;
  text-align:right; 
  h1 { font-size: 16px; float:left; line-height: 30px; margin:0; }
  app-ui-toggle { display:inline-block; }
}
@media(min-width: 768px) {
  .graph-area { 
    width:60%; 
    float:left;
  }
  .graph-legend {
    width: 40%;
    list-style: none;
    margin:0;
    padding:0;
    float:right;
    padding-left: 32px;
    padding-top:44px;
    li {
      border-bottom: 1px solid #ddd;
      height: 44px;
      position:relative;
      line-height:44px;
      .legend-marker {
        width:24px;
        height:24px;
        border-radius: 12px;
        margin-right: 16px;
        background:#ccc;
        display:inline-block;
        vertical-align: middle;
      }
      .btn-close { position:absolute; right:0; top:2px;}
      &:last-child { border-bottom: none; }
      &:nth-child(1) .legend-marker { background: $graphColor1; }
      &:nth-child(2) .legend-marker { background: $graphColor2; }
      &:nth-child(3) .legend-marker { background: $graphColor3; }
      &:nth-child(4) .legend-marker { background: $graphColor4; }
    }
  }
}