<div class="data-wrapper">
  <div class="data-content">
      <div class="data-content-inner">
          <div class="graph-container">
            <div class="graph-area">
              <h1>Location Comparison</h1>
              <app-ui-toggle [values]="[ 'Bar', 'Line' ]" (selectedValueChanged)="changeGraphType($event)"></app-ui-toggle>
              <app-graph
                [data]="graphData"
                [settings]="graphSettings"
                (activeValuesChanged)="onGraphHover($event)"
              >
                <div class="line-tooltips" *ngIf="graphType === 'line'">
                  <div class="line-tooltip" *ngFor="let tooltip of tooltips" [style.transform]="'translate('+ tooltip.xPos +'px, ' + tooltip.yPos + 'px)'">
                    <span class="line-tooltip-year">{{year}}</span>
                    <span class="line-tooltip-value">{{tooltip.y}}</span>
                  </div>
                </div>
                <div class="bar-tooltips" *ngIf="graphType === 'bar'">
                  <div class="bar-tooltip" *ngFor="let tooltip of tooltips" [style.transform]="'translate('+ (tooltip.left + tooltip.width/2) +'px, ' + tooltip.top + 'px)'">
                    <span *ngIf="tooltip.data && tooltip.data.length">{{tooltip.data[0].y}}</span>
                  </div>
                </div>
              </app-graph>
            </div>
            <ul class="graph-legend">
              <li *ngFor="let location of locations">
                <span class="legend-marker"></span>
                {{ location.properties["n"] }}
                <button class="btn btn-close" (click)="locationRemoved.emit(location)">&times;</button>
              </li>
            </ul>
          </div>
          <app-location-cards
            [allowAddLocation]="locations.length < 3"
            [features]="locations"
            [year]="year"
            [cardProperties]="cardProps"
            (dismissedCard)="locationRemoved.emit($event)"
            (locationAdded)="locationAdded.emit($event)"
          ></app-location-cards>
          <div class="data-panel-footer">
              <div class="action-wrapper">
                      <button class="btn btn-primary" (click)="showFileDialog($event)">Social Media</button>
                      <span>Share this map and information</span>
              </div>
              <div class="action-wrapper">
                      <button class="btn btn-primary" (click)="showFileDialog($event)">Save</button>
                      <span>Save the map and information to this device</span>
              </div>
              <div class="action-wrapper">
                      <button class="btn btn-primary" (click)="showFileDialog($event)">E-mail</button>
                      <span>E-mail this map and information</span>
              </div>
          </div>
          
      </div>
  </div>
</div>