/* You can add global styles to this file, and also import other style files */
html, body {
  background: #fff;
  margin:0;
  padding:0;
  width:100%;
  height:100%;
  font-family: Roboto, sans-serif!important;
}

.mapboxgl-map {
  width:100%;
  height:100%;
  position:absolute;
  left:0;right:0;top:0;bottom:0;
}

.mapboxgl-popup-content h1 {
  font-size:16px;
  margin: 0px 0 8px 0;
}

.mapboxgl-popup-content ul {
  margin:0 16px; padding:0;
}


/** Header Row w/ Stats */

.header-row {
  max-width: 1024px;
  margin:auto;
  padding: 0 16px;
  box-sizing: border-box;
  width: 100%;
  position:relative;
}

.header-row-title {
  margin: 0 0 0 0;
  padding: 0;
  line-height:1;
  font-size:21px;
}

.header-row-subtitle {
  display:block;
  margin-top:4px;
}

.header-row .close {
  position: absolute;
  top:16px;
  right:16px;
  font-size:32px;
  line-height:1;
}

ul.header-row-stats {
  list-style: none;
  margin:0;
  padding:0;
  position:absolute;
  right:0;
  top:16px;
}

ul.header-row-stats li {
  display:inline-block;
  padding: 0 16px;
  border-right: 1px solid #ccc;
  text-align:right;
}
ul.header-row-stats li:last-child {
  border-right:none;
}

.header-row-stat-value {
  font-size: 24px;
  line-height:1;
  display:block;
}

.header-row-stat-label {
  font-size:12px;
  color: #999;
}

.data-wrapper .header-row {
  position:absolute;
  height:72px;
  top:0;
  left:0;
  right:0;
}

.data-wrapper .header-row-title {
  margin-top:14px;
}

.data-content {
  position:absolute;
  top:72px;
  bottom:0;
  left:0;
  right:0;
  width:100%;
  padding:0 16px;
  box-sizing:border-box;
  overflow:auto;
  border-top: 1px solid #eee;
}

.prototype-image {
  width:100%;
  max-width:992px;
  margin:auto;
  display:block;
}

.dropdown-toggle.btn {
  color: rgba(0,0,0,0.87);
  background: #fff;
  border:none;
  border-radius: 0;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.1);
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.04em;
  font-size:12px;
}

.dropdown-label {
  color: #999;
  font-weight: 300;
}

.map-ui .btn-group {
  float:none;
  width:100%;
  margin: 4px 0 0 0;
  display:block;
  position:relative;
}

.map-ui .btn-group .btn {
  width:100%;
  float:none;
  text-align:left;
  position:relative;
}

.map-ui .btn-group .caret {
  position:absolute;
  right:8px;
  top:12px;
}

.legend-end {
  float:right;
}

.map-legend {
  width: auto;
  height: 24px;
  padding:4px 8px;
  margin: 4px 0;
  font-size:11px;
  font-weight:bold;
  box-shadow: 0 1px 3px rgba(0,0,0,0.25);
}

@media (min-width: 767px) {
  .map-ui .btn-group {
    float:left;
    width:auto;
    margin: 4px;
  }
  .map-ui .btn-group .btn {
    padding-right: 24px;
  }
  .map-legend {
    min-width:196px;
    width:26%;
    float:right;
  }
}