/* You can add global styles to this file, and also import other style files */

// Theme Mixins and Variables
@import 'theme';

// Base Styles
@import './theme/base/typography';
@import './theme/base/buttons';
@import './theme/base/toast';


// Header Bar
// @import './theme/components/header-bar';

// PAGE STYLES

html, body {
  background: #fff;
  margin:0;
  padding:0;
  width:100%;
  height:100%;
  font-family: $fontStack!important;
}

body {
  height:auto;
  overflow-x:hidden;
}

body {
  .form-control {
    border: 1px solid $shadingColor;
    border-radius: 0px;
    box-shadow: none;
  }
}

.btn.btn-close { 
  font-size: 16px; 
  width:grid(5);
  height:grid(5);
  background:none;
  line-height:1;
  color: $closeButtonColor;
  &.alt { color: $altCloseButtonColor }
  &:after {
    border-radius: grid(3);
    border: 1px solid $shadingColor;
    @include fill-parent;
    width: grid(3);
    height: grid(3);
    margin: auto;
    background: $defaultBackground; 
    content: "\00D7"; 
    line-height: 22px;
    text-align: center;
  }
  &:hover {
    background: none;
  }
}

.footer {
  padding: 64px 0;
  background: rgb(43,43,43);
  height:400px;
  margin: 24px 0 0 0;
  width:100%;
  .placeholder {
    max-width: 840px;
    margin:auto;
    img { width:100%; }
  }
}

// STYLE OVERRIDES

// no mobile "map button" hint on tablet+
@media(min-width: $gtMobile) {
  .tooltip.map-hint-mobile { display:none!important;}
}
// no desktop "map button" hint on mobile
@media(max-width: $gtMobile) {
  .tooltip.map-hint-desktop { display:none!important;}
}

// hide the track on the year slider so it's not confused for range
.app-wrapper app-ui-slider .el-slider .track.track-value {
  background:none!important;
}

// make cards in the data panel fill the width
.data-content .location-card {
  flex:1;
  // no button for data panel cards
  .card-footer { display: none;}
}

// override mapbox popup styles
.app-wrapper {
  .mapboxgl-popup-content { border-radius:0; font-size: 12px; line-height: 12px; padding:6px 8px;}
  .mapboxgl-popup-close-button { display: none; }
}

.modal .modal-dialog .modal-content {
  border-radius:0;
}
.down-arrow {
  margin-bottom:4px;
  width:14px;
  height:8px;
  polyline { stroke-width: 3px; stroke: #fff; fill: none;}
}
.up-arrow {
  margin-bottom:4px;
  width:14px;
  height:8px;
  transform: rotate(180deg);
  polyline { stroke-width: 3px; stroke: #fff; fill: none;}
}
