/* You can add global styles to this file, and also import other style files */

// Theme Mixins and Variables
@import 'theme';

// Base Styles
@import './theme/base/typography';
@import './theme/base/buttons';
@import './theme/base/toast';
@import './theme/base/dropdown';


// Header Bar
// @import './theme/components/header-bar';

// PAGE STYLES



html, body {
  background: #fff;
  margin:0;
  padding:0;
  width:100%;
  height:100%;
  font-family: $fontStack!important;
}

body {
  height:auto;
  overflow-x:hidden;
  :focus, .form-control:focus, a:focus {
    @include focusState();
  }
}

body {
  .form-control {
    border: 1px solid $shadingColor;
    border-radius: 0px;
    box-shadow: none;
  }
}


.footer {
  padding: 64px 0;
  background: rgb(43,43,43);
  height:400px;
  margin: 24px 0 0 0;
  width:100%;
  .placeholder {
    max-width: 840px;
    margin:auto;
    img { width:100%; }
  }
}

// HERO

.hero {
  position:relative;
  padding-top: 28.13%; // 32:9 ratio
  background: $grey0;
  h1 {
    @include fill-parent();
    @include altFont(32px);
    text-transform: uppercase;
    height: grid(7);
    text-align:center;
    color: #fff;
    margin:auto;
    text-shadow: 0 1px 3px #000;
    letter-spacing: 0.125em;
    &:after {
      content:"";
      width: grid(24);
      height: grid(1);
      background: $color1;
      box-shadow: $z1shadow;
      position:absolute;
      bottom:0;
      left:0;
      right:0;
      margin:auto;
    }
  }
}

@media(min-width: $gtSmallDesktop) {
  .hero {
    padding-top:0;
    height: grid(44);
  }
}

// page content max dimensions
.content-inner {
  max-width: $maxContentWidth;
  margin:auto;
}

// STYLE OVERRIDES

// no mobile "map button" hint on tablet+
@media(min-width: $gtMobile) {
  .tooltip.map-hint-mobile { display:none!important;}
}
// no desktop "map button" hint on mobile
@media(max-width: $gtMobile) {
  .tooltip.map-hint-desktop { display:none!important;}
}

// hide the track on the year slider so it's not confused for range
.app-wrapper app-ui-slider .el-slider .track.track-value {
  background:none!important;
}

// make cards in the data panel fill the width
.data-content .location-card {
  flex:1;
  // no button for data panel cards
  .card-footer { display: none;}
}

// override mapbox popup styles
.app-wrapper {
  .mapboxgl-popup-content { border-radius:0; font-size: 12px; line-height: 12px; padding:6px 8px;}
  .mapboxgl-popup-close-button { display: none; }
}

.modal .modal-dialog .modal-content {
  border-radius:0;
}
.down-arrow {
  margin-bottom:4px;
  width:14px;
  height:8px;
  polyline { stroke-width: 3px; stroke: #fff; fill: none;}
}
.up-arrow {
  margin-bottom:4px;
  width:14px;
  height:8px;
  transform: rotate(180deg);
  polyline { stroke-width: 3px; stroke: #fff; fill: none;}
}
.btn-compare {
  pointer-events: all;
  transition: transform 0.2s ease;
  white-space: normal;
  transform: translateY(150%);
  &.visible {
    transform: translateY(0px);
  }
}

@media(min-width: $gtTablet) {
  .map-overlay .btn-compare { display:block; }
  .map-overlay {
    height: calc(100% - #{$timeSliderHeight});
  }
}

@media(min-width: $gtLargeDesktop) {
  // move buttons to gutter
  .data-wrapper .btn-map,
  .btn-compare {
    position: absolute;
    left: 50%;
    margin-left: (-$maxContentWidth / 2) - $pageNavButtonWidth - $defaultPadding/2;
  }
  // back button in the gutter of the data panel
  .data-wrapper .btn-map {
    margin-top:24px;
    top: 0;
    bottom:auto;
    &.fixed { position:fixed; }
  }
  // hide back button in overlay
  .map-overlay .btn-map {
    display: none;
  }
}


// EDITOR OVERRIDES
app-header-bar, app-footer { display: none!important; }


// copy link tooltip override
@media(max-width: $gtMobile) {
  .popover.in.bs-popover-top {
    left:0!important;
    right:0!important;
    margin:auto;
    width: grid(35);
    .popover-arrow.arrow {
      left:auto!important;
      right: grid(3);
    }
  }
}
