/* You can add global styles to this file, and also import other style files */

@import 'theme';

// PAGE STYLES

html, body {
  background: #fff;
  margin:0;
  padding:0;
  width:100%;
  height:100%;
  font-family: $fontStack!important;
}

.btn.btn-close { 
  font-size: 24px; 
  width:40px;
  height:40px;
  background:none;
  line-height:1;
  color: $closeButtonColor;
  &.alt { color: $altCloseButtonColor }
}

.footer {
  padding: 64px 0;
  background: rgb(43,43,43);
  height:400px;
  margin: 24px 0 0 0;
  width:100%;
  .placeholder {
    max-width: 840px;
    margin:auto;
    img { width:100%; }
  }
}

// STYLE OVERRIDES

// hide the track on the year slider so it's not confused for range
.app-wrapper app-ui-slider .el-slider .track.track-value {
  background:none!important;
}

// make cards in the data panel fill the width
.data-content .location-card {
  flex:1;
  // no button for data panel cards
  .card-footer { display: none;}
}

@media(min-width:1024px) {
  app-root .app-wrapper > app-map,
  app-root .app-wrapper > app-location-cards {
    max-width: $maxContentWidth - $defaultPadding*2;
    height: 460px!important;
    margin: auto;
    margin-top: 80px!important;
    margin-bottom: 24px!important;
  }
  
  app-root .app-wrapper > app-map {
    border: 1px solid rgb(204, 204, 204);  
  }
  
  app-root .app-wrapper > app-location-cards {
    right:0;
    left:2px!important;
    overflow:hidden;
  }

  app-root .app-wrapper.map-active {
    height:auto!important;
    overflow:auto!important;
  }
}

@media(min-width: 1365px) {
  app-root .app-wrapper > app-map,
  app-root .app-wrapper > app-location-cards {
    max-width: $largeMaxContentWidth - $defaultPadding*2;
    height: 520px!important;
  }
  app-root .data-content .data-content-inner,
  app-root .header-wrapper .header-content {
    max-width: $largeMaxContentWidth!important;
  }
  app-root .map-ui {
    max-width: none!important;
  }
}


// override mapbox popup styles
.app-wrapper {
  .mapboxgl-popup-content { border-radius:0; font-size: 12px; line-height: 12px; padding:6px 8px;}
  .mapboxgl-popup-close-button { display: none; }
}
