/* You can add global styles to this file, and also import other style files */

// Theme Mixins and Variables
@import 'theme';

// Base Styles
@import './theme/base/typography';
@import './theme/base/buttons';
@import './theme/base/toast';
@import './theme/base/dropdown';
@import './theme/base/dialogs';
@import './theme/base/inputs';
@import './theme/base/hero';
@import './theme/base/footer';


// Header Bar
// @import './theme/components/header-bar';

// PAGE STYLES



html, body {
  background: #fff;
  margin:0;
  padding:0;
  width:100%;
  height:100%;
  font-family: $fontStack!important;
}

html.embedded, html.not-embedded {
  body {
    min-height: 500px;
    position: relative;

    app-root, app-embed, app-map {
      display: block;
      height: 100%;

      .map-ui-wrapper, .map-wrapper {
        position: absolute;
        height: 100%;
      }
    }
  }
}

body {
  height:auto;
  overflow-x:hidden;
  :focus, .form-control:focus, a:focus {
    @include focusState();
  }
}

body {
  .form-control {
    border: 1px solid $shadingColor;
    border-radius: 0px;
    box-shadow: none;
  }
}

.footer {
  padding: 64px 0;
  background: rgb(43,43,43);
  height:400px;
  margin: 24px 0 0 0;
  width:100%;
  .placeholder {
    max-width: 840px;
    margin:auto;
    img { width:100%; }
  }
}

// page content max dimensions
.content-inner {
  max-width: $maxContentWidth;
  margin:auto;
}

// STYLE OVERRIDES

// Bootstrap tooltips should use default font stack
bs-tooltip-container.tooltip .tooltip-inner { font-family: $fontStack; }

// no mobile "map button" hint on tablet+
@media(min-width: $gtMobile) {
  .tooltip.map-hint-mobile { display:none!important;}
}
// no desktop "map button" hint on mobile
@media(max-width: $gtMobile) {
  .tooltip.map-hint-desktop { display:none!important;}
}

// hide the track on the year slider so it's not confused for range
.app-wrapper app-ui-slider .el-slider .track.track-value {
  background:none!important;
}

// make cards in the data panel fill the width
.data-content .location-card {
  flex:1;
  // no button for data panel cards
  .card-footer { display: none;}
}

// override mapbox popup styles
.app-wrapper, app-embed {
  .mapboxgl-popup-content { border-radius:0; font-size: 12px; line-height: 12px; padding:6px 8px;}
  .mapboxgl-popup-close-button { display: none; }
}

.modal .modal-dialog .modal-content {
  border-radius:0;
}
.down-arrow {
  margin-bottom:4px;
  width:14px;
  height:8px;
  polyline { stroke-width: 3px; stroke: #fff; fill: none;}
}
.up-arrow {
  margin-bottom:4px;
  width:14px;
  height:8px;
  transform: rotate(180deg);
  polyline { stroke-width: 3px; stroke: #fff; fill: none;}
}


// copy link tooltip override
@media(max-width: $gtMobile) {
  .popover.in.bs-popover-top {
    left:0!important;
    right:0!important;
    margin:auto;
    width: grid(35);
    .popover-arrow.arrow {
      left:auto!important;
      right: grid(3);
    }
  }
}

// force hide tooltip in header on ranking tool
.ranking-tool .header-icons .tooltip { display: none; }