/* You can add global styles to this file, and also import other style files */

// Theme Mixins and Variables
@import 'theme';

// Base Styles
@import './theme/base/normalize';
@import './theme/base/typography';
@import './theme/base/buttons';
@import './theme/base/toast';
@import './theme/base/dropdown';
@import './theme/base/dialogs';
@import './theme/base/popovers';
@import './theme/base/tooltips';
@import './theme/base/inputs';
@import './theme/base/hero';
@import './theme/base/menu';
@import './theme/base/header';
@import './theme/base/footer';
@import './theme/base/hacks';

// PAGE STYLES


html, body {
  margin:0;
  padding:0;
  width:100%;
  height:100%;
}

body {
  font-family: $fontStack;
  font-size: 14px;
  line-height: 1.42857143;
  color: $black;
  background-color: $defaultBackground;
  height:auto;
  overflow-x:hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: $color1;
  text-decoration: none;
}
a:hover,
a:focus {
  color: $color1;
  text-decoration: underline;
}
a:focus {
  @include focusState();
}


.footer {
  padding: 64px 0;
  background: rgb(43,43,43);
  height:400px;
  margin: 24px 0 0 0;
  width:100%;
  .placeholder {
    max-width: 840px;
    margin:auto;
    img { width:100%; }
  }
}

// page content max dimensions
.content-inner {
  max-width: $maxContentWidth;
  margin:auto;
}

// HELPER CLASSES

.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.hidden {
  display: none !important;
}
.fade {
  opacity: 0;
  transition: opacity .15s linear;
}
.fade.in {
  opacity: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}
.clearfix:after {
  clear: both;
}

// screenreader only
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  border: 0;
}

.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  overflow: visible;
  clip: auto;
  white-space: normal;
  -webkit-clip-path: none;
  clip-path: none;
}

// STYLE OVERRIDES

// no mobile "map button" hint on tablet+
@media(min-width: $gtMobile) {
  .tooltip.map-hint-mobile { display:none!important;}
}
// no desktop "map button" hint on mobile
@media(max-width: $gtMobile) {
  .tooltip.map-hint-desktop { display:none!important;}
}

// hide the track on the year slider so it's not confused for range
.app-wrapper app-ui-slider .el-slider .track.track-value {
  background:none!important;
}

// make cards in the data panel fill the width
.data-content .location-card {
  flex:1;
  // no button for data panel cards
  .card-footer { display: none;}
}

// override mapbox popup styles
.app-wrapper, app-embed {
  .mapboxgl-popup-close-button { display: none; }
}

// override modal styles
.modal .modal-dialog .modal-content {
  border-radius:0;
}

.feature-overview-dialog {
  margin:grid(2);
  width: grid(36);
  .modal-content {
    padding:0;
  }
}
// boost modal width on tablet+
@media(min-width: $gtMobile) {
  .feature-overview-dialog {
    width: grid(45);
  }
}


// copy link tooltip override
@media(max-width: $gtMobile) {
  .popover.in.bs-popover-top {
    left:0!important;
    right:0!important;
    margin:auto;
    width: grid(35);
    .popover-arrow.arrow {
      left:auto!important;
      right: grid(3);
    }
  }
}

// force hide tooltip in header on ranking tool
.ranking-tool .header-icons .tooltip { display: none; }

/* IE10+ hide clear button on inputs */
::-ms-clear {
  display: none;
}