/* You can add global styles to this file, and also import other style files */

// Theme Mixins and Variables
@import 'theme';

// Base Styles
@import './theme/base/typography';
@import './theme/base/buttons';


// Header Bar
// @import './theme/components/header-bar';

// PAGE STYLES

html, body {
  background: #fff;
  margin:0;
  padding:0;
  width:100%;
  height:100%;
  font-family: $fontStack!important;
}

.btn.btn-close { 
  font-size: 24px; 
  width:40px;
  height:40px;
  background:none;
  line-height:1;
  color: $closeButtonColor;
  &.alt { color: $altCloseButtonColor }
}


.footer {
  padding: 64px 0;
  background: rgb(43,43,43);
  height:400px;
  margin: 24px 0 0 0;
  width:100%;
  .placeholder {
    max-width: 840px;
    margin:auto;
    img { width:100%; }
  }
}

// STYLE OVERRIDES

// hide the track on the year slider so it's not confused for range
.app-wrapper app-ui-slider .el-slider .track.track-value {
  background:none!important;
}

// make cards in the data panel fill the width
.data-content .location-card {
  flex:1;
  // no button for data panel cards
  .card-footer { display: none;}
}

// override mapbox popup styles
.app-wrapper {
  .mapboxgl-popup-content { border-radius:0; font-size: 12px; line-height: 12px; padding:6px 8px;}
  .mapboxgl-popup-close-button { display: none; }
}

.modal .modal-dialog .modal-content {
  border-radius:0;
}
.down-arrow {
  margin-bottom:4px;
  width:14px;
  height:8px;
  polyline { stroke-width: 3px; stroke: #999; fill: none;}
}
.up-arrow {
  margin-bottom:4px;
  width:14px;
  height:8px;
  transform: rotate(180deg);
  polyline { stroke-width: 3px; stroke: #999; fill: none;}
}
.map-overlay {
  @include fill-parent();
  pointer-events:none;
  height: 100%;
  transition: background-color 0.2s ease;
  background-color: rgba(0,0,0,0);
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  z-index: 50;
  &.active { 
    pointer-events:all; 
    background-color: rgba(0,0,0,0.1);
    .btn-map { opacity: 1; }
  }
  .btn-compare {
    display:none;
  }
  .btn-map {
    opacity: 0;
    transition: opacity 0.2s ease;
  }
  .show-map-overlay {
    @include fill-parent();
    pointer-events:all;
    z-index:51;
  }
}
.btn-map, 
.btn-compare {
  position:absolute;
  bottom: 16px;
  left:0;
  right:0;
  width: $pageNavButtonWidth;
  margin:auto;
}
// bring button above data panel content
.btn-map {
  z-index:2;
}
.btn-compare {
  pointer-events: all;
  transition: transform 0.2s ease;
  white-space: normal;
  transform: translateY(150%);
  &.visible {
    transform: translateY(0px);
  }
}

@media(min-width: $gtTablet) {
  .map-overlay .btn-compare { display:block; }
  .map-overlay {
    height: calc(100% - #{$timeSliderHeight});
  }
}

@media(min-width: $gtLargeDesktop) {
  // move buttons to gutter
  .data-wrapper .btn-map,
  .btn-compare {
    position: absolute;
    left: 50%;
    margin-left: (-$maxContentWidth / 2) - $pageNavButtonWidth - $defaultPadding/2;
  }
  // back button in the gutter of the data panel
  .data-wrapper .btn-map {
    margin-top:24px;
    top: 0;
    bottom:auto;
    &.fixed { position:fixed; }
  }
  // hide back button in overlay
  .map-overlay .btn-map {
    display: none;
  }
}
