/* You can add global styles to this file, and also import other style files */

@import 'theme';


// PAGE STYLES

html, body {
  background: #fff;
  margin:0;
  padding:0;
  width:100%;
  height:100%;
  font-family: $fontStack!important;
}

.mapboxgl-map {
  width:100%;
  height:100%;
  position:absolute;
  left:0;right:0;top:0;bottom:0;
}

// Page Layout
.app-wrapper {
  @include fill-parent();
  overflow:hidden;
  .map-wrapper {
      @include fill-parent();
      transition: transform 0.4s ease;
      transform: translateY(-30vh);
      top:#{$toolbarHeight};
      height: calc(100% - #{$toolbarHeight});
  }
  .data-wrapper {
      position:absolute;
      width:100%;
      left:0;right:0;bottom:0;
      z-index:100;
      height: 70vh;
      background:#fff;
      transition: transform 0.3s ease;
      transform: translateY(0);
      overflow:auto;
  }
  .map-ui-wrapper {
      pointer-events:none;
      position: absolute;
      width:100vw;
      // height:calc(30vh - #{$toolbarHeight});
      height: calc(100% - #{$toolbarHeight});
      top: $toolbarHeight;
      left:0;
      transition: height 0.4s ease;
      .card-wrapper {
        transition: transform 0.4s ease;
        transform: translateX(-600px);
      }
  }
  &.map-active {
      .map-wrapper {
          transform: translateY(0);
      }
      .data-wrapper {
          transform: translateY(70vh);
      }
      .map-ui-wrapper {
          height: calc(100% - #{$toolbarHeight});
          .card-wrapper {
            transform: translateX(0);
          }
      }
  }
}

// App Header Bar
// - Search bar overlaps logo on left on mobile
// - Search bar in center of header bar on desktop
.header-wrapper {
  position:absolute;
  top:0;
  left:0;right:0;
  height: $toolbarHeight;
  background:#fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.15);
  z-index:999;
  .header-content {
    padding: 8px 16px;
    display:flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    max-width: $maxContentWidth;
    position:relative;
    margin:0 auto;
    box-sizing:border-box;
  }
  .header-logo { 
    height: 40px;
  }
  .language-select {
    position: absolute;
    right: 64px;
  }
  .search {
    position:absolute;
    left:16px;
    min-width:174px;
    width:50%;
  }
}
@media(min-width: 767px) {
  .header-wrapper .search {
      position:absolute;
      left:0px;
      right:0;
      margin: 0 auto;
      min-width:174px;
      width:46%;
  }
}
// End App Header Bar

.map-ui {
  position:absolute;
  max-width: $maxContentWidth - ($defaultPadding*2);
  width: calc(100% - 32px);
  margin:auto;
  top:12px;
  left:0;
  right:0;
  height:0;
  z-index:49;
  pointer-events:all;
}

// Dropdown Select Styles

.map-ui-wrapper .el-select {
  float:none;
  width:100%;
}

@media (min-width: 767px) {
  .map-ui-wrapper .el-select {
    float:left;
    width:auto;
    margin: 4px;
  }
}

// Map Legend

.legend-hint {
  float:right;
}

.map-legend {
  width: auto;
  height: 24px;
  padding:4px 8px;
  margin: 4px 0;
  font-size:11px;
  font-weight:bold;
  box-shadow: 0 1px 3px rgba(0,0,0,0.25);
  .legend-end {
    float:right;
  }
}

@media (min-width: 767px) {
  .map-legend {
    min-width:196px;
    width:26%;
    float:right;
  }
}

// Data Panel

.data-wrapper {
  
  .header-row {
    position:absolute;
    height: $headerRowHeight;
    top:0;
    left:0;
    right:0;
  }
  .header-row-title {
    margin-top:14px;
  }
  .data-content {
    width:100%;
    height:100%;
    padding:0 $defaultPadding;
    box-sizing: border-box;
    overflow:auto;
    border-top: 1px solid #eee;
    .data-content-inner {
      position:relative;
      max-width: $maxContentWidth;
      padding: 16px;
      margin:auto;
    }
  }
  .prototype-image {
    width:100%;
    max-width:992px;
    margin:auto;
    display:block;
  }
}

// Header Row w/ Stats (for tooltips and data panel)

.header-row {
  max-width: $maxContentWidth;
  margin: auto;
  padding: 0 $defaultPadding;
  box-sizing: border-box;
  width: 100%;
  position:relative;
  .header-row-title {
    margin: $defaultPadding 0 0 0;
    padding: 0;
    line-height:1;
    font-size:21px;
  }
  .header-row-subtitle {
    display:block;
    margin-top:4px;
  }
  .close {
    position: absolute;
    top: $defaultPadding;
    right: $defaultPadding;
    font-size:32px;
    line-height:1;
  }
  ul.header-row-stats {
    list-style: none;
    margin:0;
    padding:0;
    position:absolute;
    right:0;
    top:$defaultPadding;
  }
  ul.header-row-stats li {
    display:inline-block;
    padding: 0 $defaultPadding;
    border-right: 1px solid #ccc;
    text-align:right;
  }
  ul.header-row-stats li:last-child {
    border-right:none;
  }
  .header-row-stat-value {
    font-size: 24px;
    line-height:1;
    display:block;
  }
  .header-row-stat-label {
    font-size:12px;
    color: #999;
  }
}


.map-wrapper .mapboxgl-ctrl-top-left {
  left:auto;
  right: 16px;
}

.year-slider {
  @include fill-parent();
  margin:auto;
  width: 100%;
  height:40px;
  z-index: 10;
  top:auto;
  background:#fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  padding: 0 16px;
  app-ui-slider {
    position:relative;
    height:100%;
    display:block;
    max-width: $maxContentWidth;
    margin:auto;
  }
}

app-graph { display: block; width:100%; }
@media(min-width: 768px) { app-graph { width:66%; float:left; clear:both;} }

.card-wrapper {
  pointer-events: all;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:auto;
  height:312px;
  margin:auto;
  app-map-tooltip { 
    position:absolute;
    top:0;
    left:0;
    width:200px;
    height:100%;
    &:nth-child(2) {
      left: 200px;
    }
    &:nth-child(3) {
      left: 400px;
    }
  }
  
}

// PROTOTYPE DATA - GARBAGE CSS ALERT

.data-wrapper {
  box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  .header-row button.btn-close {
    font-size: 24px;
    position:absolute;
    right:24px;
    top:24px;
    z-index:1000;
  }
}

.graph-header {
  margin:4px 0 12px 0;
  h3 {
    display: inline-block;
    font-size: 16px;
    text-transform:uppercase;
  }
  app-ui-select {
    width: 72px;
    display:inline-block;
    position: relative;
    top: -2px;
    margin: 0 8px;
  }
  .graph-header-right {
    position:absolute;
    right: 0;
    top:0;
    
  }
}

.graph-legend {
  list-style:none;
  margin:0;
  padding:16px;
  .graph-marker {
    display:inline-block;
    width:16px;
    height:16px;
    margin-right: 8px;
  }
  li {
    position:relative;
    font-size:16px;
    margin: 16px 0;
    &:nth-child(1) .graph-marker { background: $graphColor1; }
    &:nth-child(2) .graph-marker { background: $graphColor2; }
    &:nth-child(3) .graph-marker { background: $graphColor3; }
    &:nth-child(4) .graph-marker { background: $graphColor4; }
    .btn-close {position: absolute; right: 0; top:0;}
  }
}

.data-panel-footer {
  clear:both;
  display:flex;
  align-content: space-between;
  align-items:center;
  justify-content: space-around;
  .action-wrapper {
    width:220px;
    text-align:center;
    button { display:block; width: 80%; margin:auto;}
    span { color: #999; font-size: 11px;}
  }
}

.data-panel-cards {
  clear:both;
  display:flex;
  align-content: space-between;
  align-items:stretch;
  justify-content: space-between;
  margin-top:24px;
  margin-bottom: 48px;
  .card {
    border: 1px solid #ccc;
    min-width:240px;
    flex: 1;
    padding:0;
    margin-right: 16px;
    box-sizing: border-box;
    &:last-child {
      margin-right:0;
    }
  }
  .card.card-empty {
    border: 1px dotted #ccc;
    padding:16px;
    .card-heading {
      color: #999;
      background:none!important;
      margin: -16px -16px 0;
    }
    app-predictive-search {
      position:relative;
      z-index:1000;
    }
  }
  .card-heading {
    padding: 12px;
    margin:0;
    color: $altTextColor; 
    small { color: $altTextColor; }
  }
  .card:nth-child(1) .card-heading { background: $graphColor1; }
  .card:nth-child(3) .card-heading { background: $graphColor3; }
  .card:nth-child(2) .card-heading { background: $graphColor2; }
  .card-content {
    ul { 
      list-style: none; 
      margin:0;
      padding:12px;
    }
    li {
      text-align:right;
      margin-top:4px;
      .card-label { float:left; }
    }
  }
}

.data-panel-site-footer {
  padding-top: 32px;
  background: rgb(43,43,43);
  height:300px;
  margin: 24px -16px 0;
}

.app-wrapper .data-wrapper { overflow:hidden; }