/* You can add global styles to this file, and also import other style files */

@import 'theme';

// PAGE STYLES

html, body {
  background: #fff;
  margin:0;
  padding:0;
  width:100%;
  height:100%;
  font-family: $fontStack!important;
}


.btn.btn-close { 
  font-size: 24px; 
  width:40px;
  height:40px;
  background:none;
  line-height:1;
}

.app-wrapper app-ui-slider .el-slider .track.track-value {
  background:none!important;
}

.data-content .location-card {
  flex:1;
  .card-footer { display: none;}
}

.eviction-select { display:none;}
.header-content > .btn { display: none; }
.app-wrapper .header-content .language-select { right: 16px!important; }

.footer {
  padding: 64px 0;
  background: rgb(43,43,43);
  height:400px;
  margin: 24px 0 0 0;
  width:100%;
  .placeholder {
    max-width: 840px;
    margin:auto;
    img { width:100%; }
  }
}
