// Import theming mixins
@import "theme/mixins/utils.scss";
@import "theme/mixins/ui-slider.theme";
@import "theme/mixins/ui-graph.theme";
@import "theme/mixins/ui-toggle.theme";
@import "theme/mixins/ui-select.theme";
@import "theme/mixins/ui-dialog.theme";
@import "theme/mixins/predictive-search.theme";
@import "theme/mixins/progress-bar.theme";

// Defaults

$maxContentWidth: 1200px;
$defaultPadding: 16px;
$z1shadow: 0 1px 3px rgba(0,0,0,0.3);
$z2shadow: 0 2px 5px rgba(0,0,0,0.5);
$z3shadow: 0 2px 5px rgba(0,0,0,0.5), 0 2px 10px rgba(0,0,0,0.5);

// Typography
$fontStack: Akkurat-Regular, sans-serif;
$boldFontStack: Akkurat-Bold, sans-serif;
$altFontStack: GT-Eesti-Text-Bold, sans-serif;

$microTextSize: 9px;
$miniTextSize: 11px;

@mixin microLabelText() {
  font-family: $boldFontStack;
  font-size: $microTextSize;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 0.7px;
}

@mixin miniLabelText() {
  font-family: $boldFontStack;
  font-size: $miniTextSize;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 1px;
}

// Colors
$textColor: #000;
$secondaryTextColor: rgba(0,0,0,0.5);
$altTextColor: #fff; // for dark backgrounds
$linkColor: #22ABED;

$defaultBackground: #fff;
$secondaryBackground: #F4F7F9;

$color1: #e24000;
$color2: #2c897f;
$color3: #434878;
$color4: #4a4238;
$color5: #b5c2b7;

// Buttons

$primaryButtonColor: $color1;
$closeButtonColor: rgba(0,0,0,0.5);
$altCloseButtonColor: #fff;

// Graph
$graphColor1: $color1;
$graphColor2: $color2;
$graphColor3: $color3;
$graphColor4: $color4;

app-graph { @include graph-colors($graphColor1, $graphColor2, $graphColor3, $graphColor4); }

// Toggles
$toggleBorderColor: #efefef;
$toggleForeground: #C6CCCF;
$toggleBackground: #fff;
$toggleSelectedBackground: $color1;
$toggleSelectedForeground: $altTextColor;
$toggleHoverForeground: #000;

// Slider
$sliderText: $altTextColor;
$sliderBackground: #000;
$sliderTrack: rgba(0,0,0,0.15);

// Select Dropdowns
$selectText: $textColor;
$selectLabelText: $secondaryTextColor;
$selectBackground: #fff;
$selectHighlightText: $textColor;
$selectHighlightBackground: #eee;
$selectCaret: $color1;

// Progress Bars
$progressBarColor: $color1;

// Cards
$cardBg: $defaultBackground;
$cardHeaderBg1: $color1;
$cardHeaderBg2: $color2;
$cardHeaderBg3: $color3;
$cardHeaderBg4: $color4;
$cardHeaderText: $altTextColor;
$cardHeaderTextSize: 16px;
$cardLabelText: rgba(0,0,0,0.33);
$cardLabelTextSize: 11px;
$cardValueTextSize: 18px;

// Header
$headerHeightSm: 56px;
$headerHeightLg: 90px;
$headerContentHeight: 56px; // height form field / buttons on large displays
$headerButtonColor: #666; // color for mobile icon buttons
$headerActiveButtonColor: $color1; // color for active mobile icon button

// Search
$searchTextColor: $textColor;
$searchHighlightTextColor: $defaultBackground;
$searchHighlightBackgroundColor: $color1;
$searchPlaceholderColor: $secondaryTextColor;

// Sizing - panel header
$headerRowHeight: 72px;


// TODO: 
// - standard values for shadow levels
// - type definitions / sizes