// Import theming mixins
@import "theme/utils.scss";
@import "theme/ui-slider.theme";
@import "theme/ui-graph.theme";
@import "theme/ui-toggle.theme";
@import "theme/ui-select.theme";
@import "theme/ui-dialog.theme";
@import "theme/predictive-search.theme";
@import "theme/progress-bar.theme";

// Defaults

$maxContentWidth: 1024px;
$defaultPadding: 16px;
$z1shadow: 0 1px 3px rgba(0,0,0,0.25);
$z2shadow: 0 2px 5px rgba(0,0,0,0.5);
$z3shadow: 0 2px 5px rgba(0,0,0,0.5), 0 2px 10px rgba(0,0,0,0.5);

// Typography
$fontStack: Roboto, sans-serif;

// Colors
$textColor: #000;
$secondaryTextColor: rgba(0,0,0,0.5);
$altTextColor: #fff; // for dark backgrounds

$color1: #e24000;
$color2: #2c897f;
$color3: #434878;
$color4: #4a4238;
$color5: #b5c2b7;

// Colors - graph
$graphColor1: $color1;
$graphColor2: $color2;
$graphColor3: $color3;
$graphColor4: $color4;

app-graph { @include graph-colors($graphColor1, $graphColor2, $graphColor3, $graphColor4); }

// Colors - toggles
$toggleBorderColor: #ccc;
$toggleForeground: #ccc;
$toggleBackground: #fff;
$toggleSelectedBackground: $color1;
$toggleSelectedForeground: $altTextColor;
$toggleHoverForeground: #000;

// app-ui-toggle { @include ui-toggle-colors($toggleBorderColor, $toggleBackground, $toggleSelectedBackground, $toggleHoverBackground, $toggleForeground, $toggleSelectedForeground); }  

// Colors - slider
$sliderText: $altTextColor;
$sliderBackground: $color1;
$sliderTrack: rgba(0,0,0,0.2);

app-ui-slider { @include slider-colors($sliderText, $sliderBackground, $sliderTrack); }

// Colors - select
$selectText: $textColor;
$selectLabelText: $secondaryTextColor;
$selectBackground: #fff;
$selectHighlightText: $textColor;
$selectHighlightBackground: #eee;
$selectCaret: $color1;

app-ui-select { @include ui-select-colors($selectText,$selectBackground,$selectLabelText,$selectHighlightBackground,$selectHighlightText,$selectCaret); }

// Colors - progress bar
$progressBarColor: $color1;

app-progress-bar { @include progress-bar-colors($progressBarColor); }

// Cards
$cardBg: #fff;
$cardHeaderBg1: $color1;
$cardHeaderBg2: $color2;
$cardHeaderBg3: $color3;
$cardHeaderBg4: $color4;
$cardHeaderText: $altTextColor;
$cardHeaderTextSize: 16px;
$cardLabelText: rgba(0,0,0,0.33);
$cardLabelTextSize: 11px;
$cardValueTextSize: 18px;

// Sizing - toolbar
$toolbarHeight: 56px;

// Sizing - panel header
$headerRowHeight: 72px;


// TODO: 
// - standard values for shadow levels
// - type definitions / sizes