// Import theming mixins
@import "theme/mixins/utils.scss";
@import "theme/mixins/ui-toggle.theme";
@import "theme/mixins/ui-dialog.theme";
@import "theme/mixins/predictive-search.theme";
@import "theme/mixins/progress-bar.theme";


// Layout
// ----

// shortcut function for sizing based on grid
@function grid($n) { @return $n * $gridSize; }

$gridSize: 8px; // base grid value used for margins and element sizing
$defaultPadding: grid(2); // default padding for containers
$pageMargin: grid(2); // page margin on mobile
$pageMarginLg: grid(3); // page margin on tablet+
$maxContentWidth: 1200px; // max width for page content
$gtMobile: 767px; // greater than mobile device breakpoint
$gtTablet: 1024px; // greater than tablet device breakpoint
$gtSmallDesktop: 1279px; // greater than small desktop device breakpoint
$gtLargeDesktop: 1599px; // greater than large desktop device breakpoint


// Typography
// ----
$fontStack: Akkurat-Regular, sans-serif;
$boldFontStack: Akkurat-Bold, sans-serif;
$altFontStack: GT-Eesti-Text-Bold, sans-serif;
$numberFontStack:  "Gotham A", "Gotham B", sans-serif;

@mixin defaultFont($size) {
  font-family: $fontStack;
  font-size: $size;
  font-weight: normal;
}

@mixin defaultFontBold($size) {
  font-family: $boldFontStack;
  font-size: $size;
  font-weight: normal;
}

@mixin altFont($size) {
  font-family: $altFontStack;
  font-size: $size;
  font-weight: normal;
}

@mixin numberFont($size) {
  font-family: $numberFontStack;
  font-size: $size;
  font-weight: normal;
}

@mixin smallCapsText($size) {
  @include defaultFontBold($size);
  text-transform: uppercase;
  letter-spacing: 0.7px;
}

@mixin inputText() {
  @include defaultFont(18px);
}

// Base Colors
// ----
$black: #050403;
$grey0: #666;
$grey1: #7F7F7F;
$grey2: #A3A7A8;
$grey3: #C6CCCF;
$grey4: #efefef;
$grey5: #F4F7F9;
$white: #fff;
$color1: #e24000;
$color2: #434878;
$color3: #2c897f;
$color4: #4a4238;
$color5: #b5c2b7;
$gradient1: linear-gradient(180deg, #F27636, #E04119);
$gradient2: linear-gradient(180deg, #787EB0, #434878);
$gradient3: linear-gradient(180deg, #57BEB6, #2C897F);
$gradient4: linear-gradient(180deg, #C6D5E0, #94AABD);
$shadingColor: $grey4;
$textColor: $black;
$secondaryTextColor: $grey2;
$altTextColor: $white; // text on dark backgrounds
$defaultBackground: $white;
$linkColor: $color1;
$secondaryBackground: $grey5;

// Shadows
// ----
$z1shadow: 0 1px 4px 0 rgba(0,0,0,0.30);
$z2shadow: 0 2px 5px rgba(0,0,0,0.5);
$z3shadow: 0 2px 5px rgba(0,0,0,0.5), 0 2px 10px rgba(0,0,0,0.5);

// Buttons
// ----
// layout
$buttonHeight: grid(7);
$buttonHeightSm: grid(5);
// colors
$buttonColor: $shadingColor;
$buttonHoverColor: darken($buttonColor, 5%);
$primaryButtonColor: $color1;
$primaryButtonHoverColor: darken($color1, 3%);
$closeButtonColor: rgba(0,0,0,0.5);
$altCloseButtonColor: #fff;
// fonts
$buttonTextSize: 14px;

$pageNavButtonWidth: grid(24); // buttons to toggle between data and map

// Graph
// ----
$graphColor1: $color1;
$graphColor2: $color2;
$graphColor3: $color3;
$graphColor4: $color4;
$graphAxisLines: #fff;
$graphAxisLabels: #919191;


// UI Toggle
// ----
$toggleBorderColor: $shadingColor;
$toggleForeground: #C6CCCF;
$toggleBackground: #fff;
$toggleSelectedBackground: $color1;
$toggleSelectedForeground: $altTextColor;
$toggleHoverForeground: #000;

// UI Switch
// ----
$onTextColor: #050403;
$offTextColor: #919191;
$switchBorder: 5px solid $color1;
$switchTextSize: 14px;
$switchTrackColor: #c6cccf;

// Slider
$sliderText: $altTextColor;
$sliderBackground: #000;
$sliderTrack: #C6CCCF;
$sliderLabel: #A3A7A8;
$timeSliderHeight: grid(5); // 40px
$timeSliderLg: grid(11); // 88px
$timeSliderBackground: $defaultBackground;

// Select Dropdowns
$selectText: $textColor;
$selectLabelText: $secondaryTextColor;
$selectBackground: #fff;
$selectHighlightText: $textColor;
$selectHighlightBackground: #eee;
$selectCaret: $color1;

// Progress Bars
$progressBarColor: $color1;

// Cards
// ----
// layout
$cardWidth: grid(25);
$cardHeaderHeight: grid(15);
$cardBarHeight: 10px;
// colors
$cardBg: $defaultBackground;
$cardHeaderBg1: $color1;
$cardHeaderBg2: $color2;
$cardHeaderBg3: $color3;
$cardHeaderBg4: $color4;
$cardHeaderText: $altTextColor;
$cardLabelText: #919191;
$cardValueText: #050403;

// colors - cards in data panel
$panelCardLabelText: #050403;
$panelCardValueText: #434878;
$panelCardBorder: $shadingColor;
// font sizes
$cardHeadingSize: 19px;
$cardSubheadingSize: 13px;
$cardLabelTextSize: 15px;
$cardValueTextSize: 24px;
// font sizes - data panel treatment
$panelCardHeadingSize: 20px;
$panelCardSubheadingSize: 14px;
$panelCardLabelTextLg: 11px;
$panelCardLabelValueLg: 21px;
$panelCardStatTextSize: 14px;
// font sizes - data panel greater than tablet
$panelCardLabelTextLg_t: 13px;
$panelCardLabelValueLg_t: 24px;
$panelCardStatTextSize_t: 18px;
// font sizes - add location
$cardAddLocationTextSize: 16px; 
$cardAddLocationTextSize_t: 21px; 


// Header Bar
// ----
$headerHeightSm: grid(7);
$headerHeightLg: grid(11);
$headerContentHeight: grid(7); // height form field / buttons on large displays
$headerButtonColor: #666; // color for mobile icon buttons
$headerActiveButtonColor: $color1; // color for active mobile icon button

// Search
$searchTextColor: $textColor;
$searchHighlightTextColor: $defaultBackground;
$searchHighlightBackgroundColor: $color1;
$searchPlaceholderColor: $secondaryTextColor;
$searchHeight: grid(7);

// Legend
$legendHeight: grid(5);
$legendBackground: #fff;
$legendIconColor: #666;
$legendIconBackground: $defaultBackground;
$legendFontSize: 10px;
$legendTextColor: #7f7f7f;

// Mapbox
$tooltipBackground: #050403;
$tooltipFontColor: #fff;

// TODO: 
// - standard values for shadow levels
// - type definitions / sizes