// Import theming mixins
@import "theme/mixins/utils.scss";
@import "theme/mixins/ui-toggle.theme";
@import "theme/mixins/ui-dialog.theme";
@import "theme/mixins/progress-bar.theme";


// Layout
// ----

// shortcut function for sizing based on grid
@function grid($n) { @return $n * $gridSize; }

$gridSize: 8px; // base grid value used for margins and element sizing
$defaultPadding: grid(2); // default padding for containers
$pageMargin: grid(2); // page margin on mobile
$pageMarginLg: grid(3); // page margin on tablet+
$maxContentWidth: 1200px; // max width for page content
$gtMobile: 767px; // greater than mobile device breakpoint
$gtTablet: 1023px; // greater than tablet device breakpoint
$gtLaptop: 1439px; // greater than laptop device breakpoint


// Typography
// ----
$fontStack: Akkurat-Regular, sans-serif;
$boldFontStack: Akkurat-Bold, sans-serif;
$altFontStackMedium: GT-Eesti-Text-Medium, sans-serif;
$altFontStack: GT-Eesti-Text-Bold, sans-serif;
$numberFontStack:  "Gotham A", "Gotham B", sans-serif;

@mixin defaultFont($size) {
  font-family: $fontStack;
  font-size: $size;
  font-weight: normal;
}

@mixin defaultFontBold($size) {
  font-family: $boldFontStack;
  font-size: $size;
  font-weight: normal;
}

@mixin altFont($size) {
  $letterSpacingRatio: (0.4 / 16);
  font-family: $altFontStack;
  font-size: $size;
  font-weight: normal;
  letter-spacing: $letterSpacingRatio * $size;
}

@mixin altFontMedium($size) {
  $letterSpacingRatio: (0.4 / 16);
  font-family: $altFontStackMedium;
  font-size: $size;
  font-weight: normal;
  letter-spacing: $letterSpacingRatio * $size;
}


@mixin numberFont($size) {
  font-family: $numberFontStack;
  font-size: $size;
  font-weight: 500; // Gotham Medium @ 500
}

@mixin smallCapsText($size) {
  $letterSpacingRatio: 0.066666666666667;
  @include defaultFontBold($size);
  text-transform: uppercase;
  letter-spacing: $size*$letterSpacingRatio;
}

@mixin altSmallCapsText($size) {
  $letterSpacingRatio: (0.9 / 16);
  @include altFont($size);
  text-transform: uppercase;
  letter-spacing: $size*$letterSpacingRatio;
}

@mixin altSmallCapsTextMedium($size) {
  $letterSpacingRatio: (0.9 / 16);
  @include altFontMedium($size);
  text-transform: uppercase;
  letter-spacing: $size*$letterSpacingRatio;
}

@mixin dataPanelHeader($size) {
  @include defaultFont($size);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  span {
    @include defaultFontBold($size);
  }
}

@mixin inputText() {
  @include defaultFont(18px);
}

// Base Colors
// ----
$black: #050403;
$grey0: #666;
$grey1: #7F7F7F;
$grey1a: #919191;
$grey2: #A3A7A8;
$grey2a: #B2B5B7;
$grey3: #C6CCCF;
$grey4: #efefef; 
$grey4a: #EEF2F5;
$grey5: #F4F7F9;
$grey5a: #F9FAFB;
$white: #fff;
$red: #f00;
$color1: #e24000;
$color2: #434878;
$color3: #2c897f;
$color4: #94AABD;
$color5: #b5c2b7;
$color6: #EEF2F5;

$gradient1: linear-gradient(180deg, #F27636, #E04119);
$gradient2: linear-gradient(180deg, #787EB0, #434878);
$gradient3: linear-gradient(180deg, #57BEB6, #2C897F);
$gradient4: linear-gradient(180deg, #C6D5E0, #94AABD);
$shadingColor: $grey4;
$textColor: $black;
$secondaryTextColor: $grey2;
$altTextColor: $white; // text on dark backgrounds
$defaultBackground: $white;
$linkColor: $color1;
$secondaryBackground: $grey5;
$focusBgColor: #FFE8DE;
$iconColor: #666;

// Shadows
// ----
$z1shadow: 0 3px 6px 0 rgba(145,145,145,0.23);
$z2shadow: 0 6px 6px 0 rgba(145,145,145,0.26);
$z3shadow: 0 10px 10px 0 rgba(145,145,145,0.26);
$z4shadow: 0 15px 12px 0 rgba(145,145,145,0.22);

@mixin focusState() {
  outline: 0;
  box-shadow: 0 0 5px 1px $color1;
  border-color: $color1;
}

// Header Bar
// ----
$headerHeightSm: grid(7);
$headerHeightLg: grid(10);
$headerContentHeight: grid(7); // height form field / buttons on large displays
$headerButtonColor: $grey0; // color for mobile icon buttons
$headerActiveButtonColor: $color1; // color for active mobile icon button

// Search
$searchTextColor: $textColor;
$searchHighlightTextColor: $defaultBackground;
$searchHighlightBackgroundColor: $color1;
$searchPlaceholderColor: $secondaryTextColor;
$searchHeight: grid(7);

// MENU
// ----
$menuBg: $color2;
$menuShadow: $z4shadow;
$menuWidth: grid(37); // 296px, leaves 24px gutter on 320px device 
$menuWidthLg: grid(52); // 416px
$menuGrey: $grey2;

// Buttons
// ----
// layout
$buttonHeight: grid(7);
$buttonHeightSm: grid(5);
// colors
$buttonColor: $shadingColor;
$buttonHoverColor: darken($buttonColor, 5%);
$primaryButtonColor: $color1;
$primaryButtonHoverColor: #F9471A;
$closeButtonColor: rgba(0,0,0,0.5);
$altCloseButtonColor: #fff;
// fonts
$buttonTextSize: 14px;

$pageNavButtonWidth: grid(24); // buttons to toggle between data and map

// Close button (default and light colors for dark bgs)
$closeButton: $grey2a;
$closeButtonBg: transparent;
$closeButtonHover: $color1;
$closeButtonHoverBg: transparent;
$closeCircleBorder: 2px solid $grey4a;
$lightCloseButton: $white;
$lightCloseButtonBg: transparent;
$lightCloseButtonHover: $grey2;
$lightCloseButtonHoverBg: transparent;


// Toast messages
// ----
$toastBackground: $black;
$toastColor: $white;
$toastText: 12px;
$toastText_lptp: 14px;


// UI Toggle
// ----
$toggleBorderColor: $shadingColor;
$toggleForeground: $grey3;
$toggleBackground: #fff;
$toggleSelectedBackground: $color1;
$toggleSelectedForeground: $altTextColor;
$toggleHoverForeground: #000;

// UI Switch
// ----
$onTextColor: $black;
$offTextColor: $grey1a;
$switchBorder: 5px solid $color1;
$switchTextSize: 14px;
$switchTrackColor: $grey3;

// Slider
$sliderText: $altTextColor;
$sliderBackground: #000;
$sliderTrack: $grey3;
$sliderLabel: $grey2;
$timeSliderHeight: grid(5); // 40px
$timeSliderLg: grid(10); // 88px
$timeSliderBackground: $defaultBackground;

// Select Dropdowns
$selectText: $textColor;
$selectLabelText: $secondaryTextColor;
$selectBackground: #fff;
$selectHighlightText: $textColor;
$selectHighlightBackground: #eee;
$selectCaret: $color1;

// Progress Bars
$progressBarColor: $color1;

// Mobile Scroll Indicator
$mobileScrollIndicatorHeight: grid(5);

// Cards
// ----
// layout
$cardWidth: grid(25);
$cardHeaderHeight: grid(15);
$cardBarHeight: 10px;
// colors
$cardBg: $defaultBackground;
$cardHeaderBg1: $color1;
$cardHeaderBg2: $color2;
$cardHeaderBg3: $color3;
$cardHeaderBg4: $color4;
$cardHeaderText: $altTextColor;
$cardLabelText: $grey1a;
$cardValueText: $black;;
$cardHoverBg: linear-gradient(180deg, #fff 20%, $color6);

// colors - cards in data panel
$panelCardLabelText: $black;;
$panelCardValueText: #434878;
$panelCardBorder: $shadingColor;
// font sizes
$cardHeadingSize: 19px;
$cardSubheadingSize: 13px;
$cardLabelTextSize: 15px;
$cardValueTextSize: 24px;
// font sizes - data panel treatment
$panelCardHeadingSize: 20px;
$panelCardSubheadingSize: 14px;
$panelCardLabelTextLg: 11px;
$panelCardLabelValueLg: 21px;
$panelCardStatTextSize: 14px;
// font sizes - data panel greater than tablet
$panelCardLabelTextLg_t: 13px;
$panelCardLabelValueLg_t: 24px;
$panelCardStatTextSize_t: 18px;
// font sizes - add location
$cardAddLocationTextSize: 12px; 
$cardAddLocationTextSize_t: 16px; 

// Legend
$legendHeight: grid(5);
$legendBackground: #fff;
$legendIconColor: #666;
$legendIconBackground: $defaultBackground;
$legendFontSize: 10px;
$legendTextColor: $grey1;

// Tooltips
$tooltipBackground: $black;;
$tooltipFontColor: $white;
$tooltipArrowSize: grid(1);

@mixin tooltip() {
  @include defaultFont(12px);
  border-radius:0;
  padding: grid(1);
  background: $tooltipBackground;
  color: $tooltipFontColor;
  max-width: grid(30);
}


// Map tool component heights, software button
$iosSafariPadding: grid(9);
$androidPadding: grid(7);

// Graph
// ----
$graphColor1: $color1;
$graphColor2: $color2;
$graphColor3: $color3;
$graphColor4: $color4;
$graphAxisLines: #fff;
$graphAxisLabels: $grey1a;

// Footer
// ----
$footerGradientFrom: #282828;
$footerGradientTo: #2F2D2B;
$footerIconBorder: #333;
$footerHoverIconBorder: $white;
$footerCopyrightColor: $grey2a;


// Rankings
$rankingsBg1: $color6;

// Utility
// Delay vh height transition on mobile to prevent jump on scroll
// Idea from: https://abdus.co/blog/preventing-vh-jump-on-mobile-browsers
$mobileVhTransition: height 3600s steps(1);

// TODO: 
// - type definitions / sizes