@import "theme/ui-slider.theme";
@import "theme/ui-graph.theme";
@import "app/map-ui/predictive-search/predictive-search.theme";

// Typography
$fontStack: Roboto, sans-serif;

// Colors
$primaryColor: rgb(224,64,0);

// Colors - graph
$graphColor1: rgb(63,178,167);
$graphColor2: rgb(125,130,187);
$graphColor3: rgb(232,182,69);
$graphColor4: rgb(55,62,74);

// Sizing
$maxContentWidth: 1024px;
$defaultPadding: 16px;

// Sizing - toolbar
$toolbarHeight: 56px;

// Sizing - panel header
$headerRowHeight: 72px;

// Mixins

@mixin fill-parent() {
    position:absolute;
    width:100%;
    height:100%;
    top:0;left:0;right:0;bottom:0;
    margin:0;
    padding:0;
}


// TODO: 
// - standard values for shadow levels
// - type definitions / sizes