@import '../../../theme';

:host {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height:100%;
}

app-ui-close-button {
  position:absolute;
  top:grid(1);
  right:grid(2);
  width: grid(5);
  height: grid(5);
}

@media(min-width: $gtMobile) {
  app-ui-close-button {
    top:0;
    right:0;
  }
}
@media(min-width: $gtTablet) {
  app-ui-close-button {
    display:none;
  }
}

.ranking-ui-wrapper {
  padding-top: grid(5);
  h2 {
    @include altSmallCapsText(12px);
    line-height:1;
    margin:grid(2) 0 grid(2) 0;
    color: $grey_wcag;
  }
}
@media(min-width: $gtMobile) {
  .ranking-ui-wrapper {
    padding-top: grid(4);
  }
}
@media(min-width: $gtTablet) {
  .ranking-ui-wrapper {
    padding-top: 0;
  }
}

.ranking-ui-search {
  padding: grid(2);
}
.ranking-ui-filter {
  padding: grid(2);
  background: linear-gradient(180deg, #FAFCFD 0%, #F4F7F9 100%);
}
app-ui-hint {
  position:absolute;
  left: grid(2);
  width:grid(6);
  height: grid(6);
  z-index:10;
  ::ng-deep {
    .hint-button {
      width: 100%;
      height:100%;
      display: flex;
      align-items: center;
      justify-content:center;
      .icon { 
        width: grid(2); 
        height: grid(2);
        svg { fill: $grey_wcag; }
      }
    }
  }
}
app-ui-select {
  display:block;
  margin: grid(1) 0;
  &.hint-select {
    ::ng-deep .btn.dropdown-toggle {
      padding-left: grid(6);
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
  // keep dropdown max height low so it doesn't get overlapped by footer
  & ::ng-deep .dropdown-menu {
    max-height: grid(33);
  }
}

.ranking-ui-actions {
  padding: 0 grid(2);
  .btn {
    width: 100%;
  }
}


@media(min-width: $gtTablet) {
  .ranking-ui-search {
    background: #EEF2F5;
    margin-bottom: grid(2);
  }
  .ranking-ui-filter {
    background: linear-gradient(180deg, #FAFCFD 0%, #F4F7F9 100%);
  }
}