<div class="ranking-ui-container">
  <div class="ranking-ui-search">
    <h2>Search</h2>
    <app-predictive-search placeholder="search for places"></app-predictive-search>
  </div>
  <div class="ranking-ui-filter">
    <h2>Filter</h2> 
    <app-ui-select class="region-select z0"
      label="Region"
      [values]="regions"
      [selectedValue]="selectedRegion"
      (change)="selectedRegionChange.emit($event)"
    ></app-ui-select>
    <app-ui-select class="area-select z0"
      label="Area"
      labelProperty="name"
      [values]="areaTypes"
      [selectedValue]="selectedAreaType"
      (change)="selectedAreaTypeChange.emit($event)"
    ></app-ui-select>
    <app-ui-select class="prop-select z0"
      label="Ranking By"
      labelProperty="name"
      [values]="dataProperties"
      [selectedValue]="selectedDataProperty"
      (change)="selectedDataPropertyChange.emit($event)"
    ></app-ui-select>
  </div>
</div>
