@import '../../../theme';

:host {
  display: block;
}
.social-icons {
  width:100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  a:hover {
    text-decoration: none;
  }
  .btn {
    position:relative;
  }
  .btn .icon {
    position:absolute;
    top:0; left:0; bottom:0; right:0; // force center (IE11)
    width: grid(2.5);
    height: grid(2.5);
    fill: $grey_wcag;
    margin:auto;
  }
  .btn:hover .icon {
    fill: $black;
  }
}
