@import '../../../theme';

:host {
    @include ui-select-colors($selectText,$selectBackground,$selectLabelText,$selectHighlightBackground,$selectHighlightText,$selectCaret);
}

.el-select {
    width: auto;
    display:block;
    position:relative;
    .dropdown-menu {
      border-radius: 0;
      border: none;
      margin-top: 1px;
      width: 100%;
      box-sizing: border-box;
      min-width: 140px;
      padding:0;
      max-height: 260px;
      overflow: auto;
      & > li > a {
        padding: 0px 12px;
        line-height: 40px;
        white-space: nowrap;
        border-top: 1px solid #eee;
        height: 40px;
        box-sizing: border-box;
      }
      & li:first-child a { border-top: none; }
      & > li.disabled, & > li.disabled > a {
        color: #999;
        cursor: pointer;
      }
    }
    .dropdown-toggle.btn {
      position:relative;
      border:none;
      border-radius: 0;
      box-shadow: 0 1px 1px rgba(0,0,0,0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: 0.04em;
      font-size:12px;
      width:100%;
      text-align:left;
      padding-right: 32px;
      .svg-down-arrow {
        position:absolute;
        right:8px;
        top:11px;
        width:14px;
        height: 8px;
        polyline {
          stroke: $selectCaret;
          stroke-width: 2px;
          fill:none;
        }
      }
    }
  }