@import "ui-slider.theme";

$sliderTextColor: #fff;
$sliderForegroundColor: #333;
$sliderBackgroundColor: #ccc;

:host-context(.theme-default) {
    @include slider-colors($sliderTextColor, $sliderForegroundColor, $sliderBackgroundColor);
}

.el-slider {
    width:100%;
    height:100%;
    pointer-events: all;
    position:relative;
    cursor: pointer;
    user-select: none;
    .track {
        position:absolute;
        height:4px;
        top:0;
        bottom:0;
        margin:auto;
    }
    .track-value {
        transition: width 0.1s ease;
    }
    .track-full { 
        width:100%; 
    }
    .scrubber {
        position:absolute;
        width: 40px;
        height:40px;
        top:0;left:0;bottom:0;
        margin:auto;
        margin-left:-20px;
        transition: left 0.1s ease;
        cursor: move;
        &:hover .scrubber-marker {
            transform: scale(1.3333);
        }
    }
    .scrubber-label {
        position:absolute;
        text-align:center;
        padding: 4px;
        font-size:10px;
        top: -20px;
        left:0;right:0;
        margin:auto;
        &:after {
            // label arrow
            content:'';
            position:absolute;
            width:0;height:0;
            left:0;
            right:0;
            margin:auto;
            border: 7px solid transparent;
            top:20px;
        }
    }
    // circle marker for scrubber
    .scrubber-marker {
        width:12px;
        height:12px;
        border-radius: 6px;
        margin:auto;
        position:absolute;
        top:0;left:0;right:0;bottom:0;
        transition: transform 0.2s ease;
        transform: scale(1);
    }
}

// vertical styles
.el-slider.vertical {
    .track {
        width:4px;
        position: absolute;
        left:0;
        right:0;
        top:auto;
        bottom:0;
        margin:auto;
    }
    .track-full {
        width:4px;
        height:100%;
    }
    .scrubber {
        margin-left:auto;
        top:auto;
        margin-bottom: -20px;
    }
    .scrubber-label {
        top: 0;
        bottom: 0;
        left:32px;right:auto;
        margin:auto;
        line-height: 1;
        height: 18px;
        min-width: 32px;
        &:after {
            left: -11px;
            right: auto;
            top: 2px;
        }
    }
}