<div class="el-select" dropdown (isOpenChange)="onIsOpenChange()">
  <button dropdownToggle type="button" class="btn btn-small dropdown-toggle">
    <span *ngIf="label" class="el-select-label">{{label}} </span> 
    <span class="el-select-value">{{selectedLabel}}</span>
    <svg class="svg-down-arrow" viewBox="0 0 14 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g>
        <polyline points="1 1 6.81226514 6 8.34418334 4.76222126 13 1.00035534"></polyline>
      </g>
    </svg>
  </button>
  <ul #dropdownList *dropdownMenu class="dropdown-menu" role="menu">
    <li *ngFor="let value of values" role="menuitem">
      <a 
        class="dropdown-item" 
        [class.highlighted]="highlightedItem === value" 
        (click)="selectedValue = value">
        {{getLabel(value)}}
      </a>
    </li>
    <li *ngIf="bottomLabel" class="bottom-label"><a class="dropdown-item">{{bottomLabel}}</a></li>
  </ul>
</div>