<div class="tooltip-container" [class.off]="!feature" [class.preview]="feature">
  <div class="header-row">
    <div *ngIf="feature" class="tooltip-header">
      <h1 class="h3 header-row-title">
        <button class="more-button">
          <span class="glyphicon glyphicon-chevron-down"></span>
          MORE
        </button>
        {{feature.properties.n}} 
        <small class="header-row-subtitle">{{feature.properties.pl}}</small>
      </h1>
      <ul class="tooltip-stats">
        <li *ngIf="feature.properties['eviction-rate-' + dataYear ]">
          <span class="stat-value">{{ feature.properties["er" + (dataYear % 100) ] | number:'1.0-0' }}</span>
          <span class="stat-label">Evictions / 100 renter households</span>
        </li>

        <li *ngIf="feature.properties['evictions-' + dataYear ]">
          <span class="stat-value">{{ feature.properties["e-" + (dataYear % 100) ] }}</span>
          <span class="stat-label">{{ feature.properties["e-" + (dataYear % 100) ] | i18nPlural: evictionLabelMapping }}</span>
        </li>
        <li *ngIf="!feature.properties['eviction-rate-' + dataYear] && !feature.properties['evictions-' + dataYear]">
            <span class="stat-value">NO DATA</span>
        </li>
        <li class="extra-stat" *ngIf="feature.properties['average-household-size-' + dataYear]">
            <span class="stat-value">{{ feature.properties["ahs-" + (dataYear % 100)] | number:'1.0-1' }}</span>
            <span class="stat-label">Average Household Size</span>
          </li>
        <li class="extra-stat" *ngIf="feature.properties['poverty-rate-' + dataYear]">
          <span class="stat-value">{{ feature.properties["pr-" + (dataYear % 100)] | percent }}</span>
          <span class="stat-label">Poverty Rate</span>
        </li>
      </ul>
    </div>
  </div>
</div>
