<div class="tooltip-container" [class.off]="!feature" [class.preview]="feature">
  <div class="header-row">
      <div *ngIf="feature" class="tooltip-header">
        <h1 class="h3 header-row-title">
          {{feature.properties.name}} 
          <small class="header-row-subtitle">{{feature.properties["parent-location"]}}</small>
        </h1>
        <ul class="tooltip-stats">
          <li *ngIf="feature.properties['eviction-rate']">
            <span class="stat-value">{{ feature.properties["eviction-rate"] | number:'1.0-0' }}</span>
            <span class="stat-label">Evictions per 100 renter-occupied households</span>
          </li>
          <li *ngIf="feature.properties['evictions']">
            <span class="stat-value">{{ feature.properties["evictions"] }}</span>
            <span class="stat-label">{{ feature.properties["evictions"] | i18nPlural: evictionLabelMapping }}</span>
          </li>
          <li *ngIf="feature.properties['average-household-size']">
              <span class="stat-value">{{ feature.properties["average-household-size"] | number:'1.0-1' }}</span>
              <span class="stat-label">Average Household Size</span>
            </li>
          <li *ngIf="feature.properties['poverty-rate']">
            <span class="stat-value">{{ feature.properties["poverty-rate"] | percent }}</span>
            <span class="stat-label">Poverty Rate</span>
          </li>
        </ul>
      </div>  

  </div>
</div>
