.tooltip-container {
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    height:72px;
    background: rgba(255,255,255,0.9);
    z-index:50;
    color: rgba(0,0,0,0.87);
    transform: translateY(0);
    transition: transform 0.2s ease;
    padding:16px;
    box-shadow: 0 -1px 3px rgba(0,0,0,0.12);
    pointer-events:none;
    border-bottom: 1px solid #eee;
}

.tooltip-container.off {
    transform: translateY(72px);
}

.header-row {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

.header-row-title {
    margin:14px 0 0 0;
}

.tooltip-stats {
    list-style: none;
    margin:0;
    padding:0;
    position:absolute;
    right:0;
    top:18px;
}

.tooltip-stats li {
    display:inline-block;
    padding: 0 16px;
    border-right: 1px solid #ccc;
    text-align:right;
}
.tooltip-stats li:last-child {
    border-right:none;
}

.stat-value {
    font-size: 24px;
    line-height:1;
    display:block;
}

.stat-label {
    font-size:12px;
    color: #999;
}

@media(max-width: 768px) {
    .header-row .header-row-title {
        font-size:18px;
        margin-top:16px;
    }
    .header-row .header-row-subtitle {
        font-size:14px;
    }

    .stat-value {
        font-size: 18px;
        line-height:1;
        display:block;
    }
    
    .stat-label {
        font-size:10px;
        color: #999;
        display:block;
        line-height: 12px!important;
    }

    .tooltip-stats li {
        max-width: 124px;
        height:48px;
        display:inline-block;
        vertical-align: top;
        line-height: 12px;
    }
    .tooltip-stats li.extra-stat {
        display:none;
    }
}